<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>(no usar) Oficina. Flujo Arq. 1n.1. ADM. 2a. Proveedores</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>(no usar) Oficina. Flujo Arq. 1n.1. ADM. 2a. Proveedores</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/9c3694f1-2ad9-4757-862e-67c6883a3bc8.png" alt="(no usar) Oficina. Flujo Arq. 1n.1. ADM. 2a. Proveedores" usemap="#9c3694f1-2ad9-4757-862e-67c6883a3bc8map"/>
			   <map name="9c3694f1-2ad9-4757-862e-67c6883a3bc8map">
				  		        <area shape="rect" coords="1912,332,2010,382" href="../objects/d0380cbe-a31a-418e-bc4e-608fd3084e1a.html" target="element" >

				  		<area shape="rect" coords="1744,260,2032,404" href="../elements/fda091cb-6b96-412f-8c74-7b77b043c283.html"  target="element">
				  				        <area shape="rect" coords="1912,644,2010,694" href="../objects/6b5adaa8-a3a8-42c1-87d2-a80dd827367d.html" target="element" >

				  				<area shape="rect" coords="1744,572,2032,716" href="../elements/b3c5c4fb-2852-4ad8-9f84-7a5b4a69ba49.html"  target="element">
				  				        <area shape="rect" coords="1912,1004,2010,1054" href="../objects/ea66fd9f-df7f-408e-a5e9-a0f0ad077c29.html" target="element" >

				  				<area shape="rect" coords="1744,932,2032,1078" href="../elements/10ba1303-463f-4c32-89a5-5f06e75d8da7.html"  target="element">
				  				        <area shape="rect" coords="1910,836,2008,886" href="../objects/id-809f5deabb7d4ffe9ccb0832605f9702.html" target="element" >

				  				<area shape="rect" coords="1742,740,2032,908" href="../elements/0c702b4c-0680-4a4f-8fdc-83aa6dab53d5.html"  target="element">

				  		<area shape="rect" coords="1694,452,2080,1126" href="../elements/id-0c1325c6be95411585897e2ef63948f6.html"  target="element">
				  		<area shape="rect" coords="756,1512,786,1542" href="../elements/8b453835-379d-40f0-87a5-72937b85d427.html"  target="element">
				          <area shape="rect" coords="20,92,500,334" href="../objects/a990b643-11ff-4e76-8446-0a223de1738b.html" target="element" >
				  		<area shape="rect" coords="1768,20,2008,130" href="../elements/101caf1e-629c-449b-9118-af7be6fd6186.html"  target="element">
				  		        <area shape="rect" coords="324,1316,422,1366" href="../objects/0038bfe6-0a69-4b8b-942f-4808b23bffa9.html" target="element" >
				  		        <area shape="rect" coords="420,1316,518,1366" href="../objects/id-e21a2e81eba744ef83427ca7c7964d8c.html" target="element" >

				  		<area shape="rect" coords="252,1244,542,1378" href="../elements/e1060dae-8f03-492f-b931-e2bbed2bdde4.html"  target="element">
				  		        <area shape="rect" coords="852,1316,950,1366" href="../objects/id-b8377043264e42d4b3da4e04f14a827d.html" target="element" >

				  		<area shape="rect" coords="636,1244,974,1378" href="../elements/663bed31-0ca2-45ad-97f8-bc6d42ba1bfd.html"  target="element">
				  		        <area shape="rect" coords="204,1532,302,1582" href="../objects/id-41ddf83a5dbe4e29a74526f9446abfcd.html" target="element" >

				  		<area shape="rect" coords="38,1460,324,1594" href="../elements/1da07d8e-0200-48f3-ac7e-dd3ae6e73c28.html"  target="element">
				  				        <area shape="rect" coords="188,548,286,598" href="../objects/23b5bf92-60a8-4314-bdc1-a0ddda809243.html" target="element" >

				  				<area shape="rect" coords="68,476,308,610" href="../elements/4cf864c4-66b9-4103-a5c4-7a476df0c476.html"  target="element">
				  				        <area shape="rect" coords="816,980,914,1030" href="../objects/74022ed7-ec6a-4052-b489-b6379234e15b.html" target="element" >

				  				<area shape="rect" coords="668,908,936,1042" href="../elements/55dbe2a3-4277-42e8-b983-18125f3aaf6f.html"  target="element">
				  				        <area shape="rect" coords="1282,728,1380,778" href="../objects/1c13891f-b5ff-482a-9516-675eff402b8f.html" target="element" >
				  						<area shape="rect" coords="764,716,1028,790" href="../elements/87e4ed1e-d8c5-4a99-b073-0044955b33b1.html"  target="element">
				  						<area shape="rect" coords="1044,620,1284,694" href="../elements/a0ce6973-721c-4bcf-90fc-03c97e59ed01.html"  target="element">
				  						<area shape="rect" coords="1044,524,1284,598" href="../elements/05394acd-2e8e-4c27-99f7-cd9439a770f4.html"  target="element">
				  						<area shape="rect" coords="764,620,1028,694" href="../elements/d21a0a36-27ee-4d88-9e7d-b04ee2734e3a.html"  target="element">
				  						<area shape="rect" coords="764,524,1028,598" href="../elements/6189b906-5c05-4c10-b0e0-52ccb9b881ac.html"  target="element">

				  				<area shape="rect" coords="668,452,1406,838" href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html"  target="element">

				  		<area shape="rect" coords="20,380,1552,1126" href="../elements/id-d22792a5c1c141ad8b2400a68e0eb6ac.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d22792a5c1c141ad8b2400a68e0eb6ac.html" target="element"> GOB01. Colaboraci&#243;n entre Oficinas </a> </td>
											    <td> <a href="../elements/id-d22792a5c1c141ad8b2400a68e0eb6ac.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
													    <td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/6189b906-5c05-4c10-b0e0-52ccb9b881ac.html" target="element"> Servicios </a> </td>
															    <td> <a href="../elements/6189b906-5c05-4c10-b0e0-52ccb9b881ac.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/d21a0a36-27ee-4d88-9e7d-b04ee2734e3a.html" target="element"> Infraestructura </a> </td>
															    <td> <a href="../elements/d21a0a36-27ee-4d88-9e7d-b04ee2734e3a.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/05394acd-2e8e-4c27-99f7-cd9439a770f4.html" target="element"> Aplicaciones </a> </td>
															    <td> <a href="../elements/05394acd-2e8e-4c27-99f7-cd9439a770f4.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/a0ce6973-721c-4bcf-90fc-03c97e59ed01.html" target="element"> Datos </a> </td>
															    <td> <a href="../elements/a0ce6973-721c-4bcf-90fc-03c97e59ed01.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/87e4ed1e-d8c5-4a99-b073-0044955b33b1.html" target="element"> Inversion TI </a> </td>
															    <td> <a href="../elements/87e4ed1e-d8c5-4a99-b073-0044955b33b1.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/1c13891f-b5ff-482a-9516-675eff402b8f.html" target="element">  </a> </td>
													           <td> <a href="../objects/1c13891f-b5ff-482a-9516-675eff402b8f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/55dbe2a3-4277-42e8-b983-18125f3aaf6f.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
													    <td> <a href="../elements/55dbe2a3-4277-42e8-b983-18125f3aaf6f.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/74022ed7-ec6a-4052-b489-b6379234e15b.html" target="element">  </a> </td>
													           <td> <a href="../objects/74022ed7-ec6a-4052-b489-b6379234e15b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/4cf864c4-66b9-4103-a5c4-7a476df0c476.html" target="element"> Arquitecto FNA </a> </td>
													    <td> <a href="../elements/4cf864c4-66b9-4103-a5c4-7a476df0c476.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/23b5bf92-60a8-4314-bdc1-a0ddda809243.html" target="element">  </a> </td>
													           <td> <a href="../objects/23b5bf92-60a8-4314-bdc1-a0ddda809243.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/1da07d8e-0200-48f3-ac7e-dd3ae6e73c28.html" target="element"> ADM Preliminar Cambio 001 </a> </td>
											    <td> <a href="../elements/1da07d8e-0200-48f3-ac7e-dd3ae6e73c28.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-41ddf83a5dbe4e29a74526f9446abfcd.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-41ddf83a5dbe4e29a74526f9446abfcd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/663bed31-0ca2-45ad-97f8-bc6d42ba1bfd.html" target="element"> ADM Implementaci&#243;n Cambio 001 </a> </td>
											    <td> <a href="../elements/663bed31-0ca2-45ad-97f8-bc6d42ba1bfd.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-b8377043264e42d4b3da4e04f14a827d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b8377043264e42d4b3da4e04f14a827d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/e1060dae-8f03-492f-b931-e2bbed2bdde4.html" target="element"> ADM Gobierno Cambio 001 </a> </td>
											    <td> <a href="../elements/e1060dae-8f03-492f-b931-e2bbed2bdde4.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-e21a2e81eba744ef83427ca7c7964d8c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e21a2e81eba744ef83427ca7c7964d8c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/0038bfe6-0a69-4b8b-942f-4808b23bffa9.html" target="element">  </a> </td>
											           <td> <a href="../objects/0038bfe6-0a69-4b8b-942f-4808b23bffa9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/101caf1e-629c-449b-9118-af7be6fd6186.html" target="element"> Actores &#193;reas FNA </a> </td>
											    <td> <a href="../elements/101caf1e-629c-449b-9118-af7be6fd6186.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/a990b643-11ff-4e76-8446-0a223de1738b.html" target="element">  </a> </td>
									           <td> <a href="../objects/a990b643-11ff-4e76-8446-0a223de1738b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/8b453835-379d-40f0-87a5-72937b85d427.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/8b453835-379d-40f0-87a5-72937b85d427.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0c702b4c-0680-4a4f-8fdc-83aa6dab53d5.html" target="element"> Bloques de Solucion (N200...500) </a> </td>
													    <td> <a href="../elements/0c702b4c-0680-4a4f-8fdc-83aa6dab53d5.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-809f5deabb7d4ffe9ccb0832605f9702.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-809f5deabb7d4ffe9ccb0832605f9702.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/10ba1303-463f-4c32-89a5-5f06e75d8da7.html" target="element"> An&#225;lisis </a> </td>
													    <td> <a href="../elements/10ba1303-463f-4c32-89a5-5f06e75d8da7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/ea66fd9f-df7f-408e-a5e9-a0f0ad077c29.html" target="element">  </a> </td>
													           <td> <a href="../objects/ea66fd9f-df7f-408e-a5e9-a0f0ad077c29.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/b3c5c4fb-2852-4ad8-9f84-7a5b4a69ba49.html" target="element"> Dise&#241;os (N100) </a> </td>
													    <td> <a href="../elements/b3c5c4fb-2852-4ad8-9f84-7a5b4a69ba49.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/6b5adaa8-a3a8-42c1-87d2-a80dd827367d.html" target="element">  </a> </td>
													           <td> <a href="../objects/6b5adaa8-a3a8-42c1-87d2-a80dd827367d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/fda091cb-6b96-412f-8c74-7b77b043c283.html" target="element"> Contenidos </a> </td>
											    <td> <a href="../elements/fda091cb-6b96-412f-8c74-7b77b043c283.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/d0380cbe-a31a-418e-bc4e-608fd3084e1a.html" target="element">  </a> </td>
											           <td> <a href="../objects/d0380cbe-a31a-418e-bc4e-608fd3084e1a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-fb4ed8f2588c472880d8d4c5b88ecf07.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb4ed8f2588c472880d8d4c5b88ecf07.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-d22792a5c1c141ad8b2400a68e0eb6ac.html" target="element"> GOB01. Colaboraci&#243;n entre Oficinas </a> </td>
																		<td> <a href="../elements/55dbe2a3-4277-42e8-b983-18125f3aaf6f.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cd418d95e8f042708c0623f96bf4cb07.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cd418d95e8f042708c0623f96bf4cb07.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-d22792a5c1c141ad8b2400a68e0eb6ac.html" target="element"> GOB01. Colaboraci&#243;n entre Oficinas </a> </td>
																		<td> <a href="../elements/4cf864c4-66b9-4103-a5c4-7a476df0c476.html" target="element"> Arquitecto FNA </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/fb035cbf-3cf8-4a21-ab86-fd27eb66205a.html" target="element">  </a> </td>
																				<td> <a href="../elements/fb035cbf-3cf8-4a21-ab86-fd27eb66205a.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																				<td> <a href="../elements/6189b906-5c05-4c10-b0e0-52ccb9b881ac.html" target="element"> Servicios </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/95789aa6-6ea8-40f5-9867-29dd65eafce7.html" target="element">  </a> </td>
																				<td> <a href="../elements/95789aa6-6ea8-40f5-9867-29dd65eafce7.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																				<td> <a href="../elements/d21a0a36-27ee-4d88-9e7d-b04ee2734e3a.html" target="element"> Infraestructura </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0d0745dd-62a1-4f9f-837f-5b129245dcde.html" target="element">  </a> </td>
																				<td> <a href="../elements/0d0745dd-62a1-4f9f-837f-5b129245dcde.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																				<td> <a href="../elements/05394acd-2e8e-4c27-99f7-cd9439a770f4.html" target="element"> Aplicaciones </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/dedd746f-61d4-48e4-bbca-908d26af9cb7.html" target="element">  </a> </td>
																				<td> <a href="../elements/dedd746f-61d4-48e4-bbca-908d26af9cb7.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																				<td> <a href="../elements/a0ce6973-721c-4bcf-90fc-03c97e59ed01.html" target="element"> Datos </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/08e6660b-ebce-43db-9f01-9a08d5e6fd68.html" target="element">  </a> </td>
																				<td> <a href="../elements/08e6660b-ebce-43db-9f01-9a08d5e6fd68.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																				<td> <a href="../elements/87e4ed1e-d8c5-4a99-b073-0044955b33b1.html" target="element"> Inversion TI </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/88c72af6-b8ca-4854-97c4-09e69d0ed3d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/88c72af6-b8ca-4854-97c4-09e69d0ed3d1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																				<td> <a href="../elements/b3c5c4fb-2852-4ad8-9f84-7a5b4a69ba49.html" target="element"> Dise&#241;os (N100) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f25f2842-5b37-4f08-8145-5aefe485cc34.html" target="element">  </a> </td>
																				<td> <a href="../elements/f25f2842-5b37-4f08-8145-5aefe485cc34.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																				<td> <a href="../elements/0c702b4c-0680-4a4f-8fdc-83aa6dab53d5.html" target="element"> Bloques de Solucion (N200...500) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8b44f3cd-368b-40db-97e1-7c8e9e8b1d39.html" target="element">  </a> </td>
																				<td> <a href="../elements/8b44f3cd-368b-40db-97e1-7c8e9e8b1d39.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																				<td> <a href="../elements/10ba1303-463f-4c32-89a5-5f06e75d8da7.html" target="element"> An&#225;lisis </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/8e89eb4c-5307-43a6-aa61-59723ca87403.html" target="element"> detalle </a> </td>
																				<td> <a href="../elements/8e89eb4c-5307-43a6-aa61-59723ca87403.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/55dbe2a3-4277-42e8-b983-18125f3aaf6f.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
																				<td> <a href="../elements/663bed31-0ca2-45ad-97f8-bc6d42ba1bfd.html" target="element"> ADM Implementaci&#243;n Cambio 001 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-33265e7f92984122b6d2fd4a4b7ec1df.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-33265e7f92984122b6d2fd4a4b7ec1df.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/55dbe2a3-4277-42e8-b983-18125f3aaf6f.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
																				<td> <a href="../elements/e1060dae-8f03-492f-b931-e2bbed2bdde4.html" target="element"> ADM Gobierno Cambio 001 </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/6d76036b-44b8-4558-b88e-c8fbf8363d24.html" target="element"> inicia </a> </td>
																				<td> <a href="../elements/6d76036b-44b8-4558-b88e-c8fbf8363d24.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/4cf864c4-66b9-4103-a5c4-7a476df0c476.html" target="element"> Arquitecto FNA </a> </td>
																				<td> <a href="../elements/1da07d8e-0200-48f3-ac7e-dd3ae6e73c28.html" target="element"> ADM Preliminar Cambio 001 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/279fc0df-8959-412c-89b9-a3c2b9734c14.html" target="element">  </a> </td>
																				<td> <a href="../elements/279fc0df-8959-412c-89b9-a3c2b9734c14.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/4cf864c4-66b9-4103-a5c4-7a476df0c476.html" target="element"> Arquitecto FNA </a> </td>
																				<td> <a href="../elements/e1060dae-8f03-492f-b931-e2bbed2bdde4.html" target="element"> ADM Gobierno Cambio 001 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c5549b8c1857403f853cd402c44e2573.html" target="element"> detalle N100 </a> </td>
																				<td> <a href="../elements/id-c5549b8c1857403f853cd402c44e2573.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/4cf864c4-66b9-4103-a5c4-7a476df0c476.html" target="element"> Arquitecto FNA </a> </td>
																				<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
																	<tr>
																		<td> <a href="../elements/f005b216-a60d-40fa-bde5-f974c4982a78.html" target="element">  </a> </td>
																		<td> <a href="../elements/f005b216-a60d-40fa-bde5-f974c4982a78.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/1da07d8e-0200-48f3-ac7e-dd3ae6e73c28.html" target="element"> ADM Preliminar Cambio 001 </a> </td>
																		<td> <a href="../elements/8b453835-379d-40f0-87a5-72937b85d427.html" target="element"> Junction </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/20d414c4-269f-4d76-b82b-8eda05ed76b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/20d414c4-269f-4d76-b82b-8eda05ed76b5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/663bed31-0ca2-45ad-97f8-bc6d42ba1bfd.html" target="element"> ADM Implementaci&#243;n Cambio 001 </a> </td>
																		<td> <a href="../elements/8b453835-379d-40f0-87a5-72937b85d427.html" target="element"> Junction </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/c662736c-82fa-4e2e-b71a-7b67256d04af.html" target="element">  </a> </td>
																		<td> <a href="../elements/c662736c-82fa-4e2e-b71a-7b67256d04af.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/e1060dae-8f03-492f-b931-e2bbed2bdde4.html" target="element"> ADM Gobierno Cambio 001 </a> </td>
																		<td> <a href="../elements/8b453835-379d-40f0-87a5-72937b85d427.html" target="element"> Junction </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/e4e969bc-0a9c-4676-b972-e627ccd21965.html" target="element"> accede </a> </td>
																		<td> <a href="../elements/e4e969bc-0a9c-4676-b972-e627ccd21965.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/101caf1e-629c-449b-9118-af7be6fd6186.html" target="element"> Actores &#193;reas FNA </a> </td>
																		<td> <a href="../elements/fda091cb-6b96-412f-8c74-7b77b043c283.html" target="element"> Contenidos </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/7f6f0498-81f3-45a6-b850-9a1197a8ded5.html" target="element"> detalle N200...500 </a> </td>
																		<td> <a href="../elements/7f6f0498-81f3-45a6-b850-9a1197a8ded5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/8b453835-379d-40f0-87a5-72937b85d427.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-da43f4c6ae4140f58cc1823ac6f34716.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da43f4c6ae4140f58cc1823ac6f34716.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																		<td> <a href="../elements/0c702b4c-0680-4a4f-8fdc-83aa6dab53d5.html" target="element"> Bloques de Solucion (N200...500) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-22182b35b0bb4b1da77bf89e40329f0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22182b35b0bb4b1da77bf89e40329f0d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																		<td> <a href="../elements/10ba1303-463f-4c32-89a5-5f06e75d8da7.html" target="element"> An&#225;lisis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3ae0e79679a2459d9e0e55934d6b84c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ae0e79679a2459d9e0e55934d6b84c0.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																		<td> <a href="../elements/fda091cb-6b96-412f-8c74-7b77b043c283.html" target="element"> Contenidos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-877afcdfb3374d4bbf1ac21adfa948c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-877afcdfb3374d4bbf1ac21adfa948c1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																		<td> <a href="../elements/b3c5c4fb-2852-4ad8-9f84-7a5b4a69ba49.html" target="element"> Dise&#241;os (N100) </a> </td>
																	</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>