<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>(no usar) Oficina. Flujo Arq. 1n.1. ADM. 1. Interno</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>(no usar) Oficina. Flujo Arq. 1n.1. ADM. 1. Interno</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/c71da3c0-776f-4eef-b135-f3fd41024500.png" alt="(no usar) Oficina. Flujo Arq. 1n.1. ADM. 1. Interno" usemap="#c71da3c0-776f-4eef-b135-f3fd41024500map"/>
			   <map name="c71da3c0-776f-4eef-b135-f3fd41024500map">
				  		<area shape="rect" coords="1644,20,1884,130" href="../elements/101caf1e-629c-449b-9118-af7be6fd6186.html"  target="element">
				  		        <area shape="rect" coords="1788,284,1886,334" href="../objects/5b9120a8-190c-4d4e-9e84-25a21524e87c.html" target="element" >

				  		<area shape="rect" coords="1620,212,1908,358" href="../elements/fda091cb-6b96-412f-8c74-7b77b043c283.html"  target="element">
				  		        <area shape="rect" coords="1788,908,1886,958" href="../objects/id-0ba11c13c9ea4e0c969c9a5197a2fc8c.html" target="element" >

				  		<area shape="rect" coords="1620,836,1908,982" href="../elements/10ba1303-463f-4c32-89a5-5f06e75d8da7.html"  target="element">
				  		        <area shape="rect" coords="1402,632,1500,682" href="../objects/id-dfe365565a2e450eb8829ffbfac42254.html" target="element" >
				  				<area shape="rect" coords="884,572,1148,682" href="../elements/87e4ed1e-d8c5-4a99-b073-0044955b33b1.html"  target="element">
				  				<area shape="rect" coords="1164,450,1404,560" href="../elements/a0ce6973-721c-4bcf-90fc-03c97e59ed01.html"  target="element">
				  				<area shape="rect" coords="1164,332,1404,442" href="../elements/05394acd-2e8e-4c27-99f7-cd9439a770f4.html"  target="element">
				  				<area shape="rect" coords="884,450,1148,560" href="../elements/d21a0a36-27ee-4d88-9e7d-b04ee2734e3a.html"  target="element">
				  				<area shape="rect" coords="884,332,1148,442" href="../elements/6189b906-5c05-4c10-b0e0-52ccb9b881ac.html"  target="element">

				  		<area shape="rect" coords="788,260,1526,718" href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html"  target="element">
				  		        <area shape="rect" coords="452,1268,550,1318" href="../objects/eabfc22d-a131-46ce-8165-19f995302a28.html" target="element" >
				  		        <area shape="rect" coords="548,1268,646,1318" href="../objects/b1b554d6-6ec9-4157-bfca-02ac2f764b9d.html" target="element" >

				  		<area shape="rect" coords="352,1196,670,1330" href="../elements/e1060dae-8f03-492f-b931-e2bbed2bdde4.html"  target="element">
				  		        <area shape="rect" coords="956,1268,1054,1318" href="../objects/40ce139a-42a2-421d-9328-b3d4bdd081b2.html" target="element" >

				  		<area shape="rect" coords="740,1196,1078,1330" href="../elements/663bed31-0ca2-45ad-97f8-bc6d42ba1bfd.html"  target="element">
				  		        <area shape="rect" coords="186,1268,284,1318" href="../objects/71660283-b7a9-4674-a991-d2e947d5c7c8.html" target="element" >

				  		<area shape="rect" coords="20,1196,306,1330" href="../elements/1da07d8e-0200-48f3-ac7e-dd3ae6e73c28.html"  target="element">
				  		<area shape="rect" coords="524,1460,554,1490" href="../elements/38e54704-cc01-49ec-8569-d84a1620ee9a.html"  target="element">
				          <area shape="rect" coords="44,44,526,310" href="../objects/cf646660-d11b-4082-86c6-5869cc64d644.html" target="element" >
				  		<area shape="rect" coords="1620,572,1908,718" href="../elements/df2a1d59-5c88-47b4-ac30-e66771b2b55e.html"  target="element">
				  		        <area shape="rect" coords="1788,476,1886,526" href="../objects/67480a1c-17ea-4a10-9f82-aabbc76f7c55.html" target="element" >

				  		<area shape="rect" coords="1620,404,1908,550" href="../elements/b51f480f-7359-4e80-a72b-008b4da63f7e.html"  target="element">
				  		        <area shape="rect" coords="496,452,594,502" href="../objects/58e1345d-f025-4c5e-a053-5403cce169dc.html" target="element" >

				  		<area shape="rect" coords="352,380,616,514" href="../elements/043b501f-8fa1-42f9-be5a-9c32f394207f.html"  target="element">
				  		        <area shape="rect" coords="496,980,594,1030" href="../objects/fc0fb09d-05ae-44a5-8e92-8ac788f67fe1.html" target="element" >

				  		<area shape="rect" coords="352,908,616,1042" href="../elements/8f16f0c2-b5c5-4891-9983-578933e8d825.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/8f16f0c2-b5c5-4891-9983-578933e8d825.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
											    <td> <a href="../elements/8f16f0c2-b5c5-4891-9983-578933e8d825.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/fc0fb09d-05ae-44a5-8e92-8ac788f67fe1.html" target="element">  </a> </td>
											           <td> <a href="../objects/fc0fb09d-05ae-44a5-8e92-8ac788f67fe1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/043b501f-8fa1-42f9-be5a-9c32f394207f.html" target="element"> Arquitecto FNA </a> </td>
											    <td> <a href="../elements/043b501f-8fa1-42f9-be5a-9c32f394207f.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/58e1345d-f025-4c5e-a053-5403cce169dc.html" target="element">  </a> </td>
											           <td> <a href="../objects/58e1345d-f025-4c5e-a053-5403cce169dc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/b51f480f-7359-4e80-a72b-008b4da63f7e.html" target="element"> Dise&#241;os (N100) </a> </td>
											    <td> <a href="../elements/b51f480f-7359-4e80-a72b-008b4da63f7e.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/67480a1c-17ea-4a10-9f82-aabbc76f7c55.html" target="element">  </a> </td>
											           <td> <a href="../objects/67480a1c-17ea-4a10-9f82-aabbc76f7c55.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/df2a1d59-5c88-47b4-ac30-e66771b2b55e.html" target="element"> Solucion Concepto (N200...N500) </a> </td>
											    <td> <a href="../elements/df2a1d59-5c88-47b4-ac30-e66771b2b55e.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/cf646660-d11b-4082-86c6-5869cc64d644.html" target="element">  </a> </td>
									           <td> <a href="../objects/cf646660-d11b-4082-86c6-5869cc64d644.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/38e54704-cc01-49ec-8569-d84a1620ee9a.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/38e54704-cc01-49ec-8569-d84a1620ee9a.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1da07d8e-0200-48f3-ac7e-dd3ae6e73c28.html" target="element"> ADM Preliminar Cambio 001 </a> </td>
											    <td> <a href="../elements/1da07d8e-0200-48f3-ac7e-dd3ae6e73c28.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/71660283-b7a9-4674-a991-d2e947d5c7c8.html" target="element">  </a> </td>
											           <td> <a href="../objects/71660283-b7a9-4674-a991-d2e947d5c7c8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/663bed31-0ca2-45ad-97f8-bc6d42ba1bfd.html" target="element"> ADM Implementaci&#243;n Cambio 001 </a> </td>
											    <td> <a href="../elements/663bed31-0ca2-45ad-97f8-bc6d42ba1bfd.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/40ce139a-42a2-421d-9328-b3d4bdd081b2.html" target="element">  </a> </td>
											           <td> <a href="../objects/40ce139a-42a2-421d-9328-b3d4bdd081b2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/e1060dae-8f03-492f-b931-e2bbed2bdde4.html" target="element"> ADM Gobierno Cambio 001 </a> </td>
											    <td> <a href="../elements/e1060dae-8f03-492f-b931-e2bbed2bdde4.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/b1b554d6-6ec9-4157-bfca-02ac2f764b9d.html" target="element">  </a> </td>
											           <td> <a href="../objects/b1b554d6-6ec9-4157-bfca-02ac2f764b9d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/eabfc22d-a131-46ce-8165-19f995302a28.html" target="element">  </a> </td>
											           <td> <a href="../objects/eabfc22d-a131-46ce-8165-19f995302a28.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
											    <td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6189b906-5c05-4c10-b0e0-52ccb9b881ac.html" target="element"> Servicios </a> </td>
													    <td> <a href="../elements/6189b906-5c05-4c10-b0e0-52ccb9b881ac.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d21a0a36-27ee-4d88-9e7d-b04ee2734e3a.html" target="element"> Infraestructura </a> </td>
													    <td> <a href="../elements/d21a0a36-27ee-4d88-9e7d-b04ee2734e3a.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/05394acd-2e8e-4c27-99f7-cd9439a770f4.html" target="element"> Aplicaciones </a> </td>
													    <td> <a href="../elements/05394acd-2e8e-4c27-99f7-cd9439a770f4.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a0ce6973-721c-4bcf-90fc-03c97e59ed01.html" target="element"> Datos </a> </td>
													    <td> <a href="../elements/a0ce6973-721c-4bcf-90fc-03c97e59ed01.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/87e4ed1e-d8c5-4a99-b073-0044955b33b1.html" target="element"> Inversion TI </a> </td>
													    <td> <a href="../elements/87e4ed1e-d8c5-4a99-b073-0044955b33b1.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-dfe365565a2e450eb8829ffbfac42254.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-dfe365565a2e450eb8829ffbfac42254.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/10ba1303-463f-4c32-89a5-5f06e75d8da7.html" target="element"> An&#225;lisis </a> </td>
											    <td> <a href="../elements/10ba1303-463f-4c32-89a5-5f06e75d8da7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-0ba11c13c9ea4e0c969c9a5197a2fc8c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0ba11c13c9ea4e0c969c9a5197a2fc8c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/fda091cb-6b96-412f-8c74-7b77b043c283.html" target="element"> Contenidos </a> </td>
											    <td> <a href="../elements/fda091cb-6b96-412f-8c74-7b77b043c283.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/5b9120a8-190c-4d4e-9e84-25a21524e87c.html" target="element">  </a> </td>
											           <td> <a href="../objects/5b9120a8-190c-4d4e-9e84-25a21524e87c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/101caf1e-629c-449b-9118-af7be6fd6186.html" target="element"> Actores &#193;reas FNA </a> </td>
											    <td> <a href="../elements/101caf1e-629c-449b-9118-af7be6fd6186.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/521cc2d5-4acd-41b1-b448-5d0b2388878b.html" target="element"> detalle </a> </td>
																		<td> <a href="../elements/521cc2d5-4acd-41b1-b448-5d0b2388878b.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/8f16f0c2-b5c5-4891-9983-578933e8d825.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
																		<td> <a href="../elements/1da07d8e-0200-48f3-ac7e-dd3ae6e73c28.html" target="element"> ADM Preliminar Cambio 001 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a5389311-5830-4ba7-8356-637ec459d99f.html" target="element">  </a> </td>
																		<td> <a href="../elements/a5389311-5830-4ba7-8356-637ec459d99f.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/8f16f0c2-b5c5-4891-9983-578933e8d825.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
																		<td> <a href="../elements/e1060dae-8f03-492f-b931-e2bbed2bdde4.html" target="element"> ADM Gobierno Cambio 001 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3ecc1249-1634-4b0a-aa47-8622953baa23.html" target="element">  </a> </td>
																		<td> <a href="../elements/3ecc1249-1634-4b0a-aa47-8622953baa23.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/8f16f0c2-b5c5-4891-9983-578933e8d825.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
																		<td> <a href="../elements/663bed31-0ca2-45ad-97f8-bc6d42ba1bfd.html" target="element"> ADM Implementaci&#243;n Cambio 001 </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/01cd557e-9d1f-4ed6-853c-bd65d31d6ef5.html" target="element"> inicia </a> </td>
																		<td> <a href="../elements/01cd557e-9d1f-4ed6-853c-bd65d31d6ef5.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/043b501f-8fa1-42f9-be5a-9c32f394207f.html" target="element"> Arquitecto FNA </a> </td>
																		<td> <a href="../elements/8f16f0c2-b5c5-4891-9983-578933e8d825.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/54d6b1c9-751b-4cee-bbc0-01e63684ea16.html" target="element">  </a> </td>
																		<td> <a href="../elements/54d6b1c9-751b-4cee-bbc0-01e63684ea16.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/043b501f-8fa1-42f9-be5a-9c32f394207f.html" target="element"> Arquitecto FNA </a> </td>
																		<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/534960e2-5201-4ea0-8a54-602dff6b40db.html" target="element"> detalle </a> </td>
																		<td> <a href="../elements/534960e2-5201-4ea0-8a54-602dff6b40db.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/38e54704-cc01-49ec-8569-d84a1620ee9a.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a50b6b13-67ed-4ded-97d2-655c5b55757d.html" target="element">  </a> </td>
																		<td> <a href="../elements/a50b6b13-67ed-4ded-97d2-655c5b55757d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/1da07d8e-0200-48f3-ac7e-dd3ae6e73c28.html" target="element"> ADM Preliminar Cambio 001 </a> </td>
																		<td> <a href="../elements/38e54704-cc01-49ec-8569-d84a1620ee9a.html" target="element"> Junction </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/9d4bdbdf-702c-4440-a6ba-26fcb10b92d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/9d4bdbdf-702c-4440-a6ba-26fcb10b92d2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/663bed31-0ca2-45ad-97f8-bc6d42ba1bfd.html" target="element"> ADM Implementaci&#243;n Cambio 001 </a> </td>
																		<td> <a href="../elements/38e54704-cc01-49ec-8569-d84a1620ee9a.html" target="element"> Junction </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/1b5ecf67-65e8-46ac-ae89-2460fec9eca6.html" target="element">  </a> </td>
																		<td> <a href="../elements/1b5ecf67-65e8-46ac-ae89-2460fec9eca6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/e1060dae-8f03-492f-b931-e2bbed2bdde4.html" target="element"> ADM Gobierno Cambio 001 </a> </td>
																		<td> <a href="../elements/38e54704-cc01-49ec-8569-d84a1620ee9a.html" target="element"> Junction </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/08e6660b-ebce-43db-9f01-9a08d5e6fd68.html" target="element">  </a> </td>
																		<td> <a href="../elements/08e6660b-ebce-43db-9f01-9a08d5e6fd68.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																		<td> <a href="../elements/87e4ed1e-d8c5-4a99-b073-0044955b33b1.html" target="element"> Inversion TI </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dedd746f-61d4-48e4-bbca-908d26af9cb7.html" target="element">  </a> </td>
																		<td> <a href="../elements/dedd746f-61d4-48e4-bbca-908d26af9cb7.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																		<td> <a href="../elements/a0ce6973-721c-4bcf-90fc-03c97e59ed01.html" target="element"> Datos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0d0745dd-62a1-4f9f-837f-5b129245dcde.html" target="element">  </a> </td>
																		<td> <a href="../elements/0d0745dd-62a1-4f9f-837f-5b129245dcde.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																		<td> <a href="../elements/05394acd-2e8e-4c27-99f7-cd9439a770f4.html" target="element"> Aplicaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/95789aa6-6ea8-40f5-9867-29dd65eafce7.html" target="element">  </a> </td>
																		<td> <a href="../elements/95789aa6-6ea8-40f5-9867-29dd65eafce7.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																		<td> <a href="../elements/d21a0a36-27ee-4d88-9e7d-b04ee2734e3a.html" target="element"> Infraestructura </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fb035cbf-3cf8-4a21-ab86-fd27eb66205a.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb035cbf-3cf8-4a21-ab86-fd27eb66205a.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																		<td> <a href="../elements/6189b906-5c05-4c10-b0e0-52ccb9b881ac.html" target="element"> Servicios </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b4b2e10da2ed4813b1c20107ae35c543.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b4b2e10da2ed4813b1c20107ae35c543.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																		<td> <a href="../elements/b51f480f-7359-4e80-a72b-008b4da63f7e.html" target="element"> Dise&#241;os (N100) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-efa93314f5174cdfb19251a528e63104.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-efa93314f5174cdfb19251a528e63104.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																		<td> <a href="../elements/df2a1d59-5c88-47b4-ac30-e66771b2b55e.html" target="element"> Solucion Concepto (N200...N500) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9248765177ce4306ab015428dc647557.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9248765177ce4306ab015428dc647557.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																		<td> <a href="../elements/10ba1303-463f-4c32-89a5-5f06e75d8da7.html" target="element"> An&#225;lisis </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/e4e969bc-0a9c-4676-b972-e627ccd21965.html" target="element"> accede </a> </td>
																		<td> <a href="../elements/e4e969bc-0a9c-4676-b972-e627ccd21965.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/101caf1e-629c-449b-9118-af7be6fd6186.html" target="element"> Actores &#193;reas FNA </a> </td>
																		<td> <a href="../elements/fda091cb-6b96-412f-8c74-7b77b043c283.html" target="element"> Contenidos </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>