<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Gobierno SOA. 8n. 2. Funciones</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Gobierno SOA. 8n. 2. Funciones</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/e08be749-d4a4-4185-854f-5e1be85b3b74.png" alt="Gobierno SOA. 8n. 2. Funciones" usemap="#e08be749-d4a4-4185-854f-5e1be85b3b74map"/>
			   <map name="e08be749-d4a4-4185-854f-5e1be85b3b74map">
				  		<area shape="rect" coords="668,1196,908,1306" href="../elements/bb3f01d6-7cce-420a-9c55-c5fc4a920237.html"  target="element">
				  		<area shape="rect" coords="1578,452,1796,562" href="../elements/dfdf1d6f-5433-4752-8370-236d04f793d2.html"  target="element">
				  		<area shape="rect" coords="1578,332,1796,442" href="../elements/0f930450-383e-4af1-a78f-9a582601c7b5.html"  target="element">
				  		<area shape="rect" coords="1578,212,1796,322" href="../elements/410d8947-e6f4-4a96-8686-635ce4a5f833.html"  target="element">
				          <area shape="rect" coords="20,20,390,180" href="../objects/511d81bf-7f18-4a26-a0bb-5df3e0d7e5c6.html" target="element" >
				  		<area shape="rect" coords="20,740,260,850" href="../elements/101caf1e-629c-449b-9118-af7be6fd6186.html"  target="element">
				  		<area shape="rect" coords="1098,452,1412,562" href="../elements/28ec5aa9-2cf4-4a09-8281-740d885e9b1b.html"  target="element">
				  		<area shape="rect" coords="1098,332,1412,442" href="../elements/92fbd6b1-e413-4c87-b37a-b023f88e787b.html"  target="element">
				  		<area shape="rect" coords="1098,212,1412,322" href="../elements/b0e3ffe6-7789-45a3-9089-01c37e20e56b.html"  target="element">
				  		<area shape="rect" coords="234,884,474,994" href="../elements/id-8e0aea71079047d99e6a4e48bb0c7348.html"  target="element">
				  				<area shape="rect" coords="666,212,906,322" href="../elements/07d87793-92ac-4324-bb77-b9f8a32c02ad.html"  target="element">

				  		<area shape="rect" coords="618,20,956,994" href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html"  target="element">
				  		<area shape="rect" coords="234,356,474,466" href="../elements/id-07f6a5c2537447bfaae5ae6841fd026e.html"  target="element">
				  		<area shape="rect" coords="234,212,474,322" href="../elements/id-401f36e68c054603816d75ce75bd736a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Las condiciones preexistentes en el FNA indicadas arriba definen el contexto en el cual debe operar, y el que hay que enfrentar con el nuevo gobierno SOA del FNA, versi&#243;n 0.5. Esto es, para enfrentar este contexto requerimos antes que nada lo que llamaremos funciones del gobierno, y que estas sean explicitas para este contexto. del FNA. Estas funciones, adem&#225;s, deben tener un corresponsal directo, y esta es la oficina de arquitectura del FNA (LOAF), dado que esta es la que las debe ejecutar.

Las funciones que el gobierno SOA del FNA debe proveer, y que la oficina de arquitectura del FNA debe realizar, son:

* FUNC01. Vigilancia de alienaci&#243;n negocio-arquitectura
* FUNC02. Equilibrio arquitectura y procesos SOA
* FUNC03. Supervisi&#243;n de efectividad y factibilidad SOA
* FUNC04. Mejora de los &#237;ndices de efectividad (madurez) SOA
* FUNC05. Consideraciones para la puesta en marcha del gobierno SOA en el FNA
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-401f36e68c054603816d75ce75bd736a.html" target="element"> Comit&#233; de Arquitectura FNA </a> </td>
											    <td> <a href="../elements/id-401f36e68c054603816d75ce75bd736a.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-07f6a5c2537447bfaae5ae6841fd026e.html" target="element"> Arquitecto SOA encargado  </a> </td>
											    <td> <a href="../elements/id-07f6a5c2537447bfaae5ae6841fd026e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> Oficina de Arquitectura del FNA / &#193;rea de Arquitectura </a> </td>
											    <td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/07d87793-92ac-4324-bb77-b9f8a32c02ad.html" target="element"> Procesos operativos de la Oficina </a> </td>
													    <td> <a href="../elements/07d87793-92ac-4324-bb77-b9f8a32c02ad.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8e0aea71079047d99e6a4e48bb0c7348.html" target="element"> Comit&#233; de Cambios FNA </a> </td>
											    <td> <a href="../elements/id-8e0aea71079047d99e6a4e48bb0c7348.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b0e3ffe6-7789-45a3-9089-01c37e20e56b.html" target="element"> FUN01. Centralizar </a> </td>
											    <td> <a href="../elements/b0e3ffe6-7789-45a3-9089-01c37e20e56b.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/92fbd6b1-e413-4c87-b37a-b023f88e787b.html" target="element"> FUNC02. Diagn&#243;stico / Soluci&#243;n (modelar) </a> </td>
											    <td> <a href="../elements/92fbd6b1-e413-4c87-b37a-b023f88e787b.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/28ec5aa9-2cf4-4a09-8281-740d885e9b1b.html" target="element"> FUNC03. Distribuir / Compartir </a> </td>
											    <td> <a href="../elements/28ec5aa9-2cf4-4a09-8281-740d885e9b1b.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/101caf1e-629c-449b-9118-af7be6fd6186.html" target="element"> Actores &#193;reas FNA </a> </td>
											    <td> <a href="../elements/101caf1e-629c-449b-9118-af7be6fd6186.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/511d81bf-7f18-4a26-a0bb-5df3e0d7e5c6.html" target="element">  </a> </td>
									           <td> <a href="../objects/511d81bf-7f18-4a26-a0bb-5df3e0d7e5c6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/410d8947-e6f4-4a96-8686-635ce4a5f833.html" target="element"> Contrato E/S </a> </td>
											    <td> <a href="../elements/410d8947-e6f4-4a96-8686-635ce4a5f833.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0f930450-383e-4af1-a78f-9a582601c7b5.html" target="element"> Contrato E/S </a> </td>
											    <td> <a href="../elements/0f930450-383e-4af1-a78f-9a582601c7b5.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dfdf1d6f-5433-4752-8370-236d04f793d2.html" target="element"> Contrato E/S </a> </td>
											    <td> <a href="../elements/dfdf1d6f-5433-4752-8370-236d04f793d2.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bb3f01d6-7cce-420a-9c55-c5fc4a920237.html" target="element"> Productos de Trabajo </a> </td>
											    <td> <a href="../elements/bb3f01d6-7cce-420a-9c55-c5fc4a920237.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6abf08de940643099aac0d259b9bbe3d.html" target="element"> participa </a> </td>
																		<td> <a href="../elements/id-6abf08de940643099aac0d259b9bbe3d.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-401f36e68c054603816d75ce75bd736a.html" target="element"> Comit&#233; de Arquitectura FNA </a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> Oficina de Arquitectura del FNA / &#193;rea de Arquitectura </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-99d795c9cfb744ea8c9004bbe5275da5.html" target="element"> pertenece </a> </td>
																		<td> <a href="../elements/id-99d795c9cfb744ea8c9004bbe5275da5.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-07f6a5c2537447bfaae5ae6841fd026e.html" target="element"> Arquitecto SOA encargado  </a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> Oficina de Arquitectura del FNA / &#193;rea de Arquitectura </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1f671a93-89a0-4f05-8c16-4ee0bec1e23c.html" target="element"> ejecuta </a> </td>
																		<td> <a href="../elements/1f671a93-89a0-4f05-8c16-4ee0bec1e23c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> Oficina de Arquitectura del FNA / &#193;rea de Arquitectura </a> </td>
																		<td> <a href="../elements/b0e3ffe6-7789-45a3-9089-01c37e20e56b.html" target="element"> FUN01. Centralizar </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ec391880-52fa-4c4b-a1e3-a40f0af12d24.html" target="element">  </a> </td>
																		<td> <a href="../elements/ec391880-52fa-4c4b-a1e3-a40f0af12d24.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> Oficina de Arquitectura del FNA / &#193;rea de Arquitectura </a> </td>
																		<td> <a href="../elements/92fbd6b1-e413-4c87-b37a-b023f88e787b.html" target="element"> FUNC02. Diagn&#243;stico / Soluci&#243;n (modelar) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e782b672-4d4a-497f-8f76-51c5b5257ed4.html" target="element">  </a> </td>
																		<td> <a href="../elements/e782b672-4d4a-497f-8f76-51c5b5257ed4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> Oficina de Arquitectura del FNA / &#193;rea de Arquitectura </a> </td>
																		<td> <a href="../elements/28ec5aa9-2cf4-4a09-8281-740d885e9b1b.html" target="element"> FUNC03. Distribuir / Compartir </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6efd1734-e917-4959-a756-0fb6399b3500.html" target="element">  </a> </td>
																		<td> <a href="../elements/6efd1734-e917-4959-a756-0fb6399b3500.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> Oficina de Arquitectura del FNA / &#193;rea de Arquitectura </a> </td>
																		<td> <a href="../elements/07d87793-92ac-4324-bb77-b9f8a32c02ad.html" target="element"> Procesos operativos de la Oficina </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/14f67363-be51-4c56-bfd1-f2f552d47422.html" target="element"> produce </a> </td>
																		<td> <a href="../elements/14f67363-be51-4c56-bfd1-f2f552d47422.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> Oficina de Arquitectura del FNA / &#193;rea de Arquitectura </a> </td>
																		<td> <a href="../elements/bb3f01d6-7cce-420a-9c55-c5fc4a920237.html" target="element"> Productos de Trabajo </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/c5a87fdc-1d05-4de9-9aac-159a5bc31204.html" target="element">  </a> </td>
																		<td> <a href="../elements/c5a87fdc-1d05-4de9-9aac-159a5bc31204.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-8e0aea71079047d99e6a4e48bb0c7348.html" target="element"> Comit&#233; de Cambios FNA </a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> Oficina de Arquitectura del FNA / &#193;rea de Arquitectura </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/51dce91e-ca5d-4d8d-b351-e822055058b8.html" target="element"> intermedia </a> </td>
																		<td> <a href="../elements/51dce91e-ca5d-4d8d-b351-e822055058b8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/b0e3ffe6-7789-45a3-9089-01c37e20e56b.html" target="element"> FUN01. Centralizar </a> </td>
																		<td> <a href="../elements/410d8947-e6f4-4a96-8686-635ce4a5f833.html" target="element"> Contrato E/S </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b6a58695-9a16-464e-a66f-de207f643a3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/b6a58695-9a16-464e-a66f-de207f643a3b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/92fbd6b1-e413-4c87-b37a-b023f88e787b.html" target="element"> FUNC02. Diagn&#243;stico / Soluci&#243;n (modelar) </a> </td>
																		<td> <a href="../elements/0f930450-383e-4af1-a78f-9a582601c7b5.html" target="element"> Contrato E/S </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/da8a2f03-d5c4-42d9-ba2c-0f2c1d2574ac.html" target="element">  </a> </td>
																		<td> <a href="../elements/da8a2f03-d5c4-42d9-ba2c-0f2c1d2574ac.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/28ec5aa9-2cf4-4a09-8281-740d885e9b1b.html" target="element"> FUNC03. Distribuir / Compartir </a> </td>
																		<td> <a href="../elements/dfdf1d6f-5433-4752-8370-236d04f793d2.html" target="element"> Contrato E/S </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a82b2db7-0232-4b82-95b7-e3613f1d7c41.html" target="element"> solicita </a> </td>
																		<td> <a href="../elements/a82b2db7-0232-4b82-95b7-e3613f1d7c41.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/101caf1e-629c-449b-9118-af7be6fd6186.html" target="element"> Actores &#193;reas FNA </a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> Oficina de Arquitectura del FNA / &#193;rea de Arquitectura </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>