<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>(no usar) Oficina. Flujo Arq. 1n.1. ADM. 2b. Proveedores</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>(no usar) Oficina. Flujo Arq. 1n.1. ADM. 2b. Proveedores</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-30071c539df943f0af9670090b720bab.png" alt="(no usar) Oficina. Flujo Arq. 1n.1. ADM. 2b. Proveedores" usemap="#id-30071c539df943f0af9670090b720babmap"/>
			   <map name="id-30071c539df943f0af9670090b720babmap">
				  		<area shape="rect" coords="1716,848,2124,958" href="../elements/id-0a8e8a61424241e4adfd674a80c39049.html"  target="element">
				  		<area shape="rect" coords="1718,2656,2218,2766" href="../elements/id-c0fbef006ec04d76b9ef2bd34e377e50.html"  target="element">
				  		<area shape="rect" coords="1502,2792,2002,2902" href="../elements/id-618eb9c0f6c84d11b2c9318e90643daa.html"  target="element">
				  				<area shape="rect" coords="1550,2156,2050,2266" href="../elements/id-2d17c4fcd7ef4dae91a356dfc6baa414.html"  target="element">
				  				<area shape="rect" coords="1550,1436,2050,1546" href="../elements/id-5642d8c5a08c42e18519c6c85b9e7fa5.html"  target="element">
				  				<area shape="rect" coords="1550,2400,2050,2510" href="../elements/id-4380dcd961b44cf0b1747fe322753cad.html"  target="element">
				  				<area shape="rect" coords="1550,2280,2050,2390" href="../elements/id-c96d43f0ed02492d8f471143100b5696.html"  target="element">
				  				<area shape="rect" coords="1550,2036,2050,2146" href="../elements/id-1d157ca47c2f4f5e81df1f92737a1900.html"  target="element">
				  				<area shape="rect" coords="1550,1916,2050,2026" href="../elements/id-1e42b418164443b3ad332b9cfcaaf937.html"  target="element">
				  				<area shape="rect" coords="1550,1556,2050,1666" href="../elements/id-03cd9c489889482891991740f56dbdc9.html"  target="element">

				  		<area shape="rect" coords="1502,1340,2118,2578" href="../elements/id-304c83eea1e848c5a291a9dc9063e047.html"  target="element">
				  		<area shape="rect" coords="926,152,1238,262" href="../elements/id-857554f0f8964f579ef6015316ea9b60.html"  target="element">
				  		<area shape="rect" coords="1382,260,1622,370" href="../elements/fda091cb-6b96-412f-8c74-7b77b043c283.html"  target="element">
				  		        <area shape="rect" coords="1550,548,1648,598" href="../objects/id-369f1e3c7c1e45498f695ade3e46d723.html" target="element" >

				  		<area shape="rect" coords="1382,428,1718,620" href="../elements/id-0c1325c6be95411585897e2ef63948f6.html"  target="element">
				          <area shape="rect" coords="20,20,500,262" href="../objects/id-9c565e13c242445b9dd66bfb0c6b17ef.html" target="element" >
				  		<area shape="rect" coords="1382,68,1622,178" href="../elements/101caf1e-629c-449b-9118-af7be6fd6186.html"  target="element">
				  		        <area shape="rect" coords="326,1268,424,1318" href="../objects/id-5629438a526f4e84ae435cd73d335d1d.html" target="element" >
				  		        <area shape="rect" coords="422,1268,520,1318" href="../objects/id-fac3ef3d7c354ec69dd4b1f19d0d3c3f.html" target="element" >

				  		<area shape="rect" coords="254,1196,544,1330" href="../elements/e1060dae-8f03-492f-b931-e2bbed2bdde4.html"  target="element">
				  		        <area shape="rect" coords="854,1268,952,1318" href="../objects/id-20c4bc92433542c3af48c2b86369155a.html" target="element" >

				  		<area shape="rect" coords="638,1196,976,1330" href="../elements/663bed31-0ca2-45ad-97f8-bc6d42ba1bfd.html"  target="element">
				  		        <area shape="rect" coords="186,1532,284,1582" href="../objects/id-0ff79a127006419fb65a493b52b3d8f4.html" target="element" >

				  		<area shape="rect" coords="20,1460,306,1594" href="../elements/1da07d8e-0200-48f3-ac7e-dd3ae6e73c28.html"  target="element">
				  				        <area shape="rect" coords="1052,500,1150,550" href="../objects/id-5c62b7983a0149cdb5c4a8ff56cc8c4d.html" target="element" >

				  				<area shape="rect" coords="884,428,1172,572" href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html"  target="element">
				  				        <area shape="rect" coords="212,504,310,554" href="../objects/id-fceebde410894e29b95a00231b1b3d08.html" target="element" >

				  				<area shape="rect" coords="92,432,332,566" href="../elements/4cf864c4-66b9-4103-a5c4-7a476df0c476.html"  target="element">
				  				        <area shape="rect" coords="816,812,914,862" href="../objects/id-77fde0d2624346fc97eeec256ab09885.html" target="element" >

				  				<area shape="rect" coords="668,740,936,874" href="../elements/55dbe2a3-4277-42e8-b983-18125f3aaf6f.html"  target="element">

				  		<area shape="rect" coords="20,356,1240,958" href="../elements/id-d22792a5c1c141ad8b2400a68e0eb6ac.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d22792a5c1c141ad8b2400a68e0eb6ac.html" target="element"> GOB01. Colaboraci&#243;n entre Oficinas </a> </td>
											    <td> <a href="../elements/id-d22792a5c1c141ad8b2400a68e0eb6ac.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/55dbe2a3-4277-42e8-b983-18125f3aaf6f.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
													    <td> <a href="../elements/55dbe2a3-4277-42e8-b983-18125f3aaf6f.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-77fde0d2624346fc97eeec256ab09885.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-77fde0d2624346fc97eeec256ab09885.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/4cf864c4-66b9-4103-a5c4-7a476df0c476.html" target="element"> Arquitecto FNA </a> </td>
													    <td> <a href="../elements/4cf864c4-66b9-4103-a5c4-7a476df0c476.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-fceebde410894e29b95a00231b1b3d08.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-fceebde410894e29b95a00231b1b3d08.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
													    <td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-5c62b7983a0149cdb5c4a8ff56cc8c4d.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5c62b7983a0149cdb5c4a8ff56cc8c4d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/1da07d8e-0200-48f3-ac7e-dd3ae6e73c28.html" target="element"> ADM Preliminar Cambio 001 </a> </td>
											    <td> <a href="../elements/1da07d8e-0200-48f3-ac7e-dd3ae6e73c28.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-0ff79a127006419fb65a493b52b3d8f4.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0ff79a127006419fb65a493b52b3d8f4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/663bed31-0ca2-45ad-97f8-bc6d42ba1bfd.html" target="element"> ADM Implementaci&#243;n Cambio 001 </a> </td>
											    <td> <a href="../elements/663bed31-0ca2-45ad-97f8-bc6d42ba1bfd.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-20c4bc92433542c3af48c2b86369155a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-20c4bc92433542c3af48c2b86369155a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/e1060dae-8f03-492f-b931-e2bbed2bdde4.html" target="element"> ADM Gobierno Cambio 001 </a> </td>
											    <td> <a href="../elements/e1060dae-8f03-492f-b931-e2bbed2bdde4.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-fac3ef3d7c354ec69dd4b1f19d0d3c3f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-fac3ef3d7c354ec69dd4b1f19d0d3c3f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5629438a526f4e84ae435cd73d335d1d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5629438a526f4e84ae435cd73d335d1d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/101caf1e-629c-449b-9118-af7be6fd6186.html" target="element"> Actores &#193;reas FNA </a> </td>
											    <td> <a href="../elements/101caf1e-629c-449b-9118-af7be6fd6186.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-9c565e13c242445b9dd66bfb0c6b17ef.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9c565e13c242445b9dd66bfb0c6b17ef.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-369f1e3c7c1e45498f695ade3e46d723.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-369f1e3c7c1e45498f695ade3e46d723.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/fda091cb-6b96-412f-8c74-7b77b043c283.html" target="element"> Contenidos </a> </td>
											    <td> <a href="../elements/fda091cb-6b96-412f-8c74-7b77b043c283.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-857554f0f8964f579ef6015316ea9b60.html" target="element"> Comit&#233; de arquitectura FNA </a> </td>
											    <td> <a href="../elements/id-857554f0f8964f579ef6015316ea9b60.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-304c83eea1e848c5a291a9dc9063e047.html" target="element"> CCF. Gobierno </a> </td>
											    <td> <a href="../elements/id-304c83eea1e848c5a291a9dc9063e047.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-03cd9c489889482891991740f56dbdc9.html" target="element"> CCF02. Gesti&#243;n del dise&#241;o y arquitecturas: categorizaci&#243;n de complejidad </a> </td>
													    <td> <a href="../elements/id-03cd9c489889482891991740f56dbdc9.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1e42b418164443b3ad332b9cfcaaf937.html" target="element"> CCF05. Correspondencia complejidad </a> </td>
													    <td> <a href="../elements/id-1e42b418164443b3ad332b9cfcaaf937.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1d157ca47c2f4f5e81df1f92737a1900.html" target="element"> CCF10. D&#233;bil (o inexistente) procedimiento de evaluaci&#243;n de inversi&#243;n&#8203; </a> </td>
													    <td> <a href="../elements/id-1d157ca47c2f4f5e81df1f92737a1900.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c96d43f0ed02492d8f471143100b5696.html" target="element"> CCF12. Normnalizar registro de resultados de las entregas de proveedores&#8203; (confiabilidad) </a> </td>
													    <td> <a href="../elements/id-c96d43f0ed02492d8f471143100b5696.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4380dcd961b44cf0b1747fe322753cad.html" target="element"> CCF13. Asignaci&#243;n de responsables de gesti&#243;n de las inversiones de TI </a> </td>
													    <td> <a href="../elements/id-4380dcd961b44cf0b1747fe322753cad.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5642d8c5a08c42e18519c6c85b9e7fa5.html" target="element"> CCF01. Debilidad en la completitud de los CU </a> </td>
													    <td> <a href="../elements/id-5642d8c5a08c42e18519c6c85b9e7fa5.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2d17c4fcd7ef4dae91a356dfc6baa414.html" target="element"> CCF11. D&#233;bil (o inexistente) formalidad para el c&#225;lculo de eficacia un inversi&#243;n&#8203; TI, proveedores </a> </td>
													    <td> <a href="../elements/id-2d17c4fcd7ef4dae91a356dfc6baa414.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-618eb9c0f6c84d11b2c9318e90643daa.html" target="element"> CCF04. Normalizaci&#243;n y fortalecimiento de los ambientes QA </a> </td>
											    <td> <a href="../elements/id-618eb9c0f6c84d11b2c9318e90643daa.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c0fbef006ec04d76b9ef2bd34e377e50.html" target="element"> CCF03. Herramientas y m&#233;todos de QA relacionados con sistemas distribuidos y QA </a> </td>
											    <td> <a href="../elements/id-c0fbef006ec04d76b9ef2bd34e377e50.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0a8e8a61424241e4adfd674a80c39049.html" target="element"> GOB02. Roles y Responsabilidades Oficina de Arquitectura </a> </td>
											    <td> <a href="../elements/id-0a8e8a61424241e4adfd674a80c39049.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-fb4ed8f2588c472880d8d4c5b88ecf07.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb4ed8f2588c472880d8d4c5b88ecf07.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-d22792a5c1c141ad8b2400a68e0eb6ac.html" target="element"> GOB01. Colaboraci&#243;n entre Oficinas </a> </td>
																		<td> <a href="../elements/55dbe2a3-4277-42e8-b983-18125f3aaf6f.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cd418d95e8f042708c0623f96bf4cb07.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cd418d95e8f042708c0623f96bf4cb07.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-d22792a5c1c141ad8b2400a68e0eb6ac.html" target="element"> GOB01. Colaboraci&#243;n entre Oficinas </a> </td>
																		<td> <a href="../elements/4cf864c4-66b9-4103-a5c4-7a476df0c476.html" target="element"> Arquitecto FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dab40aeecbaa4d298cefda92ccecb11c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dab40aeecbaa4d298cefda92ccecb11c.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-d22792a5c1c141ad8b2400a68e0eb6ac.html" target="element"> GOB01. Colaboraci&#243;n entre Oficinas </a> </td>
																		<td> <a href="../elements/id-857554f0f8964f579ef6015316ea9b60.html" target="element"> Comit&#233; de arquitectura FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d19f6e0cae3b46b4a8610b8193afc32e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d19f6e0cae3b46b4a8610b8193afc32e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-d22792a5c1c141ad8b2400a68e0eb6ac.html" target="element"> GOB01. Colaboraci&#243;n entre Oficinas </a> </td>
																		<td> <a href="../elements/id-304c83eea1e848c5a291a9dc9063e047.html" target="element"> CCF. Gobierno </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/8e89eb4c-5307-43a6-aa61-59723ca87403.html" target="element"> detalle </a> </td>
																				<td> <a href="../elements/8e89eb4c-5307-43a6-aa61-59723ca87403.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/55dbe2a3-4277-42e8-b983-18125f3aaf6f.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
																				<td> <a href="../elements/663bed31-0ca2-45ad-97f8-bc6d42ba1bfd.html" target="element"> ADM Implementaci&#243;n Cambio 001 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-33265e7f92984122b6d2fd4a4b7ec1df.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-33265e7f92984122b6d2fd4a4b7ec1df.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/55dbe2a3-4277-42e8-b983-18125f3aaf6f.html" target="element"> Arquitecto Soluci&#243;n </a> </td>
																				<td> <a href="../elements/e1060dae-8f03-492f-b931-e2bbed2bdde4.html" target="element"> ADM Gobierno Cambio 001 </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/6d76036b-44b8-4558-b88e-c8fbf8363d24.html" target="element"> inicia </a> </td>
																				<td> <a href="../elements/6d76036b-44b8-4558-b88e-c8fbf8363d24.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/4cf864c4-66b9-4103-a5c4-7a476df0c476.html" target="element"> Arquitecto FNA </a> </td>
																				<td> <a href="../elements/1da07d8e-0200-48f3-ac7e-dd3ae6e73c28.html" target="element"> ADM Preliminar Cambio 001 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/279fc0df-8959-412c-89b9-a3c2b9734c14.html" target="element">  </a> </td>
																				<td> <a href="../elements/279fc0df-8959-412c-89b9-a3c2b9734c14.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/4cf864c4-66b9-4103-a5c4-7a476df0c476.html" target="element"> Arquitecto FNA </a> </td>
																				<td> <a href="../elements/e1060dae-8f03-492f-b931-e2bbed2bdde4.html" target="element"> ADM Gobierno Cambio 001 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c5549b8c1857403f853cd402c44e2573.html" target="element"> detalle N100 </a> </td>
																				<td> <a href="../elements/id-c5549b8c1857403f853cd402c44e2573.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/4cf864c4-66b9-4103-a5c4-7a476df0c476.html" target="element"> Arquitecto FNA </a> </td>
																				<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-51b1687cefc949cc8b88c5714cef3ffa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-51b1687cefc949cc8b88c5714cef3ffa.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																				<td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-45464a23a4f44db2b455d3b36c534797.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-45464a23a4f44db2b455d3b36c534797.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/61b533ad-1a31-4de5-8bd9-18827e9b16f2.html" target="element"> GOB03. Modelamiento </a> </td>
																				<td> <a href="../elements/id-304c83eea1e848c5a291a9dc9063e047.html" target="element"> CCF. Gobierno </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/e4e969bc-0a9c-4676-b972-e627ccd21965.html" target="element"> accede </a> </td>
																		<td> <a href="../elements/e4e969bc-0a9c-4676-b972-e627ccd21965.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/101caf1e-629c-449b-9118-af7be6fd6186.html" target="element"> Actores &#193;reas FNA </a> </td>
																		<td> <a href="../elements/fda091cb-6b96-412f-8c74-7b77b043c283.html" target="element"> Contenidos </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-3ae0e79679a2459d9e0e55934d6b84c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ae0e79679a2459d9e0e55934d6b84c0.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																		<td> <a href="../elements/fda091cb-6b96-412f-8c74-7b77b043c283.html" target="element"> Contenidos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-12b309afcbe74ef79b786fa5cf7db127.html" target="element"> incidencia </a> </td>
																		<td> <a href="../elements/id-12b309afcbe74ef79b786fa5cf7db127.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-304c83eea1e848c5a291a9dc9063e047.html" target="element"> CCF. Gobierno </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-68bf5f5e78464e98a52765329ee1a746.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-68bf5f5e78464e98a52765329ee1a746.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-304c83eea1e848c5a291a9dc9063e047.html" target="element"> CCF. Gobierno </a> </td>
																		<td> <a href="../elements/id-c0fbef006ec04d76b9ef2bd34e377e50.html" target="element"> CCF03. Herramientas y m&#233;todos de QA relacionados con sistemas distribuidos y QA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3a5ba8c2c9184acc978c533a504be5fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a5ba8c2c9184acc978c533a504be5fb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-304c83eea1e848c5a291a9dc9063e047.html" target="element"> CCF. Gobierno </a> </td>
																		<td> <a href="../elements/id-03cd9c489889482891991740f56dbdc9.html" target="element"> CCF02. Gesti&#243;n del dise&#241;o y arquitecturas: categorizaci&#243;n de complejidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9253f11ec8d344deb1eba1d6512d1617.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9253f11ec8d344deb1eba1d6512d1617.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-304c83eea1e848c5a291a9dc9063e047.html" target="element"> CCF. Gobierno </a> </td>
																		<td> <a href="../elements/id-1e42b418164443b3ad332b9cfcaaf937.html" target="element"> CCF05. Correspondencia complejidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-82f501fe7ec0452da9b7fe0ecb57d3b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-82f501fe7ec0452da9b7fe0ecb57d3b6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-304c83eea1e848c5a291a9dc9063e047.html" target="element"> CCF. Gobierno </a> </td>
																		<td> <a href="../elements/id-618eb9c0f6c84d11b2c9318e90643daa.html" target="element"> CCF04. Normalizaci&#243;n y fortalecimiento de los ambientes QA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e914baadd199447ebbe561be9d896d2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e914baadd199447ebbe561be9d896d2a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-304c83eea1e848c5a291a9dc9063e047.html" target="element"> CCF. Gobierno </a> </td>
																		<td> <a href="../elements/id-1d157ca47c2f4f5e81df1f92737a1900.html" target="element"> CCF10. D&#233;bil (o inexistente) procedimiento de evaluaci&#243;n de inversi&#243;n&#8203; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4a95acb8d8604b19b42ed85058eb8a39.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a95acb8d8604b19b42ed85058eb8a39.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-304c83eea1e848c5a291a9dc9063e047.html" target="element"> CCF. Gobierno </a> </td>
																		<td> <a href="../elements/id-c96d43f0ed02492d8f471143100b5696.html" target="element"> CCF12. Normnalizar registro de resultados de las entregas de proveedores&#8203; (confiabilidad) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8087d7542bb1449c8ec54f5297ee8946.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8087d7542bb1449c8ec54f5297ee8946.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-304c83eea1e848c5a291a9dc9063e047.html" target="element"> CCF. Gobierno </a> </td>
																		<td> <a href="../elements/id-4380dcd961b44cf0b1747fe322753cad.html" target="element"> CCF13. Asignaci&#243;n de responsables de gesti&#243;n de las inversiones de TI </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bfe5d8f7a9ea4337bc81ba32267c8689.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bfe5d8f7a9ea4337bc81ba32267c8689.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-304c83eea1e848c5a291a9dc9063e047.html" target="element"> CCF. Gobierno </a> </td>
																		<td> <a href="../elements/id-5642d8c5a08c42e18519c6c85b9e7fa5.html" target="element"> CCF01. Debilidad en la completitud de los CU </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e779d0076929422e83bc35c1b589f0f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e779d0076929422e83bc35c1b589f0f4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-304c83eea1e848c5a291a9dc9063e047.html" target="element"> CCF. Gobierno </a> </td>
																		<td> <a href="../elements/id-2d17c4fcd7ef4dae91a356dfc6baa414.html" target="element"> CCF11. D&#233;bil (o inexistente) formalidad para el c&#225;lculo de eficacia un inversi&#243;n&#8203; TI, proveedores </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-5f2fefd5c9a648498e73f17b6becd4d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f2fefd5c9a648498e73f17b6becd4d8.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-0a8e8a61424241e4adfd674a80c39049.html" target="element"> GOB02. Roles y Responsabilidades Oficina de Arquitectura </a> </td>
																		<td> <a href="../elements/id-304c83eea1e848c5a291a9dc9063e047.html" target="element"> CCF. Gobierno </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>