<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Implementación SOA FNA. 1a7 madurez</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Implementaci&#243;n SOA FNA. 1a7 madurez</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-62c12398588c41909638ae65e76678d5.png" alt="Implementación SOA FNA. 1a7 madurez" usemap="#id-62c12398588c41909638ae65e76678d5map"/>
			   <map name="id-62c12398588c41909638ae65e76678d5map">
				  		<area shape="rect" coords="908,1640,1148,1750" href="../elements/id-f4b72a80196d4acc98d4f8cb5e2d5d4a.html"  target="element">
				  		<area shape="rect" coords="1196,1652,1436,1762" href="../elements/id-c1c23e8c8f364136bfe629bf5dc2fba7.html"  target="element">
				  		<area shape="rect" coords="1172,1844,1412,1954" href="../elements/id-9b2ba5409dd94a5aadac0b17f94a3d66.html"  target="element">
				  		<area shape="rect" coords="20,1952,260,2062" href="../elements/id-c96a441a4074411d95c35382fadf033b.html"  target="element">
				  		<area shape="rect" coords="20,1684,260,1794" href="../elements/id-ed68ca82173e47eeae1a72ed0f2815d4.html"  target="element">
				  		<area shape="rect" coords="20,2108,260,2218" href="../elements/id-b49cee8f84f9415685e7721a7212a796.html"  target="element">
				  		<area shape="rect" coords="20,1820,260,1930" href="../elements/id-982eb4ee47f54400be2eae82daf38752.html"  target="element">
				  		<area shape="rect" coords="20,1532,260,1642" href="../elements/id-68c572b8c32a46cd96e48460f004d117.html"  target="element">
				          <area shape="rect" coords="20,20,550,190" href="../objects/id-3478051bd2c84451946355079298164d.html" target="element" >
				  						<area shape="rect" coords="956,1076,1196,1186" href="../elements/id-3fdee9b32cbc47b3b6bbaecd6d3303a8.html"  target="element">
				  						<area shape="rect" coords="956,932,1196,1042" href="../elements/id-53c863c7da534e93bb4c5dd98ea64847.html"  target="element">
				  						<area shape="rect" coords="956,812,1196,922" href="../elements/id-ea2be6b3b77d471088786fdeaa3e8481.html"  target="element">

				  				<area shape="rect" coords="908,716,1244,1268" href="../elements/id-be682d77ba4249468f9e7fa5d23dd01e.html"  target="element">
				  						<area shape="rect" coords="140,812,380,922" href="../elements/id-045452fc735c49e9a184506380cdefae.html"  target="element">

				  				<area shape="rect" coords="92,716,428,1054" href="../elements/id-444cb98b9eef4e7997aa0e6f2f7fab3b.html"  target="element">
				  						<area shape="rect" coords="548,932,788,1042" href="../elements/id-62e7fe52a24940819d9e7605a47de48c.html"  target="element">
				  						<area shape="rect" coords="548,1076,788,1186" href="../elements/id-23d0cb74e621482b82a78ef427c625df.html"  target="element">
				  						<area shape="rect" coords="548,812,788,922" href="../elements/id-d2d0d4cd8d194916985d4a283ede87ac.html"  target="element">

				  				<area shape="rect" coords="500,716,836,1268" href="../elements/id-08de8bc1aa26411dbfa8b5bfe58034c6.html"  target="element">
				  						<area shape="rect" coords="1340,932,1580,1042" href="../elements/id-286f1eaebc854622ae2631180ea7bf07.html"  target="element">
				  						<area shape="rect" coords="1340,812,1580,922" href="../elements/id-40cde4bf62884c9ebc77ed246dcc25a5.html"  target="element">

				  				<area shape="rect" coords="1316,716,1630,1268" href="../elements/id-f5d421e95eae4c35b8c612bfa1a854ab.html"  target="element">

				  		<area shape="rect" coords="20,500,1724,1390" href="../elements/id-8e11a69c59024aea9568a628cc0e3445.html"  target="element">
				  		<area shape="rect" coords="1316,236,1654,380" href="../elements/id-36e1555185d24e4591038992d97a2af5.html"  target="element">
				  		<area shape="rect" coords="908,236,1246,380" href="../elements/id-fe0409bbff7447219aec677a7d84ee83.html"  target="element">
				  		<area shape="rect" coords="500,236,838,380" href="../elements/id-39209879d37a42eca0a2a90e0545e958.html"  target="element">
				  		<area shape="rect" coords="92,236,430,380" href="../elements/id-012bc7d29e7940d584d50a88229ff19f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">23 dic F1.1 y 1.2
20 dic aprobaci&#243;n
15 d&#237;as (10 laborales) PR1, PR2... PR6


Respta. secuencial
10 / 6 = 2 d&#237;as por PR

</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-012bc7d29e7940d584d50a88229ff19f.html" target="element"> Noviembre/22. Preparaci&#243;n e inicio </a> </td>
											    <td> <a href="../elements/id-012bc7d29e7940d584d50a88229ff19f.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-39209879d37a42eca0a2a90e0545e958.html" target="element"> Nov - Dic. Situaci&#243;n Actual </a> </td>
											    <td> <a href="../elements/id-39209879d37a42eca0a2a90e0545e958.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fe0409bbff7447219aec677a7d84ee83.html" target="element"> Dic. /22. Vigilancia Tecnol&#243;gica </a> </td>
											    <td> <a href="../elements/id-fe0409bbff7447219aec677a7d84ee83.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-36e1555185d24e4591038992d97a2af5.html" target="element"> Ene/23. Estado Objetivo FNA </a> </td>
											    <td> <a href="../elements/id-36e1555185d24e4591038992d97a2af5.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8e11a69c59024aea9568a628cc0e3445.html" target="element"> Proyecto SOA FNA </a> </td>
											    <td> <a href="../elements/id-8e11a69c59024aea9568a628cc0e3445.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f5d421e95eae4c35b8c612bfa1a854ab.html" target="element"> Fase 2.2 SOA Objetivo </a> </td>
													    <td> <a href="../elements/id-f5d421e95eae4c35b8c612bfa1a854ab.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-40cde4bf62884c9ebc77ed246dcc25a5.html" target="element"> PR9. Portafolio de inciativas y brechas </a> </td>
															    <td> <a href="../elements/id-40cde4bf62884c9ebc77ed246dcc25a5.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-286f1eaebc854622ae2631180ea7bf07.html" target="element"> PR6. Gobierno SOA </a> </td>
															    <td> <a href="../elements/id-286f1eaebc854622ae2631180ea7bf07.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-08de8bc1aa26411dbfa8b5bfe58034c6.html" target="element"> Fase 1.1 SOA Actual </a> </td>
													    <td> <a href="../elements/id-08de8bc1aa26411dbfa8b5bfe58034c6.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-d2d0d4cd8d194916985d4a283ede87ac.html" target="element"> PR1. SOA Actual </a> </td>
															    <td> <a href="../elements/id-d2d0d4cd8d194916985d4a283ede87ac.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-23d0cb74e621482b82a78ef427c625df.html" target="element"> PR3. Resultado Diagn&#243;stico Situaci&#243;n Actual </a> </td>
															    <td> <a href="../elements/id-23d0cb74e621482b82a78ef427c625df.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-62e7fe52a24940819d9e7605a47de48c.html" target="element"> PR2. Estudio Madurez SOA FNA </a> </td>
															    <td> <a href="../elements/id-62e7fe52a24940819d9e7605a47de48c.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-444cb98b9eef4e7997aa0e6f2f7fab3b.html" target="element"> Fase 0. Alistamiento </a> </td>
													    <td> <a href="../elements/id-444cb98b9eef4e7997aa0e6f2f7fab3b.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-045452fc735c49e9a184506380cdefae.html" target="element"> PR0. Plan Proyecto SOA </a> </td>
															    <td> <a href="../elements/id-045452fc735c49e9a184506380cdefae.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-be682d77ba4249468f9e7fa5d23dd01e.html" target="element"> Fase 1.2 Comparativa de industria </a> </td>
													    <td> <a href="../elements/id-be682d77ba4249468f9e7fa5d23dd01e.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-ea2be6b3b77d471088786fdeaa3e8481.html" target="element"> PR4 Marcos Regulatorios </a> </td>
															    <td> <a href="../elements/id-ea2be6b3b77d471088786fdeaa3e8481.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-53c863c7da534e93bb4c5dd98ea64847.html" target="element"> PR7. Vigilancia tecnol&#243;gica y herramientas </a> </td>
															    <td> <a href="../elements/id-53c863c7da534e93bb4c5dd98ea64847.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3fdee9b32cbc47b3b6bbaecd6d3303a8.html" target="element"> PR5. Comparativa FNA industria </a> </td>
															    <td> <a href="../elements/id-3fdee9b32cbc47b3b6bbaecd6d3303a8.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-3478051bd2c84451946355079298164d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3478051bd2c84451946355079298164d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-68c572b8c32a46cd96e48460f004d117.html" target="element"> Descripci&#243;n de la vista de Informaci&#243;n actual </a> </td>
											    <td> <a href="../elements/id-68c572b8c32a46cd96e48460f004d117.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-982eb4ee47f54400be2eae82daf38752.html" target="element"> Descripci&#243;n de la vista de Integraci&#243;n actual </a> </td>
											    <td> <a href="../elements/id-982eb4ee47f54400be2eae82daf38752.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b49cee8f84f9415685e7721a7212a796.html" target="element"> Descripci&#243;n de la vista Funcional actual </a> </td>
											    <td> <a href="../elements/id-b49cee8f84f9415685e7721a7212a796.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ed68ca82173e47eeae1a72ed0f2815d4.html" target="element"> Descripci&#243;n de la vista Tecnol&#243;gica actual </a> </td>
											    <td> <a href="../elements/id-ed68ca82173e47eeae1a72ed0f2815d4.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c96a441a4074411d95c35382fadf033b.html" target="element"> Presentaci&#243;n del An&#225;lisis de Madurez SOA del FNA </a> </td>
											    <td> <a href="../elements/id-c96a441a4074411d95c35382fadf033b.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9b2ba5409dd94a5aadac0b17f94a3d66.html" target="element"> Cuestionarios de los objetivos del an&#225;lisis </a> </td>
											    <td> <a href="../elements/id-9b2ba5409dd94a5aadac0b17f94a3d66.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c1c23e8c8f364136bfe629bf5dc2fba7.html" target="element"> Herramienta de diagn&#243;stico de nivel de madurez SOA </a> </td>
											    <td> <a href="../elements/id-c1c23e8c8f364136bfe629bf5dc2fba7.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f4b72a80196d4acc98d4f8cb5e2d5d4a.html" target="element"> Dimensiones del an&#225;lisis (OSIMM) </a> </td>
											    <td> <a href="../elements/id-f4b72a80196d4acc98d4f8cb5e2d5d4a.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-92a33adddc0b43a2a91a22e1130af1c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-92a33adddc0b43a2a91a22e1130af1c8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-8e11a69c59024aea9568a628cc0e3445.html" target="element"> Proyecto SOA FNA </a> </td>
																		<td> <a href="../elements/id-f5d421e95eae4c35b8c612bfa1a854ab.html" target="element"> Fase 2.2 SOA Objetivo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fd4e9812877d4d0181f79143a075a2ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd4e9812877d4d0181f79143a075a2ca.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-8e11a69c59024aea9568a628cc0e3445.html" target="element"> Proyecto SOA FNA </a> </td>
																		<td> <a href="../elements/id-08de8bc1aa26411dbfa8b5bfe58034c6.html" target="element"> Fase 1.1 SOA Actual </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cad41e2271004448bbbd5964eb019727.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cad41e2271004448bbbd5964eb019727.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-8e11a69c59024aea9568a628cc0e3445.html" target="element"> Proyecto SOA FNA </a> </td>
																		<td> <a href="../elements/id-444cb98b9eef4e7997aa0e6f2f7fab3b.html" target="element"> Fase 0. Alistamiento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b708ac7d94740e389a26f8beaf6081a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b708ac7d94740e389a26f8beaf6081a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-8e11a69c59024aea9568a628cc0e3445.html" target="element"> Proyecto SOA FNA </a> </td>
																		<td> <a href="../elements/id-be682d77ba4249468f9e7fa5d23dd01e.html" target="element"> Fase 1.2 Comparativa de industria </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5f81f24a3c6748a2b370939cc7b6f51d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5f81f24a3c6748a2b370939cc7b6f51d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-f5d421e95eae4c35b8c612bfa1a854ab.html" target="element"> Fase 2.2 SOA Objetivo </a> </td>
																				<td> <a href="../elements/id-36e1555185d24e4591038992d97a2af5.html" target="element"> Ene/23. Estado Objetivo FNA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8fc1a1e1dd254b40bc55d64f9b55821c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8fc1a1e1dd254b40bc55d64f9b55821c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-f5d421e95eae4c35b8c612bfa1a854ab.html" target="element"> Fase 2.2 SOA Objetivo </a> </td>
																				<td> <a href="../elements/id-286f1eaebc854622ae2631180ea7bf07.html" target="element"> PR6. Gobierno SOA </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-e4970261a30f43e8887fea4c5a446ce7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e4970261a30f43e8887fea4c5a446ce7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-08de8bc1aa26411dbfa8b5bfe58034c6.html" target="element"> Fase 1.1 SOA Actual </a> </td>
																				<td> <a href="../elements/id-d2d0d4cd8d194916985d4a283ede87ac.html" target="element"> PR1. SOA Actual </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cf520fd2f9b7499ca8c985db916d76cd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cf520fd2f9b7499ca8c985db916d76cd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-08de8bc1aa26411dbfa8b5bfe58034c6.html" target="element"> Fase 1.1 SOA Actual </a> </td>
																				<td> <a href="../elements/id-23d0cb74e621482b82a78ef427c625df.html" target="element"> PR3. Resultado Diagn&#243;stico Situaci&#243;n Actual </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4c6a70ac13f44fed81ddbae48e4d0dfe.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4c6a70ac13f44fed81ddbae48e4d0dfe.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-08de8bc1aa26411dbfa8b5bfe58034c6.html" target="element"> Fase 1.1 SOA Actual </a> </td>
																				<td> <a href="../elements/id-62e7fe52a24940819d9e7605a47de48c.html" target="element"> PR2. Estudio Madurez SOA FNA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1f1a177cbc6440fcacd17f27ea89ec22.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1f1a177cbc6440fcacd17f27ea89ec22.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-08de8bc1aa26411dbfa8b5bfe58034c6.html" target="element"> Fase 1.1 SOA Actual </a> </td>
																				<td> <a href="../elements/id-39209879d37a42eca0a2a90e0545e958.html" target="element"> Nov - Dic. Situaci&#243;n Actual </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-e48b0d3075cd428684be0c4c95d4930a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e48b0d3075cd428684be0c4c95d4930a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-444cb98b9eef4e7997aa0e6f2f7fab3b.html" target="element"> Fase 0. Alistamiento </a> </td>
																				<td> <a href="../elements/id-045452fc735c49e9a184506380cdefae.html" target="element"> PR0. Plan Proyecto SOA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bcf4769cc0b14b0aa9132e7336ee24cb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bcf4769cc0b14b0aa9132e7336ee24cb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-444cb98b9eef4e7997aa0e6f2f7fab3b.html" target="element"> Fase 0. Alistamiento </a> </td>
																				<td> <a href="../elements/id-012bc7d29e7940d584d50a88229ff19f.html" target="element"> Noviembre/22. Preparaci&#243;n e inicio </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-70aa40f1d27b4034abe737518ab5fd6d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-70aa40f1d27b4034abe737518ab5fd6d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-be682d77ba4249468f9e7fa5d23dd01e.html" target="element"> Fase 1.2 Comparativa de industria </a> </td>
																				<td> <a href="../elements/id-ea2be6b3b77d471088786fdeaa3e8481.html" target="element"> PR4 Marcos Regulatorios </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5b87008339d44c6faed7df8f736a9d97.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5b87008339d44c6faed7df8f736a9d97.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-be682d77ba4249468f9e7fa5d23dd01e.html" target="element"> Fase 1.2 Comparativa de industria </a> </td>
																				<td> <a href="../elements/id-3fdee9b32cbc47b3b6bbaecd6d3303a8.html" target="element"> PR5. Comparativa FNA industria </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2e75fb9b50c247d6a72a3fc999617013.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2e75fb9b50c247d6a72a3fc999617013.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-be682d77ba4249468f9e7fa5d23dd01e.html" target="element"> Fase 1.2 Comparativa de industria </a> </td>
																				<td> <a href="../elements/id-fe0409bbff7447219aec677a7d84ee83.html" target="element"> Dic. /22. Vigilancia Tecnol&#243;gica </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-61878505890548a1b7f63b521c92b1b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61878505890548a1b7f63b521c92b1b9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-68c572b8c32a46cd96e48460f004d117.html" target="element"> Descripci&#243;n de la vista de Informaci&#243;n actual </a> </td>
																		<td> <a href="../elements/id-d2d0d4cd8d194916985d4a283ede87ac.html" target="element"> PR1. SOA Actual </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-25a1df6a357a4458bcf891942b78749b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-25a1df6a357a4458bcf891942b78749b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-982eb4ee47f54400be2eae82daf38752.html" target="element"> Descripci&#243;n de la vista de Integraci&#243;n actual </a> </td>
																		<td> <a href="../elements/id-d2d0d4cd8d194916985d4a283ede87ac.html" target="element"> PR1. SOA Actual </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4173dba7bf6b46e090d63b996b4d1f5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4173dba7bf6b46e090d63b996b4d1f5f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-b49cee8f84f9415685e7721a7212a796.html" target="element"> Descripci&#243;n de la vista Funcional actual </a> </td>
																		<td> <a href="../elements/id-d2d0d4cd8d194916985d4a283ede87ac.html" target="element"> PR1. SOA Actual </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-056638daef5a41f6a06c62c1f87676ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-056638daef5a41f6a06c62c1f87676ed.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-ed68ca82173e47eeae1a72ed0f2815d4.html" target="element"> Descripci&#243;n de la vista Tecnol&#243;gica actual </a> </td>
																		<td> <a href="../elements/id-d2d0d4cd8d194916985d4a283ede87ac.html" target="element"> PR1. SOA Actual </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dd011b201c184468918efbc41894d8f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd011b201c184468918efbc41894d8f1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-c96a441a4074411d95c35382fadf033b.html" target="element"> Presentaci&#243;n del An&#225;lisis de Madurez SOA del FNA </a> </td>
																		<td> <a href="../elements/id-d2d0d4cd8d194916985d4a283ede87ac.html" target="element"> PR1. SOA Actual </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-66c0209480904b42ad54b61cc44fa0f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-66c0209480904b42ad54b61cc44fa0f0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c96a441a4074411d95c35382fadf033b.html" target="element"> Presentaci&#243;n del An&#225;lisis de Madurez SOA del FNA </a> </td>
																		<td> <a href="../elements/id-f4b72a80196d4acc98d4f8cb5e2d5d4a.html" target="element"> Dimensiones del an&#225;lisis (OSIMM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a3badefa10a046bb81871680f8004b82.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3badefa10a046bb81871680f8004b82.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c96a441a4074411d95c35382fadf033b.html" target="element"> Presentaci&#243;n del An&#225;lisis de Madurez SOA del FNA </a> </td>
																		<td> <a href="../elements/id-c1c23e8c8f364136bfe629bf5dc2fba7.html" target="element"> Herramienta de diagn&#243;stico de nivel de madurez SOA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c0d6536bf7414db88ec97dd2cb884912.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c0d6536bf7414db88ec97dd2cb884912.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c96a441a4074411d95c35382fadf033b.html" target="element"> Presentaci&#243;n del An&#225;lisis de Madurez SOA del FNA </a> </td>
																		<td> <a href="../elements/id-9b2ba5409dd94a5aadac0b17f94a3d66.html" target="element"> Cuestionarios de los objetivos del an&#225;lisis </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>