<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Análisis de brecha. 1. Proceso</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>An&#225;lisis de brecha. 1. Proceso</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6086c4864f3946b9baab910d2aa95747.png" alt="Análisis de brecha. 1. Proceso" usemap="#id-6086c4864f3946b9baab910d2aa95747map"/>
			   <map name="id-6086c4864f3946b9baab910d2aa95747map">
				  				<area shape="rect" coords="894,1532,1208,1676" href="../elements/id-d3a951b36c0440fb86cc8dbc45a97e90.html"  target="element">
				  				<area shape="rect" coords="558,1868,872,2012" href="../elements/id-1c73f8a980574297a8891ef4b1f89dbe.html"  target="element">
				  				<area shape="rect" coords="894,1700,1208,1844" href="../elements/id-43f2fbc8815947d6b582202667d0dba9.html"  target="element">
				  				<area shape="rect" coords="222,1532,536,1676" href="../elements/id-ce43d134d6ba4ab484278cecccbe0014.html"  target="element">
				  				<area shape="rect" coords="222,1868,536,2012" href="../elements/id-6b20acbfe3634f66aa537a9f68de2c30.html"  target="element">
				  				<area shape="rect" coords="558,1532,872,1676" href="../elements/id-01a61e387c124a5cbc9c6c86a30106aa.html"  target="element">
				  				<area shape="rect" coords="222,1700,536,1844" href="../elements/id-adcd603e640646c0b2b5746b782ec863.html"  target="element">
				  				<area shape="rect" coords="558,1700,872,1844" href="../elements/id-020573ceaad2467191b9bca36d2db5bc.html"  target="element">

				  		<area shape="rect" coords="174,1436,1292,2060" href="../elements/id-636db0cb272441ee9ff2b4b0229bab63.html"  target="element">
				  		<area shape="rect" coords="1686,952,2000,1072" href="../elements/id-7cbbd611c18b4339af7f32ea36d2cd0b.html"  target="element">
				          <area shape="rect" coords="20,20,416,236" href="../objects/id-a9bc3864f85e426fa60c8c3c868e0e74.html" target="element" >
				  				<area shape="rect" coords="870,260,1230,430" href="../elements/id-2199a6cdd3da4ce198e31e6dcd81f3ce.html"  target="element">
				  				<area shape="rect" coords="870,428,1230,598" href="../elements/id-30e17720322349978e0c2bd3cc36496c.html"  target="element">
				  				<area shape="rect" coords="486,92,846,262" href="../elements/id-10ed4b66bb4947f69634182fc01441a6.html"  target="element">
				  				<area shape="rect" coords="486,428,846,598" href="../elements/id-bd63fd3f925a4afaba4e53377bb4e30e.html"  target="element">
				  				<area shape="rect" coords="870,92,1230,262" href="../elements/id-6bce611af9ab4522945d460d89c8c2f4.html"  target="element">
				  				<area shape="rect" coords="486,260,846,430" href="../elements/id-be98084fd2f6494eb915e4657f73bca9.html"  target="element">

				  		<area shape="rect" coords="438,20,1312,644" href="../elements/id-32456c3bb93d48769a8962b7e52fa9ed.html"  target="element">
				  		<area shape="rect" coords="1278,1096,1592,1216" href="../elements/id-af07ce87fc674b92b510d235a94762fd.html"  target="element">
				  		<area shape="rect" coords="42,812,368,922" href="../elements/id-6074040e428d4c53981a3dde91ef8272.html"  target="element">
				  		<area shape="rect" coords="42,1098,368,1208" href="../elements/id-8e24f2da2ffe4c79a2db65d709c8289a.html"  target="element">
				  		<area shape="rect" coords="1278,1240,1592,1360" href="../elements/id-0c9bfc65e6e34ab4a3a3ccbf1f37e3d8.html"  target="element">
				  		<area shape="rect" coords="1278,952,1592,1072" href="../elements/id-80e77e2fe4f2448bae5da952166440db.html"  target="element">
				  		<area shape="rect" coords="534,812,914,1208" href="../elements/id-96e92db1e7e549e594d875f3453a0d82.html"  target="element">
				  		<area shape="rect" coords="1278,808,1592,928" href="../elements/id-a4463b3efca34f5d94596a223c957301.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Entrada: 
1. modelo SOA actual: los &#237;tems se recuperan de los activos de software actuales: pre-existing software assets, e.g., legacy systems, databases, enterprise packages, etc., and relies on the ADM approach allowing the various stakeholders to understand the portfolio of available applications and business processes. 
1. Modelo SOA objetivo
1. Otras entradas: objetivos de negocio, otro proyectos, 
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a4463b3efca34f5d94596a223c957301.html" target="element"> Matriz de brechas FNA </a> </td>
											    <td> <a href="../elements/id-a4463b3efca34f5d94596a223c957301.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-96e92db1e7e549e594d875f3453a0d82.html" target="element"> An&#225;lisis de brechas FNA (entradas, salidas, valor) </a> </td>
											    <td> <a href="../elements/id-96e92db1e7e549e594d875f3453a0d82.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-80e77e2fe4f2448bae5da952166440db.html" target="element"> Portafolio de iniciativas FNA </a> </td>
											    <td> <a href="../elements/id-80e77e2fe4f2448bae5da952166440db.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0c9bfc65e6e34ab4a3a3ccbf1f37e3d8.html" target="element"> Decisiones TI y priorizaci&#243;n de proyectos FNA </a> </td>
											    <td> <a href="../elements/id-0c9bfc65e6e34ab4a3a3ccbf1f37e3d8.html" target="element" class="i18n-elementtype-Value"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8e24f2da2ffe4c79a2db65d709c8289a.html" target="element"> Arquitectura SOA actual </a> </td>
											    <td> <a href="../elements/id-8e24f2da2ffe4c79a2db65d709c8289a.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6074040e428d4c53981a3dde91ef8272.html" target="element"> Arquitectura SOA objetivo </a> </td>
											    <td> <a href="../elements/id-6074040e428d4c53981a3dde91ef8272.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-af07ce87fc674b92b510d235a94762fd.html" target="element"> Hoja de Ruta preliminar FNA </a> </td>
											    <td> <a href="../elements/id-af07ce87fc674b92b510d235a94762fd.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-32456c3bb93d48769a8962b7e52fa9ed.html" target="element"> Objetivos SOA FNA </a> </td>
											    <td> <a href="../elements/id-32456c3bb93d48769a8962b7e52fa9ed.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-be98084fd2f6494eb915e4657f73bca9.html" target="element"> G-OBJ1. Vigilancia del riesgo tecnol&#243;gico </a> </td>
													    <td> <a href="../elements/id-be98084fd2f6494eb915e4657f73bca9.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6bce611af9ab4522945d460d89c8c2f4.html" target="element"> G-OBJ3. Vigilar y perseguir &#237;ndices de efectividad SOA </a> </td>
													    <td> <a href="../elements/id-6bce611af9ab4522945d460d89c8c2f4.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bd63fd3f925a4afaba4e53377bb4e30e.html" target="element"> G-OBJS2. Vigilar la complejidad e impacto en la arquitectura SOA del Fondo </a> </td>
													    <td> <a href="../elements/id-bd63fd3f925a4afaba4e53377bb4e30e.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-10ed4b66bb4947f69634182fc01441a6.html" target="element"> OBJ1. Independencia de proveedor FNA </a> </td>
													    <td> <a href="../elements/id-10ed4b66bb4947f69634182fc01441a6.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-30e17720322349978e0c2bd3cc36496c.html" target="element"> OBJ2. Flexibilidad y tiempo de mercado FNA </a> </td>
													    <td> <a href="../elements/id-30e17720322349978e0c2bd3cc36496c.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2199a6cdd3da4ce198e31e6dcd81f3ce.html" target="element"> OBJ3. Fortaleza SOA de las aplicaciones del FNA </a> </td>
													    <td> <a href="../elements/id-2199a6cdd3da4ce198e31e6dcd81f3ce.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-a9bc3864f85e426fa60c8c3c868e0e74.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a9bc3864f85e426fa60c8c3c868e0e74.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-7cbbd611c18b4339af7f32ea36d2cd0b.html" target="element"> Preliminar. Estrategias de implementaci&#243;n cambios </a> </td>
											    <td> <a href="../elements/id-7cbbd611c18b4339af7f32ea36d2cd0b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-636db0cb272441ee9ff2b4b0229bab63.html" target="element"> Diagn&#243;sticos Fase Actual </a> </td>
											    <td> <a href="../elements/id-636db0cb272441ee9ff2b4b0229bab63.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-020573ceaad2467191b9bca36d2db5bc.html" target="element"> An&#225;lisis de huella y dependencia tecnologica SOA del FNA </a> </td>
													    <td> <a href="../elements/id-020573ceaad2467191b9bca36d2db5bc.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-adcd603e640646c0b2b5746b782ec863.html" target="element"> Comparativa industria </a> </td>
													    <td> <a href="../elements/id-adcd603e640646c0b2b5746b782ec863.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-01a61e387c124a5cbc9c6c86a30106aa.html" target="element"> Necesidades de integraci&#243;n e intercambio de informaci&#243;n </a> </td>
													    <td> <a href="../elements/id-01a61e387c124a5cbc9c6c86a30106aa.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6b20acbfe3634f66aa537a9f68de2c30.html" target="element"> An&#225;lisis de alineaci&#243;n negocio </a> </td>
													    <td> <a href="../elements/id-6b20acbfe3634f66aa537a9f68de2c30.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ce43d134d6ba4ab484278cecccbe0014.html" target="element"> Madurez y Gobierno SOA FNA </a> </td>
													    <td> <a href="../elements/id-ce43d134d6ba4ab484278cecccbe0014.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-43f2fbc8815947d6b582202667d0dba9.html" target="element"> Oportunidades y beneficios SOA futuros. Requerimientos SOA </a> </td>
													    <td> <a href="../elements/id-43f2fbc8815947d6b582202667d0dba9.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1c73f8a980574297a8891ef4b1f89dbe.html" target="element"> An&#225;lisis de gobierno SOA (Gov and Interop Framework) </a> </td>
													    <td> <a href="../elements/id-1c73f8a980574297a8891ef4b1f89dbe.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d3a951b36c0440fb86cc8dbc45a97e90.html" target="element"> An&#225;lisis de las fortalezas SOA del FNA </a> </td>
													    <td> <a href="../elements/id-d3a951b36c0440fb86cc8dbc45a97e90.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b7097d679ad544f6982baaf09311ab87.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b7097d679ad544f6982baaf09311ab87.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-96e92db1e7e549e594d875f3453a0d82.html" target="element"> An&#225;lisis de brechas FNA (entradas, salidas, valor) </a> </td>
																		<td> <a href="../elements/id-a4463b3efca34f5d94596a223c957301.html" target="element"> Matriz de brechas FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-33b2c63f4851465c855712349045c050.html" target="element"> salida </a> </td>
																		<td> <a href="../elements/id-33b2c63f4851465c855712349045c050.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-96e92db1e7e549e594d875f3453a0d82.html" target="element"> An&#225;lisis de brechas FNA (entradas, salidas, valor) </a> </td>
																		<td> <a href="../elements/id-80e77e2fe4f2448bae5da952166440db.html" target="element"> Portafolio de iniciativas FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a0fb8edea3d343beb5d8e40a4689b054.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a0fb8edea3d343beb5d8e40a4689b054.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-96e92db1e7e549e594d875f3453a0d82.html" target="element"> An&#225;lisis de brechas FNA (entradas, salidas, valor) </a> </td>
																		<td> <a href="../elements/id-af07ce87fc674b92b510d235a94762fd.html" target="element"> Hoja de Ruta preliminar FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b091a5c482745d2891bb724e7f37706.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b091a5c482745d2891bb724e7f37706.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-96e92db1e7e549e594d875f3453a0d82.html" target="element"> An&#225;lisis de brechas FNA (entradas, salidas, valor) </a> </td>
																		<td> <a href="../elements/id-0c9bfc65e6e34ab4a3a3ccbf1f37e3d8.html" target="element"> Decisiones TI y priorizaci&#243;n de proyectos FNA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e0b012d0f009454c8db1b4124d6f511e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0b012d0f009454c8db1b4124d6f511e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-80e77e2fe4f2448bae5da952166440db.html" target="element"> Portafolio de iniciativas FNA </a> </td>
																		<td> <a href="../elements/id-7cbbd611c18b4339af7f32ea36d2cd0b.html" target="element"> Preliminar. Estrategias de implementaci&#243;n cambios </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6a9d92ca833c43289d552a61bc00a1ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a9d92ca833c43289d552a61bc00a1ca.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-8e24f2da2ffe4c79a2db65d709c8289a.html" target="element"> Arquitectura SOA actual </a> </td>
																		<td> <a href="../elements/id-96e92db1e7e549e594d875f3453a0d82.html" target="element"> An&#225;lisis de brechas FNA (entradas, salidas, valor) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5b21e68f02284c858fb22dddd8a7fd75.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5b21e68f02284c858fb22dddd8a7fd75.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-6074040e428d4c53981a3dde91ef8272.html" target="element"> Arquitectura SOA objetivo </a> </td>
																		<td> <a href="../elements/id-96e92db1e7e549e594d875f3453a0d82.html" target="element"> An&#225;lisis de brechas FNA (entradas, salidas, valor) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-46520f56ff9b4698b806abcfa7f8fb06.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-46520f56ff9b4698b806abcfa7f8fb06.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-32456c3bb93d48769a8962b7e52fa9ed.html" target="element"> Objetivos SOA FNA </a> </td>
																		<td> <a href="../elements/id-6bce611af9ab4522945d460d89c8c2f4.html" target="element"> G-OBJ3. Vigilar y perseguir &#237;ndices de efectividad SOA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c5e74d128eac408fab3e3f712ddbfeff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5e74d128eac408fab3e3f712ddbfeff.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-32456c3bb93d48769a8962b7e52fa9ed.html" target="element"> Objetivos SOA FNA </a> </td>
																		<td> <a href="../elements/id-bd63fd3f925a4afaba4e53377bb4e30e.html" target="element"> G-OBJS2. Vigilar la complejidad e impacto en la arquitectura SOA del Fondo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bdbe641dcfbb48d3b2912ca5a4c4c647.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bdbe641dcfbb48d3b2912ca5a4c4c647.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-32456c3bb93d48769a8962b7e52fa9ed.html" target="element"> Objetivos SOA FNA </a> </td>
																		<td> <a href="../elements/id-be98084fd2f6494eb915e4657f73bca9.html" target="element"> G-OBJ1. Vigilancia del riesgo tecnol&#243;gico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-674f8941e5054516bdf9e6fb4096fb35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-674f8941e5054516bdf9e6fb4096fb35.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-32456c3bb93d48769a8962b7e52fa9ed.html" target="element"> Objetivos SOA FNA </a> </td>
																		<td> <a href="../elements/id-10ed4b66bb4947f69634182fc01441a6.html" target="element"> OBJ1. Independencia de proveedor FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-91681d94faf54c8a890477ff17e4a33e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-91681d94faf54c8a890477ff17e4a33e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-32456c3bb93d48769a8962b7e52fa9ed.html" target="element"> Objetivos SOA FNA </a> </td>
																		<td> <a href="../elements/id-30e17720322349978e0c2bd3cc36496c.html" target="element"> OBJ2. Flexibilidad y tiempo de mercado FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-de78079a2390409f964e305fc0aeb653.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de78079a2390409f964e305fc0aeb653.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-32456c3bb93d48769a8962b7e52fa9ed.html" target="element"> Objetivos SOA FNA </a> </td>
																		<td> <a href="../elements/id-2199a6cdd3da4ce198e31e6dcd81f3ce.html" target="element"> OBJ3. Fortaleza SOA de las aplicaciones del FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-360f3221460647ba9828e219cf2f8fb6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-360f3221460647ba9828e219cf2f8fb6.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-32456c3bb93d48769a8962b7e52fa9ed.html" target="element"> Objetivos SOA FNA </a> </td>
																		<td> <a href="../elements/id-96e92db1e7e549e594d875f3453a0d82.html" target="element"> An&#225;lisis de brechas FNA (entradas, salidas, valor) </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-68df5db6b0cc4c36ac14a90bf589b38b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-68df5db6b0cc4c36ac14a90bf589b38b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-636db0cb272441ee9ff2b4b0229bab63.html" target="element"> Diagn&#243;sticos Fase Actual </a> </td>
																		<td> <a href="../elements/id-43f2fbc8815947d6b582202667d0dba9.html" target="element"> Oportunidades y beneficios SOA futuros. Requerimientos SOA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f7ee32961ca34a2ba32c35edf580f73f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7ee32961ca34a2ba32c35edf580f73f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-636db0cb272441ee9ff2b4b0229bab63.html" target="element"> Diagn&#243;sticos Fase Actual </a> </td>
																		<td> <a href="../elements/id-020573ceaad2467191b9bca36d2db5bc.html" target="element"> An&#225;lisis de huella y dependencia tecnologica SOA del FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-db67ddd019a241d4a11dede7e651013b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-db67ddd019a241d4a11dede7e651013b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-636db0cb272441ee9ff2b4b0229bab63.html" target="element"> Diagn&#243;sticos Fase Actual </a> </td>
																		<td> <a href="../elements/id-01a61e387c124a5cbc9c6c86a30106aa.html" target="element"> Necesidades de integraci&#243;n e intercambio de informaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c98c55a57e64982ae809c200f5f1b35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c98c55a57e64982ae809c200f5f1b35.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-636db0cb272441ee9ff2b4b0229bab63.html" target="element"> Diagn&#243;sticos Fase Actual </a> </td>
																		<td> <a href="../elements/id-1c73f8a980574297a8891ef4b1f89dbe.html" target="element"> An&#225;lisis de gobierno SOA (Gov and Interop Framework) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e8486fc3d10d404d9cfcfd44537b4328.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8486fc3d10d404d9cfcfd44537b4328.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-636db0cb272441ee9ff2b4b0229bab63.html" target="element"> Diagn&#243;sticos Fase Actual </a> </td>
																		<td> <a href="../elements/id-d3a951b36c0440fb86cc8dbc45a97e90.html" target="element"> An&#225;lisis de las fortalezas SOA del FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cbfa7e20b7204f669b3d4df8296b8485.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cbfa7e20b7204f669b3d4df8296b8485.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-636db0cb272441ee9ff2b4b0229bab63.html" target="element"> Diagn&#243;sticos Fase Actual </a> </td>
																		<td> <a href="../elements/id-ce43d134d6ba4ab484278cecccbe0014.html" target="element"> Madurez y Gobierno SOA FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8f37b9216456440e88ac1064632e1285.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f37b9216456440e88ac1064632e1285.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-636db0cb272441ee9ff2b4b0229bab63.html" target="element"> Diagn&#243;sticos Fase Actual </a> </td>
																		<td> <a href="../elements/id-adcd603e640646c0b2b5746b782ec863.html" target="element"> Comparativa industria </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b8861a809b234c47b7d3373f85630629.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8861a809b234c47b7d3373f85630629.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-636db0cb272441ee9ff2b4b0229bab63.html" target="element"> Diagn&#243;sticos Fase Actual </a> </td>
																		<td> <a href="../elements/id-6b20acbfe3634f66aa537a9f68de2c30.html" target="element"> An&#225;lisis de alineaci&#243;n negocio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a17efb3cff48484bace643c924ebff55.html" target="element"> entrd. </a> </td>
																		<td> <a href="../elements/id-a17efb3cff48484bace643c924ebff55.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-636db0cb272441ee9ff2b4b0229bab63.html" target="element"> Diagn&#243;sticos Fase Actual </a> </td>
																		<td> <a href="../elements/id-96e92db1e7e549e594d875f3453a0d82.html" target="element"> An&#225;lisis de brechas FNA (entradas, salidas, valor) </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>