<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Gobierno SOA. 8n. 1. Funciones (resp.)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Gobierno SOA. 8n. 1. Funciones (resp.)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7377f56482e04b22922813a6a0fa8ed5.png" alt="Gobierno SOA. 8n. 1. Funciones (resp.)" usemap="#id-7377f56482e04b22922813a6a0fa8ed5map"/>
			   <map name="id-7377f56482e04b22922813a6a0fa8ed5map">
				  		<area shape="rect" coords="908,692,1270,802" href="../elements/ba9777c2-3194-4ba1-abf1-0aaa4372b60c.html"  target="element">
				  		<area shape="rect" coords="908,572,1270,682" href="../elements/43b85b98-38c9-4762-a3b6-0730f41992ba.html"  target="element">
				  		<area shape="rect" coords="908,452,1270,562" href="../elements/4d67ed2d-2da2-4fae-86e5-7c34e032c0a6.html"  target="element">
				  		<area shape="rect" coords="908,332,1270,442" href="../elements/80d63a5a-f3ba-419d-8ab4-f3707e10c986.html"  target="element">
				  		<area shape="rect" coords="908,212,1270,322" href="../elements/1960a901-f8a0-4af5-bc7f-cf654654340a.html"  target="element">
				  		<area shape="rect" coords="428,20,668,994" href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html"  target="element">
				  		<area shape="rect" coords="20,164,260,274" href="../elements/id-07f6a5c2537447bfaae5ae6841fd026e.html"  target="element">
				  		<area shape="rect" coords="20,20,260,130" href="../elements/id-401f36e68c054603816d75ce75bd736a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Las condiciones preexistentes en el FNA indicadas arriba definen el contexto en el cual debe operar, y el que hay que enfrentar con el nuevo gobierno SOA del FNA, versi&#243;n 0.5. Esto es, para enfrentar este contexto requerimos antes que nada lo que llamaremos funciones del gobierno, y que estas sean explicitas para este contexto. del FNA. Estas funciones, adem&#225;s, deben tener un corresponsal directo, y esta es la oficina de arquitectura del FNA (LOAF), dado que esta es la que las debe ejecutar.

Las funciones que el gobierno SOA del FNA debe proveer, y que la oficina de arquitectura del FNA debe realizar, son:

* FUNC01. Vigilancia de alienaci&#243;n negocio-arquitectura
* FUNC02. Equilibrio arquitectura y procesos SOA
* FUNC03. Supervisi&#243;n de efectividad y factibilidad SOA
* FUNC04. Mejora de los &#237;ndices de efectividad (madurez) SOA
* FUNC05. Consideraciones para la puesta en marcha del gobierno SOA en el FNA
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-401f36e68c054603816d75ce75bd736a.html" target="element"> Comit&#233; de Arquitectura FNA </a> </td>
											    <td> <a href="../elements/id-401f36e68c054603816d75ce75bd736a.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-07f6a5c2537447bfaae5ae6841fd026e.html" target="element"> Arquitecto SOA encargado  </a> </td>
											    <td> <a href="../elements/id-07f6a5c2537447bfaae5ae6841fd026e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> Oficina de Arquitectura del FNA / &#193;rea de Arquitectura </a> </td>
											    <td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1960a901-f8a0-4af5-bc7f-cf654654340a.html" target="element"> RESP01. Vigilancia de alineaci&#243;n negocio-arquitectura </a> </td>
											    <td> <a href="../elements/1960a901-f8a0-4af5-bc7f-cf654654340a.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/80d63a5a-f3ba-419d-8ab4-f3707e10c986.html" target="element"> RESP02. Equilibrio arquitectura y procesos SOA </a> </td>
											    <td> <a href="../elements/80d63a5a-f3ba-419d-8ab4-f3707e10c986.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4d67ed2d-2da2-4fae-86e5-7c34e032c0a6.html" target="element"> RESP03. Supervisi&#243;n de efectividad y factibilidad SOA </a> </td>
											    <td> <a href="../elements/4d67ed2d-2da2-4fae-86e5-7c34e032c0a6.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/43b85b98-38c9-4762-a3b6-0730f41992ba.html" target="element"> RESP04. Mejora de los &#237;ndices de efectividad (madurez) SOA </a> </td>
											    <td> <a href="../elements/43b85b98-38c9-4762-a3b6-0730f41992ba.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ba9777c2-3194-4ba1-abf1-0aaa4372b60c.html" target="element"> RESP05. Consideraciones para la puesta en marcha del gobierno SOA en el FNA </a> </td>
											    <td> <a href="../elements/ba9777c2-3194-4ba1-abf1-0aaa4372b60c.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6abf08de940643099aac0d259b9bbe3d.html" target="element"> participa </a> </td>
																		<td> <a href="../elements/id-6abf08de940643099aac0d259b9bbe3d.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-401f36e68c054603816d75ce75bd736a.html" target="element"> Comit&#233; de Arquitectura FNA </a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> Oficina de Arquitectura del FNA / &#193;rea de Arquitectura </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-99d795c9cfb744ea8c9004bbe5275da5.html" target="element"> pertenece </a> </td>
																		<td> <a href="../elements/id-99d795c9cfb744ea8c9004bbe5275da5.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-07f6a5c2537447bfaae5ae6841fd026e.html" target="element"> Arquitecto SOA encargado  </a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> Oficina de Arquitectura del FNA / &#193;rea de Arquitectura </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4d99893d-9b13-4d6a-be19-4d97dea5b86a.html" target="element"> cumple </a> </td>
																		<td> <a href="../elements/4d99893d-9b13-4d6a-be19-4d97dea5b86a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> Oficina de Arquitectura del FNA / &#193;rea de Arquitectura </a> </td>
																		<td> <a href="../elements/1960a901-f8a0-4af5-bc7f-cf654654340a.html" target="element"> RESP01. Vigilancia de alineaci&#243;n negocio-arquitectura </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bae747ce-d903-4621-a8c8-6953016081bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/bae747ce-d903-4621-a8c8-6953016081bd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> Oficina de Arquitectura del FNA / &#193;rea de Arquitectura </a> </td>
																		<td> <a href="../elements/80d63a5a-f3ba-419d-8ab4-f3707e10c986.html" target="element"> RESP02. Equilibrio arquitectura y procesos SOA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e58a355a-2a9f-4fb4-b3b9-c5e1adf9a381.html" target="element">  </a> </td>
																		<td> <a href="../elements/e58a355a-2a9f-4fb4-b3b9-c5e1adf9a381.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> Oficina de Arquitectura del FNA / &#193;rea de Arquitectura </a> </td>
																		<td> <a href="../elements/4d67ed2d-2da2-4fae-86e5-7c34e032c0a6.html" target="element"> RESP03. Supervisi&#243;n de efectividad y factibilidad SOA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b1560464-c3e9-4358-9dbd-5b913efcec8e.html" target="element">  </a> </td>
																		<td> <a href="../elements/b1560464-c3e9-4358-9dbd-5b913efcec8e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> Oficina de Arquitectura del FNA / &#193;rea de Arquitectura </a> </td>
																		<td> <a href="../elements/43b85b98-38c9-4762-a3b6-0730f41992ba.html" target="element"> RESP04. Mejora de los &#237;ndices de efectividad (madurez) SOA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ec935134-8c39-4466-8826-f4e1b2840150.html" target="element">  </a> </td>
																		<td> <a href="../elements/ec935134-8c39-4466-8826-f4e1b2840150.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> Oficina de Arquitectura del FNA / &#193;rea de Arquitectura </a> </td>
																		<td> <a href="../elements/ba9777c2-3194-4ba1-abf1-0aaa4372b60c.html" target="element"> RESP05. Consideraciones para la puesta en marcha del gobierno SOA en el FNA </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>