<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Gobierno SOA. 4n</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Gobierno SOA. 4n</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7377f56482e04b22922813a6a0fa8ed5.png" alt="Gobierno SOA. 4n" usemap="#id-7377f56482e04b22922813a6a0fa8ed5map"/>
			   <map name="id-7377f56482e04b22922813a6a0fa8ed5map">
				  		<area shape="rect" coords="644,884,1150,994" href="../elements/id-a2b4910ff071496ba77f0f293d4bc96d.html"  target="element">
				  		<area shape="rect" coords="644,740,1150,850" href="../elements/id-fc8c9f4bac7c49af918b885b83fbc4a7.html"  target="element">
				  		<area shape="rect" coords="644,596,1150,706" href="../elements/id-14a268ed36d943159e93075e100322ba.html"  target="element">
				  		<area shape="rect" coords="644,452,1150,562" href="../elements/id-2a59232558d74ea9b4f7d5b85bb057b3.html"  target="element">
				  		<area shape="rect" coords="644,308,1150,418" href="../elements/id-1d26aa39af4a48daaaa6b0e107991d90.html"  target="element">
				  		<area shape="rect" coords="644,164,1150,274" href="../elements/id-3445abf0dd9a43d69f16624ef58c1e02.html"  target="element">
				  		<area shape="rect" coords="332,20,572,994" href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html"  target="element">
				  		<area shape="rect" coords="20,164,260,274" href="../elements/id-07f6a5c2537447bfaae5ae6841fd026e.html"  target="element">
				  		<area shape="rect" coords="20,20,260,130" href="../elements/id-401f36e68c054603816d75ce75bd736a.html"  target="element">
				  		<area shape="rect" coords="644,20,1150,130" href="../elements/id-d548c1d15b684f69a33710349013397e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d548c1d15b684f69a33710349013397e.html" target="element"> CAP1. Realizar e implementar estrategias y entregables de la arquitectura de referencia SOA </a> </td>
											    <td> <a href="../elements/id-d548c1d15b684f69a33710349013397e.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-401f36e68c054603816d75ce75bd736a.html" target="element"> Comit&#233; de Arquitectura FNA </a> </td>
											    <td> <a href="../elements/id-401f36e68c054603816d75ce75bd736a.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-07f6a5c2537447bfaae5ae6841fd026e.html" target="element"> Arquitecto SOA encargado  </a> </td>
											    <td> <a href="../elements/id-07f6a5c2537447bfaae5ae6841fd026e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> &#193;rea Gobierno SOA del FNA </a> </td>
											    <td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3445abf0dd9a43d69f16624ef58c1e02.html" target="element"> CAP2. Relacionar la arquitectura de referencia SOA y vincular distintas perspetivas del negocio </a> </td>
											    <td> <a href="../elements/id-3445abf0dd9a43d69f16624ef58c1e02.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1d26aa39af4a48daaaa6b0e107991d90.html" target="element"> CAP3. Ejecutar hojas de ruta de cierre de brechas de la arquitectura SOA del FNA </a> </td>
											    <td> <a href="../elements/id-1d26aa39af4a48daaaa6b0e107991d90.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a59232558d74ea9b4f7d5b85bb057b3.html" target="element"> CAP4. Trazabilidad de los activos y productos de TI con los productos y decisiones de negocio del FNA </a> </td>
											    <td> <a href="../elements/id-2a59232558d74ea9b4f7d5b85bb057b3.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-14a268ed36d943159e93075e100322ba.html" target="element"> CAP5. Realizar an&#225;lisis de impacto, riesgos, costo beneficio, y capacidad en uso </a> </td>
											    <td> <a href="../elements/id-14a268ed36d943159e93075e100322ba.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fc8c9f4bac7c49af918b885b83fbc4a7.html" target="element"> CAP6. Emitir y gestionar documentaci&#243;n t&#233;cnica est&#225;ndares para proveedores, Comunicaci&#243;n y Planeaci&#243;n del FNA </a> </td>
											    <td> <a href="../elements/id-fc8c9f4bac7c49af918b885b83fbc4a7.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a2b4910ff071496ba77f0f293d4bc96d.html" target="element"> CAP7. Emitir y actualzar el marco de trabajo de gobierno SOA del FNA </a> </td>
											    <td> <a href="../elements/id-a2b4910ff071496ba77f0f293d4bc96d.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0fad259e047d4d1fb71adab7f13b5772.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0fad259e047d4d1fb71adab7f13b5772.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-d548c1d15b684f69a33710349013397e.html" target="element"> CAP1. Realizar e implementar estrategias y entregables de la arquitectura de referencia SOA </a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> &#193;rea Gobierno SOA del FNA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6abf08de940643099aac0d259b9bbe3d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6abf08de940643099aac0d259b9bbe3d.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-401f36e68c054603816d75ce75bd736a.html" target="element"> Comit&#233; de Arquitectura FNA </a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> &#193;rea Gobierno SOA del FNA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-99d795c9cfb744ea8c9004bbe5275da5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-99d795c9cfb744ea8c9004bbe5275da5.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-07f6a5c2537447bfaae5ae6841fd026e.html" target="element"> Arquitecto SOA encargado  </a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> &#193;rea Gobierno SOA del FNA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5cb6284f155f478b88ca70dede9f9bb0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5cb6284f155f478b88ca70dede9f9bb0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-3445abf0dd9a43d69f16624ef58c1e02.html" target="element"> CAP2. Relacionar la arquitectura de referencia SOA y vincular distintas perspetivas del negocio </a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> &#193;rea Gobierno SOA del FNA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-723f51ebd8324684b56b2496dec98540.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-723f51ebd8324684b56b2496dec98540.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1d26aa39af4a48daaaa6b0e107991d90.html" target="element"> CAP3. Ejecutar hojas de ruta de cierre de brechas de la arquitectura SOA del FNA </a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> &#193;rea Gobierno SOA del FNA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-99b18bf7702a458a8df368d7880d30b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-99b18bf7702a458a8df368d7880d30b3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2a59232558d74ea9b4f7d5b85bb057b3.html" target="element"> CAP4. Trazabilidad de los activos y productos de TI con los productos y decisiones de negocio del FNA </a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> &#193;rea Gobierno SOA del FNA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9e73e8029a4842dab5b753de61febb27.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e73e8029a4842dab5b753de61febb27.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-14a268ed36d943159e93075e100322ba.html" target="element"> CAP5. Realizar an&#225;lisis de impacto, riesgos, costo beneficio, y capacidad en uso </a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> &#193;rea Gobierno SOA del FNA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fb6875fe69284d299644e3a26a30de1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb6875fe69284d299644e3a26a30de1f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-fc8c9f4bac7c49af918b885b83fbc4a7.html" target="element"> CAP6. Emitir y gestionar documentaci&#243;n t&#233;cnica est&#225;ndares para proveedores, Comunicaci&#243;n y Planeaci&#243;n del FNA </a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> &#193;rea Gobierno SOA del FNA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7cbc55f656f94e5ca973d3c109fddefb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7cbc55f656f94e5ca973d3c109fddefb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a2b4910ff071496ba77f0f293d4bc96d.html" target="element"> CAP7. Emitir y actualzar el marco de trabajo de gobierno SOA del FNA </a> </td>
																		<td> <a href="../elements/id-526efafb5d094f99ad65ebec8c5f35eb.html" target="element"> &#193;rea Gobierno SOA del FNA </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>