<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Gobierno SOA. 1n</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Gobierno SOA. 1n</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8b734fa1c29b432d8dbe76976e2dc77f.png" alt="Gobierno SOA. 1n" usemap="#id-8b734fa1c29b432d8dbe76976e2dc77fmap"/>
			   <map name="id-8b734fa1c29b432d8dbe76976e2dc77fmap">
				          <area shape="rect" coords="40,20,410,180" href="../objects/id-8d80cc64c3ba497298209251ea3cb504.html" target="element" >
				  				<area shape="rect" coords="208,692,448,862" href="../elements/id-15fd383b779e4adea7ffa3674aa0b987.html"  target="element">

				  		<area shape="rect" coords="160,620,1482,934" href="../elements/id-07ee8dd83388477ab451526315035ceb.html"  target="element">
				  				<area shape="rect" coords="208,308,448,478" href="../elements/id-22897129f0c5442ea8811730e5383718.html"  target="element">
				  				<area shape="rect" coords="520,308,760,478" href="../elements/id-a09cd58c4ff74463aefcf983fe214b9f.html"  target="element">
				  				<area shape="rect" coords="856,308,1096,478" href="../elements/id-f18cb5196cc64cf1b8d817fc7e4e212f.html"  target="element">
				  				<area shape="rect" coords="1168,308,1408,478" href="../elements/id-c22f6d334e6541a4a360b833895b8b84.html"  target="element">

				  		<area shape="rect" coords="160,236,1482,550" href="../elements/id-2e6d09aecf9d42a1a29e1892bbb7f11e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-2e6d09aecf9d42a1a29e1892bbb7f11e.html" target="element"> Gobierno Arquitectura SOA. Cambio </a> </td>
											    <td> <a href="../elements/id-2e6d09aecf9d42a1a29e1892bbb7f11e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c22f6d334e6541a4a360b833895b8b84.html" target="element"> Modificaci&#243;n de repositorio arquitectura FNA </a> </td>
													    <td> <a href="../elements/id-c22f6d334e6541a4a360b833895b8b84.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f18cb5196cc64cf1b8d817fc7e4e212f.html" target="element"> Cambio de la arquitectura (ADM de TOGAF) </a> </td>
													    <td> <a href="../elements/id-f18cb5196cc64cf1b8d817fc7e4e212f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a09cd58c4ff74463aefcf983fe214b9f.html" target="element"> Evaluaci&#243;n de alistamiento y madurez </a> </td>
													    <td> <a href="../elements/id-a09cd58c4ff74463aefcf983fe214b9f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-22897129f0c5442ea8811730e5383718.html" target="element"> Gesti&#243;n del cambio e impacto </a> </td>
													    <td> <a href="../elements/id-22897129f0c5442ea8811730e5383718.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-07ee8dd83388477ab451526315035ceb.html" target="element"> Gobierno Arquitectura SOA. Evaluaci&#243;n </a> </td>
											    <td> <a href="../elements/id-07ee8dd83388477ab451526315035ceb.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-15fd383b779e4adea7ffa3674aa0b987.html" target="element"> Evaluaci&#243;n de la arquitectura </a> </td>
													    <td> <a href="../elements/id-15fd383b779e4adea7ffa3674aa0b987.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-8d80cc64c3ba497298209251ea3cb504.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8d80cc64c3ba497298209251ea3cb504.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6a4711267f7b4646b28eaabc0db7dc21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a4711267f7b4646b28eaabc0db7dc21.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2e6d09aecf9d42a1a29e1892bbb7f11e.html" target="element"> Gobierno Arquitectura SOA. Cambio </a> </td>
																		<td> <a href="../elements/id-c22f6d334e6541a4a360b833895b8b84.html" target="element"> Modificaci&#243;n de repositorio arquitectura FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e57ca0aa7b3c477ebb7c31d01b0f574b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e57ca0aa7b3c477ebb7c31d01b0f574b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2e6d09aecf9d42a1a29e1892bbb7f11e.html" target="element"> Gobierno Arquitectura SOA. Cambio </a> </td>
																		<td> <a href="../elements/id-f18cb5196cc64cf1b8d817fc7e4e212f.html" target="element"> Cambio de la arquitectura (ADM de TOGAF) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4edeff78ca59473b9b9b888bae1fc295.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4edeff78ca59473b9b9b888bae1fc295.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2e6d09aecf9d42a1a29e1892bbb7f11e.html" target="element"> Gobierno Arquitectura SOA. Cambio </a> </td>
																		<td> <a href="../elements/id-a09cd58c4ff74463aefcf983fe214b9f.html" target="element"> Evaluaci&#243;n de alistamiento y madurez </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-575f2530d2734f1bbd78f8301de90c57.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-575f2530d2734f1bbd78f8301de90c57.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2e6d09aecf9d42a1a29e1892bbb7f11e.html" target="element"> Gobierno Arquitectura SOA. Cambio </a> </td>
																		<td> <a href="../elements/id-22897129f0c5442ea8811730e5383718.html" target="element"> Gesti&#243;n del cambio e impacto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b6f567bef98d4b2b8cb2ce713d95aeb5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b6f567bef98d4b2b8cb2ce713d95aeb5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-2e6d09aecf9d42a1a29e1892bbb7f11e.html" target="element"> Gobierno Arquitectura SOA. Cambio </a> </td>
																		<td> <a href="../elements/id-07ee8dd83388477ab451526315035ceb.html" target="element"> Gobierno Arquitectura SOA. Evaluaci&#243;n </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-24749ad30faf409b8de28ed484788580.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-24749ad30faf409b8de28ed484788580.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-f18cb5196cc64cf1b8d817fc7e4e212f.html" target="element"> Cambio de la arquitectura (ADM de TOGAF) </a> </td>
																				<td> <a href="../elements/id-c22f6d334e6541a4a360b833895b8b84.html" target="element"> Modificaci&#243;n de repositorio arquitectura FNA </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-99a783c0f84b4017809c51922997b6a5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-99a783c0f84b4017809c51922997b6a5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-a09cd58c4ff74463aefcf983fe214b9f.html" target="element"> Evaluaci&#243;n de alistamiento y madurez </a> </td>
																				<td> <a href="../elements/id-f18cb5196cc64cf1b8d817fc7e4e212f.html" target="element"> Cambio de la arquitectura (ADM de TOGAF) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9230f3a51bee408c834ed8eb43ccf511.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9230f3a51bee408c834ed8eb43ccf511.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-22897129f0c5442ea8811730e5383718.html" target="element"> Gesti&#243;n del cambio e impacto </a> </td>
																				<td> <a href="../elements/id-a09cd58c4ff74463aefcf983fe214b9f.html" target="element"> Evaluaci&#243;n de alistamiento y madurez </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cc4eb199ffaf4c019825aed70842c8ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc4eb199ffaf4c019825aed70842c8ea.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-07ee8dd83388477ab451526315035ceb.html" target="element"> Gobierno Arquitectura SOA. Evaluaci&#243;n </a> </td>
																		<td> <a href="../elements/id-15fd383b779e4adea7ffa3674aa0b987.html" target="element"> Evaluaci&#243;n de la arquitectura </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-90add794a7dc46e3819d4abd8c3addd7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90add794a7dc46e3819d4abd8c3addd7.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-07ee8dd83388477ab451526315035ceb.html" target="element"> Gobierno Arquitectura SOA. Evaluaci&#243;n </a> </td>
																		<td> <a href="../elements/id-2e6d09aecf9d42a1a29e1892bbb7f11e.html" target="element"> Gobierno Arquitectura SOA. Cambio </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>