<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>(no usar) Gobierno SOA. 2n1. Modelo 0.5</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>(no usar) Gobierno SOA. 2n1. Modelo 0.5</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9fb7fefdff9c4e26b0e7c0ac62298c9c.png" alt="(no usar) Gobierno SOA. 2n1. Modelo 0.5" usemap="#id-9fb7fefdff9c4e26b0e7c0ac62298c9cmap"/>
			   <map name="id-9fb7fefdff9c4e26b0e7c0ac62298c9cmap">
				  		<area shape="rect" coords="232,1028,472,1138" href="../elements/id-7773cf42398d4d15b2e5b615e21e269f.html"  target="element">
				  		<area shape="rect" coords="1086,1308,1326,1418" href="../elements/id-67c4085841b84aa5b091eac4a0c857f0.html"  target="element">
				  		<area shape="rect" coords="1066,1288,1306,1398" href="../elements/id-d0e5f6e6cfd74812be014b72209cfaf9.html"  target="element">
				  						<area shape="rect" coords="2606,2022,2894,2132" href="../elements/id-eebf6a736a6641659022914bb2ed0e02.html"  target="element">
				  						<area shape="rect" coords="2606,1902,2894,2012" href="../elements/id-90cda13cf2d64e0fb50b00e6e08e4ae2.html"  target="element">
				  						<area shape="rect" coords="2606,1782,2894,1892" href="../elements/id-5ba902744949455a85e6228c07cf460f.html"  target="element">
				  						<area shape="rect" coords="2606,1662,2894,1772" href="../elements/id-fad470f8eb654057944b3e57399b0ca0.html"  target="element">
				  						<area shape="rect" coords="2606,1542,2894,1652" href="../elements/id-5226e4aa51614a918e9864557d174da5.html"  target="element">
				  						<area shape="rect" coords="2606,1422,2894,1532" href="../elements/id-58cbf4f5e3494794bc3c62f41ef07689.html"  target="element">
				  						<area shape="rect" coords="2606,1302,2894,1412" href="../elements/id-3a5790eaf79444b3bf1e75ec1317ba70.html"  target="element">

				  				<area shape="rect" coords="2534,1230,2966,2142" href="../elements/id-59a006d82c84486fb9f2e52226d9808f.html"  target="element">
				  						<area shape="rect" coords="926,1732,1166,1842" href="../elements/id-b70d205220bf46d19216b5a675913941.html"  target="element">
				  						<area shape="rect" coords="902,1708,1142,1818" href="../elements/id-abe92a881c4c4b19b6b91d41397aad53.html"  target="element">
				  						<area shape="rect" coords="878,1684,1118,1794" href="../elements/id-f88e04d2c65d4c94b1cda5aabef15702.html"  target="element">

				  				<area shape="rect" coords="806,1612,1238,1854" href="../elements/id-7efeeb02f7c14091a8cebfc40a19be3b.html"  target="element">
				  						<area shape="rect" coords="878,1278,1118,1388" href="../elements/id-1aeefc309c754780926f165d07637f9e.html"  target="element">

				  				<area shape="rect" coords="806,1230,1238,1472" href="../elements/id-4cc567b318fd4f2e92fe78b7064b7c18.html"  target="element">
				  						<area shape="rect" coords="1550,1710,1790,1820" href="../elements/id-d88213c92cc54343860ee3d045f1463a.html"  target="element">
				  						<area shape="rect" coords="1530,1690,1770,1800" href="../elements/id-5796d252348f430a89ea8b472c001535.html"  target="element">
				  						<area shape="rect" coords="1510,1670,1750,1780" href="../elements/id-2b1536818c67478fb14fc70820a712aa.html"  target="element">

				  				<area shape="rect" coords="1382,1614,1886,1854" href="../elements/id-63a4bf2b19cf4fc7824b87a2deb61756.html"  target="element">
				  						<area shape="rect" coords="2126,1710,2390,1820" href="../elements/id-8acd46c4f9af4decb8faaa148690dfe8.html"  target="element">
				  						<area shape="rect" coords="2126,1518,2390,1628" href="../elements/id-cb371a9b1033463b95d0ac4d4bbe08a0.html"  target="element">
				  						<area shape="rect" coords="2126,1410,2390,1520" href="../elements/id-da0c569096274263a94e20816383fd87.html"  target="element">
				  						<area shape="rect" coords="2126,1302,2390,1412" href="../elements/id-37bc3b22727b4984b8735000178bee1f.html"  target="element">

				  				<area shape="rect" coords="2030,1230,2462,1854" href="../elements/id-da6b92722ca64c9aa8b65e9da17efc5e.html"  target="element">
				  						<area shape="rect" coords="1502,1302,1766,1412" href="../elements/id-ac443029da294018907f55c32f069b34.html"  target="element">

				  				<area shape="rect" coords="1382,1230,1886,1472" href="../elements/id-b2d78bd1c2d64db2b5bd20a5c7556554.html"  target="element">

				  		<area shape="rect" coords="758,1158,3038,2160" href="../elements/id-0c1325c6be95411585897e2ef63948f6.html"  target="element">
				  		<area shape="rect" coords="336,596,366,626" href="../elements/id-68f28f7df9ff47d3b51ab4d6440d55f6.html"  target="element">
				  		<area shape="rect" coords="470,836,710,946" href="../elements/id-0a780d5200394e69b257cd30bbf0f17a.html"  target="element">
				  		<area shape="rect" coords="24,836,264,946" href="../elements/id-fb212be87a614d65abf1adbb113d0b10.html"  target="element">
				          <area shape="rect" coords="20,20,478,284" href="../objects/id-4e5a329ce2be4019853502be4262db99.html" target="element" >
				  		<area shape="rect" coords="206,380,496,490" href="../elements/id-e4f885be68534e30bae1cc4bdc920e40.html"  target="element">
				  				<area shape="rect" coords="830,596,1102,740" href="../elements/id-ccf3ae1d7f6540aba04acd4e1b5cc9d0.html"  target="element">
				  				<area shape="rect" coords="1190,788,1454,898" href="../elements/id-8e0aea71079047d99e6a4e48bb0c7348.html"  target="element">
				  				<area shape="rect" coords="1382,140,1622,250" href="../elements/id-9c55ea09e68a4e21877c49910f72fda7.html"  target="element">
				  				<area shape="rect" coords="1574,788,1910,898" href="../elements/id-857554f0f8964f579ef6015316ea9b60.html"  target="element">
				  				<area shape="rect" coords="1886,380,2126,490" href="../elements/id-5c9d1cedc4594002b0b7f61f8b13122c.html"  target="element">
				  				<area shape="rect" coords="1310,368,1744,526" href="../elements/id-af787feaa6574d32a551ebea712da14e.html"  target="element">
				  				<area shape="rect" coords="830,140,1070,250" href="../elements/id-c16a45cfe18649bb9b744ef784392e56.html"  target="element">

				          <area shape="rect" coords="758,68,2248,958" href="../objects/id-277e4be9160f492a8cd34d1d1280b24e.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">**Flujo de Trabajo del Modelo de Gobierno SOA del FNA**. La Oficina de Arquitectura del FNA (LOAF) es la responsable de realizar los an&#225;lisis previos, de nivel 100 (donde 500 es el m&#225;ximo nivel de detalle) que respondan a los criterios de Complejidad, Impacto en el dominio, y Costo-Beneficio (C/B), que libere r&#225;pidamente.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-277e4be9160f492a8cd34d1d1280b24e.html" target="element"> Marco de Gobierno SOA FNA. Oficina </a> </td>
									           <td> <a href="../objects/id-277e4be9160f492a8cd34d1d1280b24e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-c16a45cfe18649bb9b744ef784392e56.html" target="element"> Gobierno TI FNA </a> </td>
													    <td> <a href="../elements/id-c16a45cfe18649bb9b744ef784392e56.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-af787feaa6574d32a551ebea712da14e.html" target="element"> Oficina Arquitectura FNA </a> </td>
													    <td> <a href="../elements/id-af787feaa6574d32a551ebea712da14e.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5c9d1cedc4594002b0b7f61f8b13122c.html" target="element"> Arquitectura Empresarial FNA </a> </td>
													    <td> <a href="../elements/id-5c9d1cedc4594002b0b7f61f8b13122c.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-857554f0f8964f579ef6015316ea9b60.html" target="element"> Comit&#233; de arquitectura FNA </a> </td>
													    <td> <a href="../elements/id-857554f0f8964f579ef6015316ea9b60.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9c55ea09e68a4e21877c49910f72fda7.html" target="element"> Contrato de Gobierno SOA FNA </a> </td>
													    <td> <a href="../elements/id-9c55ea09e68a4e21877c49910f72fda7.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8e0aea71079047d99e6a4e48bb0c7348.html" target="element"> Comit&#233; de Cambios FNA </a> </td>
													    <td> <a href="../elements/id-8e0aea71079047d99e6a4e48bb0c7348.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ccf3ae1d7f6540aba04acd4e1b5cc9d0.html" target="element"> Declaraci&#243;n Trabajo Arquitectura </a> </td>
													    <td> <a href="../elements/id-ccf3ae1d7f6540aba04acd4e1b5cc9d0.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e4f885be68534e30bae1cc4bdc920e40.html" target="element"> Evento de cambio arquitectura SOA </a> </td>
											    <td> <a href="../elements/id-e4f885be68534e30bae1cc4bdc920e40.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-4e5a329ce2be4019853502be4262db99.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4e5a329ce2be4019853502be4262db99.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-fb212be87a614d65abf1adbb113d0b10.html" target="element"> Requerimiento de Arquitectura </a> </td>
											    <td> <a href="../elements/id-fb212be87a614d65abf1adbb113d0b10.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0a780d5200394e69b257cd30bbf0f17a.html" target="element"> Caso Uso de Negocio </a> </td>
											    <td> <a href="../elements/id-0a780d5200394e69b257cd30bbf0f17a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-68f28f7df9ff47d3b51ab4d6440d55f6.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/id-68f28f7df9ff47d3b51ab4d6440d55f6.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b2d78bd1c2d64db2b5bd20a5c7556554.html" target="element"> Repositorio SOA </a> </td>
													    <td> <a href="../elements/id-b2d78bd1c2d64db2b5bd20a5c7556554.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-ac443029da294018907f55c32f069b34.html" target="element"> Modelo Arquitectura </a> </td>
															    <td> <a href="../elements/id-ac443029da294018907f55c32f069b34.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-da6b92722ca64c9aa8b65e9da17efc5e.html" target="element"> Repositorio An&#225;lisis </a> </td>
													    <td> <a href="../elements/id-da6b92722ca64c9aa8b65e9da17efc5e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-37bc3b22727b4984b8735000178bee1f.html" target="element"> ALS01. Complejidad </a> </td>
															    <td> <a href="../elements/id-37bc3b22727b4984b8735000178bee1f.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-da0c569096274263a94e20816383fd87.html" target="element"> ALS02. Impacto </a> </td>
															    <td> <a href="../elements/id-da0c569096274263a94e20816383fd87.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-cb371a9b1033463b95d0ac4d4bbe08a0.html" target="element"> ALS03. Costo / Beneficio </a> </td>
															    <td> <a href="../elements/id-cb371a9b1033463b95d0ac4d4bbe08a0.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-8acd46c4f9af4decb8faaa148690dfe8.html" target="element"> ALS04. Espec&#237;ficos* </a> </td>
															    <td> <a href="../elements/id-8acd46c4f9af4decb8faaa148690dfe8.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-63a4bf2b19cf4fc7824b87a2deb61756.html" target="element"> Documentaci&#243;n T&#233;cnica </a> </td>
													    <td> <a href="../elements/id-63a4bf2b19cf4fc7824b87a2deb61756.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-2b1536818c67478fb14fc70820a712aa.html" target="element"> Especificaciones </a> </td>
															    <td> <a href="../elements/id-2b1536818c67478fb14fc70820a712aa.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5796d252348f430a89ea8b472c001535.html" target="element"> Especificaciones (copy) </a> </td>
															    <td> <a href="../elements/id-5796d252348f430a89ea8b472c001535.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d88213c92cc54343860ee3d045f1463a.html" target="element"> Especificaciones </a> </td>
															    <td> <a href="../elements/id-d88213c92cc54343860ee3d045f1463a.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-4cc567b318fd4f2e92fe78b7064b7c18.html" target="element"> Bit&#225;cora Arquitectura </a> </td>
													    <td> <a href="../elements/id-4cc567b318fd4f2e92fe78b7064b7c18.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-1aeefc309c754780926f165d07637f9e.html" target="element"> Decisi&#243;n </a> </td>
															    <td> <a href="../elements/id-1aeefc309c754780926f165d07637f9e.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-7efeeb02f7c14091a8cebfc40a19be3b.html" target="element"> Gestor de Requerimientos de arquitectura </a> </td>
													    <td> <a href="../elements/id-7efeeb02f7c14091a8cebfc40a19be3b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-f88e04d2c65d4c94b1cda5aabef15702.html" target="element"> Requerimiento </a> </td>
															    <td> <a href="../elements/id-f88e04d2c65d4c94b1cda5aabef15702.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-abe92a881c4c4b19b6b91d41397aad53.html" target="element"> Requerimiento </a> </td>
															    <td> <a href="../elements/id-abe92a881c4c4b19b6b91d41397aad53.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-b70d205220bf46d19216b5a675913941.html" target="element"> Requerimiento </a> </td>
															    <td> <a href="../elements/id-b70d205220bf46d19216b5a675913941.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-59a006d82c84486fb9f2e52226d9808f.html" target="element"> Gestor de Riesgos T&#233;cnicos </a> </td>
													    <td> <a href="../elements/id-59a006d82c84486fb9f2e52226d9808f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-3a5790eaf79444b3bf1e75ec1317ba70.html" target="element"> R01. Riesgo de agilidad limitada </a> </td>
															    <td> <a href="../elements/id-3a5790eaf79444b3bf1e75ec1317ba70.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-58cbf4f5e3494794bc3c62f41ef07689.html" target="element"> R02. Riesgo de baja orquestaci&#243;n SOA </a> </td>
															    <td> <a href="../elements/id-58cbf4f5e3494794bc3c62f41ef07689.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5226e4aa51614a918e9864557d174da5.html" target="element"> R03. Riesgo de crecimiento de dependencias entre servicios SOA </a> </td>
															    <td> <a href="../elements/id-5226e4aa51614a918e9864557d174da5.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-fad470f8eb654057944b3e57399b0ca0.html" target="element"> R04. Riesgo de crecimiento de adaptadores particulares --opuesto al est&#225;ndar </a> </td>
															    <td> <a href="../elements/id-fad470f8eb654057944b3e57399b0ca0.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5ba902744949455a85e6228c07cf460f.html" target="element"> R05. Riesgo de baja reutilizaci&#243;n de servicios SOA </a> </td>
															    <td> <a href="../elements/id-5ba902744949455a85e6228c07cf460f.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-90cda13cf2d64e0fb50b00e6e08e4ae2.html" target="element"> R06. Riesgo de permanencia de silos (islas) de servicios SOA y aplicaciones </a> </td>
															    <td> <a href="../elements/id-90cda13cf2d64e0fb50b00e6e08e4ae2.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-eebf6a736a6641659022914bb2ed0e02.html" target="element"> R07. Riesgo de falta de trazabilidad para la evoluci&#243;n e implementaci&#243;n de los servicios SOA </a> </td>
															    <td> <a href="../elements/id-eebf6a736a6641659022914bb2ed0e02.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-d0e5f6e6cfd74812be014b72209cfaf9.html" target="element"> Decisi&#243;n (copy) </a> </td>
											    <td> <a href="../elements/id-d0e5f6e6cfd74812be014b72209cfaf9.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-67c4085841b84aa5b091eac4a0c857f0.html" target="element"> Decisi&#243;n Arq. </a> </td>
											    <td> <a href="../elements/id-67c4085841b84aa5b091eac4a0c857f0.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7773cf42398d4d15b2e5b615e21e269f.html" target="element"> Inversi&#243;n TI </a> </td>
											    <td> <a href="../elements/id-7773cf42398d4d15b2e5b615e21e269f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-eef8f692ba4644538c0dbb7d9e388e23.html" target="element"> cumple </a> </td>
																				<td> <a href="../elements/id-eef8f692ba4644538c0dbb7d9e388e23.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-af787feaa6574d32a551ebea712da14e.html" target="element"> Oficina Arquitectura FNA </a> </td>
																				<td> <a href="../elements/id-5c9d1cedc4594002b0b7f61f8b13122c.html" target="element"> Arquitectura Empresarial FNA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-57bb73eefe7245af9521066849019d62.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-57bb73eefe7245af9521066849019d62.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-af787feaa6574d32a551ebea712da14e.html" target="element"> Oficina Arquitectura FNA </a> </td>
																				<td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3490a1b7e6e24471949e001fb6ec645d.html" target="element"> cumple </a> </td>
																				<td> <a href="../elements/id-3490a1b7e6e24471949e001fb6ec645d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-af787feaa6574d32a551ebea712da14e.html" target="element"> Oficina Arquitectura FNA </a> </td>
																				<td> <a href="../elements/id-9c55ea09e68a4e21877c49910f72fda7.html" target="element"> Contrato de Gobierno SOA FNA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f52eb829ad464aa2b48ac5260d8806e1.html" target="element"> informa </a> </td>
																				<td> <a href="../elements/id-f52eb829ad464aa2b48ac5260d8806e1.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-af787feaa6574d32a551ebea712da14e.html" target="element"> Oficina Arquitectura FNA </a> </td>
																				<td> <a href="../elements/id-c16a45cfe18649bb9b744ef784392e56.html" target="element"> Gobierno TI FNA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-611b609d54264489838318f5e6808d52.html" target="element"> emite </a> </td>
																				<td> <a href="../elements/id-611b609d54264489838318f5e6808d52.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-af787feaa6574d32a551ebea712da14e.html" target="element"> Oficina Arquitectura FNA </a> </td>
																				<td> <a href="../elements/id-ccf3ae1d7f6540aba04acd4e1b5cc9d0.html" target="element"> Declaraci&#243;n Trabajo Arquitectura </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a6301a1b09744ddab38f5be213280ae1.html" target="element"> participa </a> </td>
																				<td> <a href="../elements/id-a6301a1b09744ddab38f5be213280ae1.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-af787feaa6574d32a551ebea712da14e.html" target="element"> Oficina Arquitectura FNA </a> </td>
																				<td> <a href="../elements/id-857554f0f8964f579ef6015316ea9b60.html" target="element"> Comit&#233; de arquitectura FNA </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-877d398f357943f3b93973f743881799.html" target="element"> eval&#250;a </a> </td>
																				<td> <a href="../elements/id-877d398f357943f3b93973f743881799.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-8e0aea71079047d99e6a4e48bb0c7348.html" target="element"> Comit&#233; de Cambios FNA </a> </td>
																				<td> <a href="../elements/id-af787feaa6574d32a551ebea712da14e.html" target="element"> Oficina Arquitectura FNA </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4734e0e290d64993b1496448e0939ed3.html" target="element"> diagnostica </a> </td>
																		<td> <a href="../elements/id-4734e0e290d64993b1496448e0939ed3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-e4f885be68534e30bae1cc4bdc920e40.html" target="element"> Evento de cambio arquitectura SOA </a> </td>
																		<td> <a href="../elements/id-af787feaa6574d32a551ebea712da14e.html" target="element"> Oficina Arquitectura FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f508373fe2e442a4a373925f94c03a70.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f508373fe2e442a4a373925f94c03a70.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-e4f885be68534e30bae1cc4bdc920e40.html" target="element"> Evento de cambio arquitectura SOA </a> </td>
																		<td> <a href="../elements/id-68f28f7df9ff47d3b51ab4d6440d55f6.html" target="element"> Junction </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-a9799d6b3ee1485cb21b0823d2742304.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a9799d6b3ee1485cb21b0823d2742304.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-68f28f7df9ff47d3b51ab4d6440d55f6.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-fb212be87a614d65abf1adbb113d0b10.html" target="element"> Requerimiento de Arquitectura </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c46d33ce1c3842c09eb1995833844766.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c46d33ce1c3842c09eb1995833844766.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-68f28f7df9ff47d3b51ab4d6440d55f6.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-0a780d5200394e69b257cd30bbf0f17a.html" target="element"> Caso Uso de Negocio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-613a8b7254724605955cf47f6e9e6d64.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-613a8b7254724605955cf47f6e9e6d64.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-68f28f7df9ff47d3b51ab4d6440d55f6.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-7773cf42398d4d15b2e5b615e21e269f.html" target="element"> Inversi&#243;n TI </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-1a6ff4a639374f2b8f4699bbeb6b4bea.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1a6ff4a639374f2b8f4699bbeb6b4bea.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-b2d78bd1c2d64db2b5bd20a5c7556554.html" target="element"> Repositorio SOA </a> </td>
																				<td> <a href="../elements/id-ac443029da294018907f55c32f069b34.html" target="element"> Modelo Arquitectura </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-375dcb580aca4ed5a9903f9fd2fe21e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-375dcb580aca4ed5a9903f9fd2fe21e2.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-b2d78bd1c2d64db2b5bd20a5c7556554.html" target="element"> Repositorio SOA </a> </td>
																				<td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5b464f78cce74ff0944c49d126ed82a0.html" target="element"> crea </a> </td>
																				<td> <a href="../elements/id-5b464f78cce74ff0944c49d126ed82a0.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-b2d78bd1c2d64db2b5bd20a5c7556554.html" target="element"> Repositorio SOA </a> </td>
																				<td> <a href="../elements/id-63a4bf2b19cf4fc7824b87a2deb61756.html" target="element"> Documentaci&#243;n T&#233;cnica </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d7e366cc9ea64bea8d558f1d2fc0436e.html" target="element"> registra </a> </td>
																				<td> <a href="../elements/id-d7e366cc9ea64bea8d558f1d2fc0436e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-b2d78bd1c2d64db2b5bd20a5c7556554.html" target="element"> Repositorio SOA </a> </td>
																				<td> <a href="../elements/id-4cc567b318fd4f2e92fe78b7064b7c18.html" target="element"> Bit&#225;cora Arquitectura </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-ebe88db8eb7f49c98275a3928ce037fa.html" target="element"> an&#225;lisis </a> </td>
																						<td> <a href="../elements/id-ebe88db8eb7f49c98275a3928ce037fa.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																						<td> <a href="../elements/id-ac443029da294018907f55c32f069b34.html" target="element"> Modelo Arquitectura </a> </td>
																						<td> <a href="../elements/id-37bc3b22727b4984b8735000178bee1f.html" target="element"> ALS01. Complejidad </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-0b71123451514a08a19dccec69fefa41.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-0b71123451514a08a19dccec69fefa41.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																						<td> <a href="../elements/id-ac443029da294018907f55c32f069b34.html" target="element"> Modelo Arquitectura </a> </td>
																						<td> <a href="../elements/id-da0c569096274263a94e20816383fd87.html" target="element"> ALS02. Impacto </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-1f45b323d75f4a9a944031fc9e3a99cd.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-1f45b323d75f4a9a944031fc9e3a99cd.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																						<td> <a href="../elements/id-ac443029da294018907f55c32f069b34.html" target="element"> Modelo Arquitectura </a> </td>
																						<td> <a href="../elements/id-cb371a9b1033463b95d0ac4d4bbe08a0.html" target="element"> ALS03. Costo / Beneficio </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-bb0280c85af1467b893ecc034cbf2313.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bb0280c85af1467b893ecc034cbf2313.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-da6b92722ca64c9aa8b65e9da17efc5e.html" target="element"> Repositorio An&#225;lisis </a> </td>
																				<td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f02c7f215b4c4efe8ccc4d37a02e3bcb.html" target="element"> crea </a> </td>
																				<td> <a href="../elements/id-f02c7f215b4c4efe8ccc4d37a02e3bcb.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-da6b92722ca64c9aa8b65e9da17efc5e.html" target="element"> Repositorio An&#225;lisis </a> </td>
																				<td> <a href="../elements/id-63a4bf2b19cf4fc7824b87a2deb61756.html" target="element"> Documentaci&#243;n T&#233;cnica </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-5c3c69708c234b0b9f5628a59929c5fe.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5c3c69708c234b0b9f5628a59929c5fe.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-63a4bf2b19cf4fc7824b87a2deb61756.html" target="element"> Documentaci&#243;n T&#233;cnica </a> </td>
																				<td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-15a75ef589794ae19c18606d5d3ac5a6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-15a75ef589794ae19c18606d5d3ac5a6.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-63a4bf2b19cf4fc7824b87a2deb61756.html" target="element"> Documentaci&#243;n T&#233;cnica </a> </td>
																				<td> <a href="../elements/id-2b1536818c67478fb14fc70820a712aa.html" target="element"> Especificaciones </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-075b5c0d1ebe4ad798ab0b3f395148a6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-075b5c0d1ebe4ad798ab0b3f395148a6.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-63a4bf2b19cf4fc7824b87a2deb61756.html" target="element"> Documentaci&#243;n T&#233;cnica </a> </td>
																				<td> <a href="../elements/id-5796d252348f430a89ea8b472c001535.html" target="element"> Especificaciones (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2a3dfa7dd86f40f0b6a06878fdd08a97.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2a3dfa7dd86f40f0b6a06878fdd08a97.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-63a4bf2b19cf4fc7824b87a2deb61756.html" target="element"> Documentaci&#243;n T&#233;cnica </a> </td>
																				<td> <a href="../elements/id-d88213c92cc54343860ee3d045f1463a.html" target="element"> Especificaciones </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-60e9ce13e78c44b9a879671c6e32cf68.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-60e9ce13e78c44b9a879671c6e32cf68.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-4cc567b318fd4f2e92fe78b7064b7c18.html" target="element"> Bit&#225;cora Arquitectura </a> </td>
																				<td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c8c384617d474a2191a4263aefe1684c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c8c384617d474a2191a4263aefe1684c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-4cc567b318fd4f2e92fe78b7064b7c18.html" target="element"> Bit&#225;cora Arquitectura </a> </td>
																				<td> <a href="../elements/id-1aeefc309c754780926f165d07637f9e.html" target="element"> Decisi&#243;n </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-e09f03cddb9f42f1b34f0176486adeee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e09f03cddb9f42f1b34f0176486adeee.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-7efeeb02f7c14091a8cebfc40a19be3b.html" target="element"> Gestor de Requerimientos de arquitectura </a> </td>
																				<td> <a href="../elements/id-f88e04d2c65d4c94b1cda5aabef15702.html" target="element"> Requerimiento </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2e25bbf79e9042509784023a88201b35.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2e25bbf79e9042509784023a88201b35.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-7efeeb02f7c14091a8cebfc40a19be3b.html" target="element"> Gestor de Requerimientos de arquitectura </a> </td>
																				<td> <a href="../elements/id-b70d205220bf46d19216b5a675913941.html" target="element"> Requerimiento </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9adfd4ea8ae94f9aa969b7a30daaac79.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9adfd4ea8ae94f9aa969b7a30daaac79.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/id-7efeeb02f7c14091a8cebfc40a19be3b.html" target="element"> Gestor de Requerimientos de arquitectura </a> </td>
																				<td> <a href="../elements/id-abe92a881c4c4b19b6b91d41397aad53.html" target="element"> Requerimiento </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d83b3909dc384fdf9f743d22ec24d94a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d83b3909dc384fdf9f743d22ec24d94a.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-7efeeb02f7c14091a8cebfc40a19be3b.html" target="element"> Gestor de Requerimientos de arquitectura </a> </td>
																				<td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2af491de1a9c49f183e388a79371ea28.html" target="element"> diagnostica </a> </td>
																				<td> <a href="../elements/id-2af491de1a9c49f183e388a79371ea28.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-7efeeb02f7c14091a8cebfc40a19be3b.html" target="element"> Gestor de Requerimientos de arquitectura </a> </td>
																				<td> <a href="../elements/id-b2d78bd1c2d64db2b5bd20a5c7556554.html" target="element"> Repositorio SOA </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-87b05816482f46ce8ef68e76c64564e8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-87b05816482f46ce8ef68e76c64564e8.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-59a006d82c84486fb9f2e52226d9808f.html" target="element"> Gestor de Riesgos T&#233;cnicos </a> </td>
																				<td> <a href="../elements/id-0c1325c6be95411585897e2ef63948f6.html" target="element"> GOB04. Repositorio Artefactos FNA &lt;&lt;Mega&gt;&gt; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a413c669274e43cf99aae42b2c7e14a8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a413c669274e43cf99aae42b2c7e14a8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-59a006d82c84486fb9f2e52226d9808f.html" target="element"> Gestor de Riesgos T&#233;cnicos </a> </td>
																				<td> <a href="../elements/id-3a5790eaf79444b3bf1e75ec1317ba70.html" target="element"> R01. Riesgo de agilidad limitada </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8bc5d244b1ef47b68edeb0222d6a7ad1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8bc5d244b1ef47b68edeb0222d6a7ad1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-59a006d82c84486fb9f2e52226d9808f.html" target="element"> Gestor de Riesgos T&#233;cnicos </a> </td>
																				<td> <a href="../elements/id-58cbf4f5e3494794bc3c62f41ef07689.html" target="element"> R02. Riesgo de baja orquestaci&#243;n SOA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d13f5def12514e4d9eb1e746ae7e582e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d13f5def12514e4d9eb1e746ae7e582e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-59a006d82c84486fb9f2e52226d9808f.html" target="element"> Gestor de Riesgos T&#233;cnicos </a> </td>
																				<td> <a href="../elements/id-5226e4aa51614a918e9864557d174da5.html" target="element"> R03. Riesgo de crecimiento de dependencias entre servicios SOA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f60d0379e75b4511b3dba9d3976aca0c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f60d0379e75b4511b3dba9d3976aca0c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-59a006d82c84486fb9f2e52226d9808f.html" target="element"> Gestor de Riesgos T&#233;cnicos </a> </td>
																				<td> <a href="../elements/id-fad470f8eb654057944b3e57399b0ca0.html" target="element"> R04. Riesgo de crecimiento de adaptadores particulares --opuesto al est&#225;ndar </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a109342fbd864ccaa10075e17d4ac49f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a109342fbd864ccaa10075e17d4ac49f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-59a006d82c84486fb9f2e52226d9808f.html" target="element"> Gestor de Riesgos T&#233;cnicos </a> </td>
																				<td> <a href="../elements/id-5ba902744949455a85e6228c07cf460f.html" target="element"> R05. Riesgo de baja reutilizaci&#243;n de servicios SOA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-afe27bb04dfd46f6ad5f9f4dc6ebaf33.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-afe27bb04dfd46f6ad5f9f4dc6ebaf33.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-59a006d82c84486fb9f2e52226d9808f.html" target="element"> Gestor de Riesgos T&#233;cnicos </a> </td>
																				<td> <a href="../elements/id-90cda13cf2d64e0fb50b00e6e08e4ae2.html" target="element"> R06. Riesgo de permanencia de silos (islas) de servicios SOA y aplicaciones </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-773beae8bebe4d9688629bfdaf45fb23.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-773beae8bebe4d9688629bfdaf45fb23.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-59a006d82c84486fb9f2e52226d9808f.html" target="element"> Gestor de Riesgos T&#233;cnicos </a> </td>
																				<td> <a href="../elements/id-eebf6a736a6641659022914bb2ed0e02.html" target="element"> R07. Riesgo de falta de trazabilidad para la evoluci&#243;n e implementaci&#243;n de los servicios SOA </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>