<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Interoperabilidad SOA. 1n</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Interoperabilidad SOA. 1n</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9188142a8dc7457b95009530f5a4615f.png" alt="Interoperabilidad SOA. 1n" usemap="#id-9188142a8dc7457b95009530f5a4615fmap"/>
			   <map name="id-9188142a8dc7457b95009530f5a4615fmap">
				  		<area shape="rect" coords="1316,596,1556,706" href="../elements/id-08864195a97e4a93a2814ebee63842aa.html"  target="element">
				          <area shape="rect" coords="20,20,430,180" href="../objects/id-ce65976fcdcf444c9c6a9b6b98a24c1a.html" target="element" >
				  				<area shape="rect" coords="404,740,694,850" href="../elements/id-25f33e51bda947d7bf7d4dd86d8a7f72.html"  target="element">
				  				<area shape="rect" coords="404,548,694,658" href="../elements/id-56b5b84bf6464fdca6c30a39c362ee0b.html"  target="element">
				  				<area shape="rect" coords="404,356,694,466" href="../elements/id-a6d268a016a7434bb6811b5eb140d623.html"  target="element">
				  				<area shape="rect" coords="92,740,382,850" href="../elements/id-370b0a55e9b54571b114009cc60c3f07.html"  target="element">
				  				<area shape="rect" coords="92,548,382,658" href="../elements/id-0e1356a49d414d1ea397231f778046fa.html"  target="element">
				  				<area shape="rect" coords="92,356,382,466" href="../elements/id-92b9110a6d6c40d1b3df49f665f2ffc9.html"  target="element">

				  		<area shape="rect" coords="20,260,1078,934" href="../elements/id-c943882836cb49c189ed009ec0da0a17.html"  target="element">
				  		<area shape="rect" coords="1316,404,1556,514" href="../elements/id-e25c0b7050904f95b3ec70072e6892d7.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e25c0b7050904f95b3ec70072e6892d7.html" target="element"> Arquitectura instanciada </a> </td>
											    <td> <a href="../elements/id-e25c0b7050904f95b3ec70072e6892d7.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c943882836cb49c189ed009ec0da0a17.html" target="element"> Marco de Interoperabilidad SOA FNA </a> </td>
											    <td> <a href="../elements/id-c943882836cb49c189ed009ec0da0a17.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-92b9110a6d6c40d1b3df49f665f2ffc9.html" target="element"> Mensajer&#237;a </a> </td>
													    <td> <a href="../elements/id-92b9110a6d6c40d1b3df49f665f2ffc9.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0e1356a49d414d1ea397231f778046fa.html" target="element"> Filtro y Ruteo </a> </td>
													    <td> <a href="../elements/id-0e1356a49d414d1ea397231f778046fa.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-370b0a55e9b54571b114009cc60c3f07.html" target="element"> Proceso de eventos </a> </td>
													    <td> <a href="../elements/id-370b0a55e9b54571b114009cc60c3f07.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a6d268a016a7434bb6811b5eb140d623.html" target="element"> Transformaci&#243;n </a> </td>
													    <td> <a href="../elements/id-a6d268a016a7434bb6811b5eb140d623.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-56b5b84bf6464fdca6c30a39c362ee0b.html" target="element"> Colas </a> </td>
													    <td> <a href="../elements/id-56b5b84bf6464fdca6c30a39c362ee0b.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-25f33e51bda947d7bf7d4dd86d8a7f72.html" target="element"> Publicaci&#243;n y registro servicios </a> </td>
													    <td> <a href="../elements/id-25f33e51bda947d7bf7d4dd86d8a7f72.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-ce65976fcdcf444c9c6a9b6b98a24c1a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ce65976fcdcf444c9c6a9b6b98a24c1a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-08864195a97e4a93a2814ebee63842aa.html" target="element"> Esquemas Can&#243;nicos </a> </td>
											    <td> <a href="../elements/id-08864195a97e4a93a2814ebee63842aa.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4cda1b024e014bd0b2cbac4683470b48.html" target="element"> extiende </a> </td>
																		<td> <a href="../elements/id-4cda1b024e014bd0b2cbac4683470b48.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-c943882836cb49c189ed009ec0da0a17.html" target="element"> Marco de Interoperabilidad SOA FNA </a> </td>
																		<td> <a href="../elements/id-e25c0b7050904f95b3ec70072e6892d7.html" target="element"> Arquitectura instanciada </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8c05df1c808742d886496c197347a8d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8c05df1c808742d886496c197347a8d3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c943882836cb49c189ed009ec0da0a17.html" target="element"> Marco de Interoperabilidad SOA FNA </a> </td>
																		<td> <a href="../elements/id-92b9110a6d6c40d1b3df49f665f2ffc9.html" target="element"> Mensajer&#237;a </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2b0a163650a84a99af2e893b061a1e97.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b0a163650a84a99af2e893b061a1e97.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c943882836cb49c189ed009ec0da0a17.html" target="element"> Marco de Interoperabilidad SOA FNA </a> </td>
																		<td> <a href="../elements/id-0e1356a49d414d1ea397231f778046fa.html" target="element"> Filtro y Ruteo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-216f87437872438eb4dcb7d88190c257.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-216f87437872438eb4dcb7d88190c257.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c943882836cb49c189ed009ec0da0a17.html" target="element"> Marco de Interoperabilidad SOA FNA </a> </td>
																		<td> <a href="../elements/id-370b0a55e9b54571b114009cc60c3f07.html" target="element"> Proceso de eventos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-290cfc3a93f44ad885818f4a3c34ff6e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-290cfc3a93f44ad885818f4a3c34ff6e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c943882836cb49c189ed009ec0da0a17.html" target="element"> Marco de Interoperabilidad SOA FNA </a> </td>
																		<td> <a href="../elements/id-a6d268a016a7434bb6811b5eb140d623.html" target="element"> Transformaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-46a99def82c041269bf353d4a212c064.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-46a99def82c041269bf353d4a212c064.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c943882836cb49c189ed009ec0da0a17.html" target="element"> Marco de Interoperabilidad SOA FNA </a> </td>
																		<td> <a href="../elements/id-56b5b84bf6464fdca6c30a39c362ee0b.html" target="element"> Colas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-477a5d01b3a04545b29869c49bbeee5e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-477a5d01b3a04545b29869c49bbeee5e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c943882836cb49c189ed009ec0da0a17.html" target="element"> Marco de Interoperabilidad SOA FNA </a> </td>
																		<td> <a href="../elements/id-25f33e51bda947d7bf7d4dd86d8a7f72.html" target="element"> Publicaci&#243;n y registro servicios </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-db4d15d19355442b85064d668cdcccd5.html" target="element"> lee </a> </td>
																		<td> <a href="../elements/id-db4d15d19355442b85064d668cdcccd5.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-c943882836cb49c189ed009ec0da0a17.html" target="element"> Marco de Interoperabilidad SOA FNA </a> </td>
																		<td> <a href="../elements/id-08864195a97e4a93a2814ebee63842aa.html" target="element"> Esquemas Can&#243;nicos </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>