<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Implementación SOA FNA. 1</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Implementaci&#243;n SOA FNA. 1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-abb908aceb5849769a0f7415cce5183a.png" alt="Implementación SOA FNA. 1" usemap="#id-abb908aceb5849769a0f7415cce5183amap"/>
			   <map name="id-abb908aceb5849769a0f7415cce5183amap">
				  		<area shape="rect" coords="20,1652,454,1762" href="../views/id-b7d5f0bfa81e4219a971a6f847075063.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1724,234,2062,378" href="../elements/id-3eaae458db024c47857bed21001650f9.html"  target="element">
				          <area shape="rect" coords="20,20,550,190" href="../objects/id-15b101ba50bc4ef8bd0f337a80567e9a.html" target="element" >
				  						<area shape="rect" coords="1724,812,1964,922" href="../elements/id-40cde4bf62884c9ebc77ed246dcc25a5.html"  target="element">
				  						<area shape="rect" coords="1724,956,1964,1066" href="../elements/id-fbb05e35c4b24dc7a04f78c8970dfa26.html"  target="element">

				  				<area shape="rect" coords="1700,716,2014,1268" href="../elements/id-a0e995bc0add4e9f9d00175dd29a7df6.html"  target="element">
				  						<area shape="rect" coords="1364,956,1604,1066" href="../elements/id-53c863c7da534e93bb4c5dd98ea64847.html"  target="element">
				  						<area shape="rect" coords="1364,1100,1604,1210" href="../elements/id-9f4b50377c924310b5d6a4ce82f1ed9e.html"  target="element">
				  						<area shape="rect" coords="1364,812,1604,922" href="../elements/id-286f1eaebc854622ae2631180ea7bf07.html"  target="element">

				  				<area shape="rect" coords="1316,716,1654,1268" href="../elements/id-f5d421e95eae4c35b8c612bfa1a854ab.html"  target="element">
				  						<area shape="rect" coords="956,956,1196,1066" href="../elements/id-3fdee9b32cbc47b3b6bbaecd6d3303a8.html"  target="element">
				  						<area shape="rect" coords="956,812,1196,922" href="../elements/id-ea2be6b3b77d471088786fdeaa3e8481.html"  target="element">

				  				<area shape="rect" coords="908,716,1244,1268" href="../elements/id-be682d77ba4249468f9e7fa5d23dd01e.html"  target="element">
				  						<area shape="rect" coords="140,812,380,922" href="../elements/id-045452fc735c49e9a184506380cdefae.html"  target="element">

				  				<area shape="rect" coords="92,716,428,1054" href="../elements/id-444cb98b9eef4e7997aa0e6f2f7fab3b.html"  target="element">
				  						<area shape="rect" coords="548,1100,788,1210" href="../elements/id-23d0cb74e621482b82a78ef427c625df.html"  target="element">
				  						<area shape="rect" coords="548,956,788,1066" href="../elements/id-62e7fe52a24940819d9e7605a47de48c.html"  target="element">
				  						<area shape="rect" coords="548,812,788,922" href="../elements/id-d2d0d4cd8d194916985d4a283ede87ac.html"  target="element">

				  				<area shape="rect" coords="500,716,836,1268" href="../elements/id-08de8bc1aa26411dbfa8b5bfe58034c6.html"  target="element">

				  		<area shape="rect" coords="20,500,2084,1390" href="../elements/id-8e11a69c59024aea9568a628cc0e3445.html"  target="element">
				  		<area shape="rect" coords="1316,236,1654,380" href="../elements/id-36e1555185d24e4591038992d97a2af5.html"  target="element">
				  		<area shape="rect" coords="908,236,1246,380" href="../elements/id-fe0409bbff7447219aec677a7d84ee83.html"  target="element">
				  		<area shape="rect" coords="500,236,838,380" href="../elements/id-39209879d37a42eca0a2a90e0545e958.html"  target="element">
				  		<area shape="rect" coords="68,236,406,380" href="../elements/id-012bc7d29e7940d584d50a88229ff19f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Noviembre/22. Preparaci&#243;n e inicio
* Nov - Dic -2022. Situaci&#243;n Actual
* Dic -2022. Vigilancia Tecnol&#243;gica
* Ene-2023. Estado Objetivo FNA
* Feb-2023. Hoja de Ruta



23 dic F1.1 y 1.2
20 dic aprobaci&#243;n
15 d&#237;as (10 laborales) PR1, PR2... PR6


Respta. secuencial
10 / 6 = 2 d&#237;as por PR

</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-012bc7d29e7940d584d50a88229ff19f.html" target="element"> Noviembre/22. Preparaci&#243;n e inicio </a> </td>
											    <td> <a href="../elements/id-012bc7d29e7940d584d50a88229ff19f.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-39209879d37a42eca0a2a90e0545e958.html" target="element"> Nov - Dic. Situaci&#243;n Actual </a> </td>
											    <td> <a href="../elements/id-39209879d37a42eca0a2a90e0545e958.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fe0409bbff7447219aec677a7d84ee83.html" target="element"> Dic. /22. Vigilancia Tecnol&#243;gica </a> </td>
											    <td> <a href="../elements/id-fe0409bbff7447219aec677a7d84ee83.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-36e1555185d24e4591038992d97a2af5.html" target="element"> Ene/23. Estado Objetivo FNA </a> </td>
											    <td> <a href="../elements/id-36e1555185d24e4591038992d97a2af5.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8e11a69c59024aea9568a628cc0e3445.html" target="element"> Proyecto SOA FNA </a> </td>
											    <td> <a href="../elements/id-8e11a69c59024aea9568a628cc0e3445.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-08de8bc1aa26411dbfa8b5bfe58034c6.html" target="element"> Fase 1.1 SOA Actual </a> </td>
													    <td> <a href="../elements/id-08de8bc1aa26411dbfa8b5bfe58034c6.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-d2d0d4cd8d194916985d4a283ede87ac.html" target="element"> PR1. SOA Actual </a> </td>
															    <td> <a href="../elements/id-d2d0d4cd8d194916985d4a283ede87ac.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-62e7fe52a24940819d9e7605a47de48c.html" target="element"> PR2. Estudio Madurez SOA FNA </a> </td>
															    <td> <a href="../elements/id-62e7fe52a24940819d9e7605a47de48c.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-23d0cb74e621482b82a78ef427c625df.html" target="element"> PR3. Resultado Diagn&#243;stico Situaci&#243;n Actual </a> </td>
															    <td> <a href="../elements/id-23d0cb74e621482b82a78ef427c625df.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-444cb98b9eef4e7997aa0e6f2f7fab3b.html" target="element"> Fase 0. Alistamiento </a> </td>
													    <td> <a href="../elements/id-444cb98b9eef4e7997aa0e6f2f7fab3b.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-045452fc735c49e9a184506380cdefae.html" target="element"> PR0. Plan Proyecto SOA </a> </td>
															    <td> <a href="../elements/id-045452fc735c49e9a184506380cdefae.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-be682d77ba4249468f9e7fa5d23dd01e.html" target="element"> Fase 1.2 Comparativa de industria </a> </td>
													    <td> <a href="../elements/id-be682d77ba4249468f9e7fa5d23dd01e.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-ea2be6b3b77d471088786fdeaa3e8481.html" target="element"> PR4 Marcos Regulatorios </a> </td>
															    <td> <a href="../elements/id-ea2be6b3b77d471088786fdeaa3e8481.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3fdee9b32cbc47b3b6bbaecd6d3303a8.html" target="element"> PR5. Comparativa FNA industria </a> </td>
															    <td> <a href="../elements/id-3fdee9b32cbc47b3b6bbaecd6d3303a8.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-f5d421e95eae4c35b8c612bfa1a854ab.html" target="element"> Fase 2.2 SOA Objetivo </a> </td>
													    <td> <a href="../elements/id-f5d421e95eae4c35b8c612bfa1a854ab.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-286f1eaebc854622ae2631180ea7bf07.html" target="element"> PR6. Gobierno SOA </a> </td>
															    <td> <a href="../elements/id-286f1eaebc854622ae2631180ea7bf07.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9f4b50377c924310b5d6a4ce82f1ed9e.html" target="element"> PR8. Arquitectura SOA Candidata  </a> </td>
															    <td> <a href="../elements/id-9f4b50377c924310b5d6a4ce82f1ed9e.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-53c863c7da534e93bb4c5dd98ea64847.html" target="element"> PR7. Vigilancia tecnol&#243;gica y herramientas </a> </td>
															    <td> <a href="../elements/id-53c863c7da534e93bb4c5dd98ea64847.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-a0e995bc0add4e9f9d00175dd29a7df6.html" target="element"> Fase 3. Integraci&#243;n SOA </a> </td>
													    <td> <a href="../elements/id-a0e995bc0add4e9f9d00175dd29a7df6.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-fbb05e35c4b24dc7a04f78c8970dfa26.html" target="element"> PR10 Hoja de Ruta SOA </a> </td>
															    <td> <a href="../elements/id-fbb05e35c4b24dc7a04f78c8970dfa26.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-40cde4bf62884c9ebc77ed246dcc25a5.html" target="element"> PR9. Portafolio de inciativas y brechas </a> </td>
															    <td> <a href="../elements/id-40cde4bf62884c9ebc77ed246dcc25a5.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-15b101ba50bc4ef8bd0f337a80567e9a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-15b101ba50bc4ef8bd0f337a80567e9a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-3eaae458db024c47857bed21001650f9.html" target="element"> Feb/28. Hoja de Ruta </a> </td>
											    <td> <a href="../elements/id-3eaae458db024c47857bed21001650f9.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-b7d5f0bfa81e4219a971a6f847075063.html" target="view"> Implementación SOA FNA. 1b </a> </td>
											    <td> <a href="../views/id-b7d5f0bfa81e4219a971a6f847075063.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-92a33adddc0b43a2a91a22e1130af1c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-92a33adddc0b43a2a91a22e1130af1c8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-8e11a69c59024aea9568a628cc0e3445.html" target="element"> Proyecto SOA FNA </a> </td>
																		<td> <a href="../elements/id-f5d421e95eae4c35b8c612bfa1a854ab.html" target="element"> Fase 2.2 SOA Objetivo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fd4e9812877d4d0181f79143a075a2ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd4e9812877d4d0181f79143a075a2ca.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-8e11a69c59024aea9568a628cc0e3445.html" target="element"> Proyecto SOA FNA </a> </td>
																		<td> <a href="../elements/id-08de8bc1aa26411dbfa8b5bfe58034c6.html" target="element"> Fase 1.1 SOA Actual </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cad41e2271004448bbbd5964eb019727.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cad41e2271004448bbbd5964eb019727.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-8e11a69c59024aea9568a628cc0e3445.html" target="element"> Proyecto SOA FNA </a> </td>
																		<td> <a href="../elements/id-444cb98b9eef4e7997aa0e6f2f7fab3b.html" target="element"> Fase 0. Alistamiento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b708ac7d94740e389a26f8beaf6081a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b708ac7d94740e389a26f8beaf6081a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-8e11a69c59024aea9568a628cc0e3445.html" target="element"> Proyecto SOA FNA </a> </td>
																		<td> <a href="../elements/id-be682d77ba4249468f9e7fa5d23dd01e.html" target="element"> Fase 1.2 Comparativa de industria </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f43c9ab622024726b7cef32fcb9fb34e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f43c9ab622024726b7cef32fcb9fb34e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-8e11a69c59024aea9568a628cc0e3445.html" target="element"> Proyecto SOA FNA </a> </td>
																		<td> <a href="../elements/id-a0e995bc0add4e9f9d00175dd29a7df6.html" target="element"> Fase 3. Integraci&#243;n SOA </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e4970261a30f43e8887fea4c5a446ce7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e4970261a30f43e8887fea4c5a446ce7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-08de8bc1aa26411dbfa8b5bfe58034c6.html" target="element"> Fase 1.1 SOA Actual </a> </td>
																				<td> <a href="../elements/id-d2d0d4cd8d194916985d4a283ede87ac.html" target="element"> PR1. SOA Actual </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cf520fd2f9b7499ca8c985db916d76cd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cf520fd2f9b7499ca8c985db916d76cd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-08de8bc1aa26411dbfa8b5bfe58034c6.html" target="element"> Fase 1.1 SOA Actual </a> </td>
																				<td> <a href="../elements/id-23d0cb74e621482b82a78ef427c625df.html" target="element"> PR3. Resultado Diagn&#243;stico Situaci&#243;n Actual </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4c6a70ac13f44fed81ddbae48e4d0dfe.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4c6a70ac13f44fed81ddbae48e4d0dfe.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-08de8bc1aa26411dbfa8b5bfe58034c6.html" target="element"> Fase 1.1 SOA Actual </a> </td>
																				<td> <a href="../elements/id-62e7fe52a24940819d9e7605a47de48c.html" target="element"> PR2. Estudio Madurez SOA FNA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1f1a177cbc6440fcacd17f27ea89ec22.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1f1a177cbc6440fcacd17f27ea89ec22.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-08de8bc1aa26411dbfa8b5bfe58034c6.html" target="element"> Fase 1.1 SOA Actual </a> </td>
																				<td> <a href="../elements/id-39209879d37a42eca0a2a90e0545e958.html" target="element"> Nov - Dic. Situaci&#243;n Actual </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-e48b0d3075cd428684be0c4c95d4930a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e48b0d3075cd428684be0c4c95d4930a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-444cb98b9eef4e7997aa0e6f2f7fab3b.html" target="element"> Fase 0. Alistamiento </a> </td>
																				<td> <a href="../elements/id-045452fc735c49e9a184506380cdefae.html" target="element"> PR0. Plan Proyecto SOA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bcf4769cc0b14b0aa9132e7336ee24cb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bcf4769cc0b14b0aa9132e7336ee24cb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-444cb98b9eef4e7997aa0e6f2f7fab3b.html" target="element"> Fase 0. Alistamiento </a> </td>
																				<td> <a href="../elements/id-012bc7d29e7940d584d50a88229ff19f.html" target="element"> Noviembre/22. Preparaci&#243;n e inicio </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-70aa40f1d27b4034abe737518ab5fd6d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-70aa40f1d27b4034abe737518ab5fd6d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-be682d77ba4249468f9e7fa5d23dd01e.html" target="element"> Fase 1.2 Comparativa de industria </a> </td>
																				<td> <a href="../elements/id-ea2be6b3b77d471088786fdeaa3e8481.html" target="element"> PR4 Marcos Regulatorios </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5b87008339d44c6faed7df8f736a9d97.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5b87008339d44c6faed7df8f736a9d97.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-be682d77ba4249468f9e7fa5d23dd01e.html" target="element"> Fase 1.2 Comparativa de industria </a> </td>
																				<td> <a href="../elements/id-3fdee9b32cbc47b3b6bbaecd6d3303a8.html" target="element"> PR5. Comparativa FNA industria </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2e75fb9b50c247d6a72a3fc999617013.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2e75fb9b50c247d6a72a3fc999617013.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-be682d77ba4249468f9e7fa5d23dd01e.html" target="element"> Fase 1.2 Comparativa de industria </a> </td>
																				<td> <a href="../elements/id-fe0409bbff7447219aec677a7d84ee83.html" target="element"> Dic. /22. Vigilancia Tecnol&#243;gica </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-5f81f24a3c6748a2b370939cc7b6f51d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5f81f24a3c6748a2b370939cc7b6f51d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-f5d421e95eae4c35b8c612bfa1a854ab.html" target="element"> Fase 2.2 SOA Objetivo </a> </td>
																				<td> <a href="../elements/id-36e1555185d24e4591038992d97a2af5.html" target="element"> Ene/23. Estado Objetivo FNA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8fc1a1e1dd254b40bc55d64f9b55821c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8fc1a1e1dd254b40bc55d64f9b55821c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-f5d421e95eae4c35b8c612bfa1a854ab.html" target="element"> Fase 2.2 SOA Objetivo </a> </td>
																				<td> <a href="../elements/id-286f1eaebc854622ae2631180ea7bf07.html" target="element"> PR6. Gobierno SOA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3c99ff3a29384d3d9c9f5172b1821415.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3c99ff3a29384d3d9c9f5172b1821415.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-f5d421e95eae4c35b8c612bfa1a854ab.html" target="element"> Fase 2.2 SOA Objetivo </a> </td>
																				<td> <a href="../elements/id-9f4b50377c924310b5d6a4ce82f1ed9e.html" target="element"> PR8. Arquitectura SOA Candidata  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-200ee803a243492bb50acc26415b7866.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-200ee803a243492bb50acc26415b7866.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-f5d421e95eae4c35b8c612bfa1a854ab.html" target="element"> Fase 2.2 SOA Objetivo </a> </td>
																				<td> <a href="../elements/id-53c863c7da534e93bb4c5dd98ea64847.html" target="element"> PR7. Vigilancia tecnol&#243;gica y herramientas </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-3b508c6840464264bcd4d5dbee0797dd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3b508c6840464264bcd4d5dbee0797dd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-a0e995bc0add4e9f9d00175dd29a7df6.html" target="element"> Fase 3. Integraci&#243;n SOA </a> </td>
																				<td> <a href="../elements/id-fbb05e35c4b24dc7a04f78c8970dfa26.html" target="element"> PR10 Hoja de Ruta SOA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-21b9c2f4e2ec409e8811afbf0bb4cdbd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-21b9c2f4e2ec409e8811afbf0bb4cdbd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-a0e995bc0add4e9f9d00175dd29a7df6.html" target="element"> Fase 3. Integraci&#243;n SOA </a> </td>
																				<td> <a href="../elements/id-40cde4bf62884c9ebc77ed246dcc25a5.html" target="element"> PR9. Portafolio de inciativas y brechas </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-21140be3c55d4523a1343529c420ae5c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-21140be3c55d4523a1343529c420ae5c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-a0e995bc0add4e9f9d00175dd29a7df6.html" target="element"> Fase 3. Integraci&#243;n SOA </a> </td>
																				<td> <a href="../elements/id-3eaae458db024c47857bed21001650f9.html" target="element"> Feb/28. Hoja de Ruta </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>