<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Gobierno SOA. 3n1. Objetivos</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Gobierno SOA. 3n1. Objetivos</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a5d4bb9444aa458d83f420812b3f4abd.png" alt="Gobierno SOA. 3n1. Objetivos" usemap="#id-a5d4bb9444aa458d83f420812b3f4abdmap"/>
			   <map name="id-a5d4bb9444aa458d83f420812b3f4abdmap">
				  		<area shape="rect" coords="692,20,1400,130" href="../elements/id-10823b0763f34d2faa9f6d409a6489fb.html"  target="element">
				          <area shape="rect" coords="778,690,1402,850" href="../objects/id-2edb6cfc7f504dc89227d7ee1cf5e39a.html" target="element" >
				          <area shape="rect" coords="778,466,1402,626" href="../objects/id-e69e18b30cf14336befbf6b277e48b53.html" target="element" >
				          <area shape="rect" coords="778,248,1402,408" href="../objects/id-977e6e5b9cdb4a8c9e66c5303be60523.html" target="element" >
				  		<area shape="rect" coords="152,690,592,800" href="../elements/id-6bce611af9ab4522945d460d89c8c2f4.html"  target="element">
				  		<area shape="rect" coords="152,490,592,600" href="../elements/id-bd63fd3f925a4afaba4e53377bb4e30e.html"  target="element">
				  		<area shape="rect" coords="152,308,592,418" href="../elements/id-be98084fd2f6494eb915e4657f73bca9.html"  target="element">
				          <area shape="rect" coords="20,20,390,180" href="../objects/id-261651f5623c4451859d4f6577a825a6.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-261651f5623c4451859d4f6577a825a6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-261651f5623c4451859d4f6577a825a6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-be98084fd2f6494eb915e4657f73bca9.html" target="element"> G-OBJ1. Vigilancia del riesgo tecnol&#243;gico </a> </td>
											    <td> <a href="../elements/id-be98084fd2f6494eb915e4657f73bca9.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bd63fd3f925a4afaba4e53377bb4e30e.html" target="element"> G-OBJS2. Vigilar la complejidad e impacto en la arquitectura SOA del Fondo </a> </td>
											    <td> <a href="../elements/id-bd63fd3f925a4afaba4e53377bb4e30e.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6bce611af9ab4522945d460d89c8c2f4.html" target="element"> G-OBJ3. Vigilar y perseguir &#237;ndices de efectividad SOA </a> </td>
											    <td> <a href="../elements/id-6bce611af9ab4522945d460d89c8c2f4.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-977e6e5b9cdb4a8c9e66c5303be60523.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-977e6e5b9cdb4a8c9e66c5303be60523.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e69e18b30cf14336befbf6b277e48b53.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e69e18b30cf14336befbf6b277e48b53.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2edb6cfc7f504dc89227d7ee1cf5e39a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2edb6cfc7f504dc89227d7ee1cf5e39a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-10823b0763f34d2faa9f6d409a6489fb.html" target="element"> G-OBJG. Mantenimiento de Relaci&#243;n Negocio - Arquitectura </a> </td>
											    <td> <a href="../elements/id-10823b0763f34d2faa9f6d409a6489fb.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-787822e894f64655bc7857dcaf7aecd5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-787822e894f64655bc7857dcaf7aecd5.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-be98084fd2f6494eb915e4657f73bca9.html" target="element"> G-OBJ1. Vigilancia del riesgo tecnol&#243;gico </a> </td>
																		<td> <a href="../elements/id-10823b0763f34d2faa9f6d409a6489fb.html" target="element"> G-OBJG. Mantenimiento de Relaci&#243;n Negocio - Arquitectura </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>