<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Proceso de Madurez. 1</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Proceso de Madurez. 1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-cfa8096792db48ab86cf317603238b2a.png" alt="Proceso de Madurez. 1" usemap="#id-cfa8096792db48ab86cf317603238b2amap"/>
			   <map name="id-cfa8096792db48ab86cf317603238b2amap">
				  				<area shape="rect" coords="1772,380,2012,490" href="../elements/id-9867b82a9b29427da0bb9e510d8d8c4e.html"  target="element">
				  				<area shape="rect" coords="1412,380,1652,490" href="../elements/id-cab04f4b3c6f48b5852aa53ee184f0d5.html"  target="element">
				  				<area shape="rect" coords="1412,248,1652,358" href="../elements/id-a6a6f15622b1417fb9524cc917904b8b.html"  target="element">
				  				<area shape="rect" coords="1412,536,1652,646" href="../elements/id-f958bf35987948e0bb7a203732f33387.html"  target="element">

				  		<area shape="rect" coords="1292,152,2060,728" href="../elements/id-184b988d263041659049f0b3f4cf0388.html"  target="element">
				  		<area shape="rect" coords="20,608,382,802" href="../elements/id-e3516afc6c584cbca0b0d61bb71eb053.html"  target="element">
				  		<area shape="rect" coords="20,320,382,514" href="../elements/id-3a761e2e2b5a482ba36c9143a73aa197.html"  target="element">
				  		<area shape="rect" coords="20,20,382,214" href="../elements/id-1b579e0c7cc64bc79679da74377d0834.html"  target="element">
				  		<area shape="rect" coords="788,32,1174,802" href="../elements/id-a8353fbce8a2462cbfeeb3256c2644ae.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a8353fbce8a2462cbfeeb3256c2644ae.html" target="element"> Diagnosticar Madurez SOA del FNA </a> </td>
											    <td> <a href="../elements/id-a8353fbce8a2462cbfeeb3256c2644ae.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1b579e0c7cc64bc79679da74377d0834.html" target="element"> Informaci&#243;n del FNA: vista de Contexto y vista de Segmento </a> </td>
											    <td> <a href="../elements/id-1b579e0c7cc64bc79679da74377d0834.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3a761e2e2b5a482ba36c9143a73aa197.html" target="element"> Tecnolog&#237;a del FNA: vista de tecnolog&#237;a, vista de informaci&#243;n, vista de integraci&#243;n </a> </td>
											    <td> <a href="../elements/id-3a761e2e2b5a482ba36c9143a73aa197.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e3516afc6c584cbca0b0d61bb71eb053.html" target="element"> M&#233;todo de diagn&#243;stico madurez </a> </td>
											    <td> <a href="../elements/id-e3516afc6c584cbca0b0d61bb71eb053.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-184b988d263041659049f0b3f4cf0388.html" target="element"> Repositorio SOA del FNA </a> </td>
											    <td> <a href="../elements/id-184b988d263041659049f0b3f4cf0388.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f958bf35987948e0bb7a203732f33387.html" target="element"> &#205;ndice de madurez FNA </a> </td>
													    <td> <a href="../elements/id-f958bf35987948e0bb7a203732f33387.html" target="element" class="i18n-elementtype-Value"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a6a6f15622b1417fb9524cc917904b8b.html" target="element"> Brechas madurez SOA </a> </td>
													    <td> <a href="../elements/id-a6a6f15622b1417fb9524cc917904b8b.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cab04f4b3c6f48b5852aa53ee184f0d5.html" target="element"> Hoja de ruta SOA </a> </td>
													    <td> <a href="../elements/id-cab04f4b3c6f48b5852aa53ee184f0d5.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9867b82a9b29427da0bb9e510d8d8c4e.html" target="element"> Estrategia SOA del FNA </a> </td>
													    <td> <a href="../elements/id-9867b82a9b29427da0bb9e510d8d8c4e.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c6ddc85a5c74488f9b99deefe6d61fc0.html" target="element"> salida </a> </td>
																		<td> <a href="../elements/id-c6ddc85a5c74488f9b99deefe6d61fc0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a8353fbce8a2462cbfeeb3256c2644ae.html" target="element"> Diagnosticar Madurez SOA del FNA </a> </td>
																		<td> <a href="../elements/id-a6a6f15622b1417fb9524cc917904b8b.html" target="element"> Brechas madurez SOA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ef003187645d4160b6719a510bf4fac8.html" target="element"> salida </a> </td>
																		<td> <a href="../elements/id-ef003187645d4160b6719a510bf4fac8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a8353fbce8a2462cbfeeb3256c2644ae.html" target="element"> Diagnosticar Madurez SOA del FNA </a> </td>
																		<td> <a href="../elements/id-cab04f4b3c6f48b5852aa53ee184f0d5.html" target="element"> Hoja de ruta SOA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ee58fd97549142f1ab1aba0a4969edef.html" target="element"> objetivos negocio OBJ1...3 </a> </td>
																		<td> <a href="../elements/id-ee58fd97549142f1ab1aba0a4969edef.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-1b579e0c7cc64bc79679da74377d0834.html" target="element"> Informaci&#243;n del FNA: vista de Contexto y vista de Segmento </a> </td>
																		<td> <a href="../elements/id-a8353fbce8a2462cbfeeb3256c2644ae.html" target="element"> Diagnosticar Madurez SOA del FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5a0ce5ee68a34051b486a4e894144cd7.html" target="element"> requerimientos estrat&#233;gicos </a> </td>
																		<td> <a href="../elements/id-5a0ce5ee68a34051b486a4e894144cd7.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-1b579e0c7cc64bc79679da74377d0834.html" target="element"> Informaci&#243;n del FNA: vista de Contexto y vista de Segmento </a> </td>
																		<td> <a href="../elements/id-a8353fbce8a2462cbfeeb3256c2644ae.html" target="element"> Diagnosticar Madurez SOA del FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-46867e07abef4ebbaaf1a032ea21aa83.html" target="element"> problem&#225;ticas actuales </a> </td>
																		<td> <a href="../elements/id-46867e07abef4ebbaaf1a032ea21aa83.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-1b579e0c7cc64bc79679da74377d0834.html" target="element"> Informaci&#243;n del FNA: vista de Contexto y vista de Segmento </a> </td>
																		<td> <a href="../elements/id-a8353fbce8a2462cbfeeb3256c2644ae.html" target="element"> Diagnosticar Madurez SOA del FNA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ff58ec414e794639a4b4c723aba530d8.html" target="element"> est&#225;ndares TI </a> </td>
																		<td> <a href="../elements/id-ff58ec414e794639a4b4c723aba530d8.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-3a761e2e2b5a482ba36c9143a73aa197.html" target="element"> Tecnolog&#237;a del FNA: vista de tecnolog&#237;a, vista de informaci&#243;n, vista de integraci&#243;n </a> </td>
																		<td> <a href="../elements/id-a8353fbce8a2462cbfeeb3256c2644ae.html" target="element"> Diagnosticar Madurez SOA del FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-17f0da4caa1f4d4f95ade9408ad84cf7.html" target="element"> entrevistas y decisiones dise&#241;o </a> </td>
																		<td> <a href="../elements/id-17f0da4caa1f4d4f95ade9408ad84cf7.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-3a761e2e2b5a482ba36c9143a73aa197.html" target="element"> Tecnolog&#237;a del FNA: vista de tecnolog&#237;a, vista de informaci&#243;n, vista de integraci&#243;n </a> </td>
																		<td> <a href="../elements/id-a8353fbce8a2462cbfeeb3256c2644ae.html" target="element"> Diagnosticar Madurez SOA del FNA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-59b4629345f74f11a496bc61bcc34ee3.html" target="element"> cuestionarios </a> </td>
																		<td> <a href="../elements/id-59b4629345f74f11a496bc61bcc34ee3.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-e3516afc6c584cbca0b0d61bb71eb053.html" target="element"> M&#233;todo de diagn&#243;stico madurez </a> </td>
																		<td> <a href="../elements/id-a8353fbce8a2462cbfeeb3256c2644ae.html" target="element"> Diagnosticar Madurez SOA del FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ff04082e105c497082311ec3f97363be.html" target="element"> listas chequeo </a> </td>
																		<td> <a href="../elements/id-ff04082e105c497082311ec3f97363be.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-e3516afc6c584cbca0b0d61bb71eb053.html" target="element"> M&#233;todo de diagn&#243;stico madurez </a> </td>
																		<td> <a href="../elements/id-a8353fbce8a2462cbfeeb3256c2644ae.html" target="element"> Diagnosticar Madurez SOA del FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eb1897cf16344a3ea6df8022592ce192.html" target="element"> m&#233;tricas y c&#225;lculos  </a> </td>
																		<td> <a href="../elements/id-eb1897cf16344a3ea6df8022592ce192.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-e3516afc6c584cbca0b0d61bb71eb053.html" target="element"> M&#233;todo de diagn&#243;stico madurez </a> </td>
																		<td> <a href="../elements/id-a8353fbce8a2462cbfeeb3256c2644ae.html" target="element"> Diagnosticar Madurez SOA del FNA </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-946ffea6bc7447b4b4ba84bcb09e9343.html" target="element"> salida </a> </td>
																				<td> <a href="../elements/id-946ffea6bc7447b4b4ba84bcb09e9343.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-f958bf35987948e0bb7a203732f33387.html" target="element"> &#205;ndice de madurez FNA </a> </td>
																				<td> <a href="../elements/id-a8353fbce8a2462cbfeeb3256c2644ae.html" target="element"> Diagnosticar Madurez SOA del FNA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-41291c33e0be4007b27a07b979345eeb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-41291c33e0be4007b27a07b979345eeb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-f958bf35987948e0bb7a203732f33387.html" target="element"> &#205;ndice de madurez FNA </a> </td>
																				<td> <a href="../elements/id-9867b82a9b29427da0bb9e510d8d8c4e.html" target="element"> Estrategia SOA del FNA </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2228d8e8f3e440078fd822246f1a14bc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2228d8e8f3e440078fd822246f1a14bc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-a6a6f15622b1417fb9524cc917904b8b.html" target="element"> Brechas madurez SOA </a> </td>
																				<td> <a href="../elements/id-9867b82a9b29427da0bb9e510d8d8c4e.html" target="element"> Estrategia SOA del FNA </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-14607088b3b44f24919f07250ae42cba.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-14607088b3b44f24919f07250ae42cba.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-cab04f4b3c6f48b5852aa53ee184f0d5.html" target="element"> Hoja de ruta SOA </a> </td>
																				<td> <a href="../elements/id-9867b82a9b29427da0bb9e510d8d8c4e.html" target="element"> Estrategia SOA del FNA </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9e6c91b5794a4f16bcd011a7ca1df4e8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9e6c91b5794a4f16bcd011a7ca1df4e8.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/id-cab04f4b3c6f48b5852aa53ee184f0d5.html" target="element"> Hoja de ruta SOA </a> </td>
																				<td> <a href="../elements/id-184b988d263041659049f0b3f4cf0388.html" target="element"> Repositorio SOA del FNA </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-94f0f0bf5abe4906ba57805073617400.html" target="element"> proceso iterativo </a> </td>
																				<td> <a href="../elements/id-94f0f0bf5abe4906ba57805073617400.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/id-9867b82a9b29427da0bb9e510d8d8c4e.html" target="element"> Estrategia SOA del FNA </a> </td>
																				<td> <a href="../elements/id-e3516afc6c584cbca0b0d61bb71eb053.html" target="element"> M&#233;todo de diagn&#243;stico madurez </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4ecf9e0877ee4a3bae20dace72297b09.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4ecf9e0877ee4a3bae20dace72297b09.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-9867b82a9b29427da0bb9e510d8d8c4e.html" target="element"> Estrategia SOA del FNA </a> </td>
																				<td> <a href="../elements/id-184b988d263041659049f0b3f4cf0388.html" target="element"> Repositorio SOA del FNA </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>