<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Gobierno SOA. 9n. SOA y EA</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Gobierno SOA. 9n. SOA y EA</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-cc7e58135cfd4684ad8e3b753dade75b.png" alt="Gobierno SOA. 9n. SOA y EA" usemap="#id-cc7e58135cfd4684ad8e3b753dade75bmap"/>
			   <map name="id-cc7e58135cfd4684ad8e3b753dade75bmap">
				  		<area shape="rect" coords="20,884,872,994" href="../elements/id-aec86005e8174fb99a03e8a03e5b9160.html"  target="element">
				          <area shape="rect" coords="1018,20,1268,94" href="../objects/id-3a92723b343e4b779dd4d687ce484d3a.html" target="element" >
				          <area shape="rect" coords="20,20,390,94" href="../objects/id-459d1530cba84fb198e1121e8ac7997c.html" target="element" >
				  		<area shape="rect" coords="1028,738,1268,848" href="../elements/id-c107de66ff3845d9a591e21014d7f787.html"  target="element">
				  		<area shape="rect" coords="1028,594,1268,704" href="../elements/id-163bf49bbeb84c3a970a63a45b8ea4bd.html"  target="element">
				  		<area shape="rect" coords="1028,884,1268,994" href="../elements/id-4a2a4f76c72e442bb6cb58a1e99e14f2.html"  target="element">
				  		<area shape="rect" coords="1412,260,1652,370" href="../elements/id-6586276c02a540a1abb03ccf31449417.html"  target="element">
				  		<area shape="rect" coords="1018,116,1268,516" href="../elements/id-d150167d756b4f86bf8ff2c7060f1139.html"  target="element">
				  		<area shape="rect" coords="1412,406,1652,516" href="../elements/id-615ffd69cbce44d0bc6bdfdfd4a83f7c.html"  target="element">
				  		<area shape="rect" coords="1412,116,1652,226" href="../elements/id-2aa5b2d948214ba493d74b288d35ce75.html"  target="element">
				  				<area shape="rect" coords="68,332,308,442" href="../elements/id-798d2b9345ea434d858584c787f7563e.html"  target="element">
				  				<area shape="rect" coords="342,212,582,322" href="../elements/id-2ab339ea152f4d2aa969e22d2b6d58cc.html"  target="element">
				  				<area shape="rect" coords="342,332,582,442" href="../elements/id-ca47e2a129e34643a1bb92dce414c363.html"  target="element">
				  				<area shape="rect" coords="604,212,844,322" href="../elements/id-5666c1528f0641e28e0e084248e0d756.html"  target="element">
				  				<area shape="rect" coords="68,212,308,322" href="../elements/id-3c7f1828e4e8422882d9e4baae162fa5.html"  target="element">

				  		<area shape="rect" coords="20,116,872,516" href="../elements/id-8aee25f178de4373bfdf7271e60a5fee.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8aee25f178de4373bfdf7271e60a5fee.html" target="element"> Arquitectura Empresarial (disciplina) </a> </td>
											    <td> <a href="../elements/id-8aee25f178de4373bfdf7271e60a5fee.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3c7f1828e4e8422882d9e4baae162fa5.html" target="element"> Operaci&#243;n de la empresa </a> </td>
													    <td> <a href="../elements/id-3c7f1828e4e8422882d9e4baae162fa5.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5666c1528f0641e28e0e084248e0d756.html" target="element"> Recursos (personas) </a> </td>
													    <td> <a href="../elements/id-5666c1528f0641e28e0e084248e0d756.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ca47e2a129e34643a1bb92dce414c363.html" target="element"> Tecnolog&#237;as TIC </a> </td>
													    <td> <a href="../elements/id-ca47e2a129e34643a1bb92dce414c363.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2ab339ea152f4d2aa969e22d2b6d58cc.html" target="element"> Finanzas empresa </a> </td>
													    <td> <a href="../elements/id-2ab339ea152f4d2aa969e22d2b6d58cc.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-798d2b9345ea434d858584c787f7563e.html" target="element"> Tecnolog&#237;as producci&#243;n </a> </td>
													    <td> <a href="../elements/id-798d2b9345ea434d858584c787f7563e.html" target="element" class="i18n-elementtype-ValueStream"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2aa5b2d948214ba493d74b288d35ce75.html" target="element"> Gesti&#243;n TI </a> </td>
											    <td> <a href="../elements/id-2aa5b2d948214ba493d74b288d35ce75.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-615ffd69cbce44d0bc6bdfdfd4a83f7c.html" target="element"> Soluciones y servicios  </a> </td>
											    <td> <a href="../elements/id-615ffd69cbce44d0bc6bdfdfd4a83f7c.html" target="element" class="i18n-elementtype-Value"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d150167d756b4f86bf8ff2c7060f1139.html" target="element"> SOA </a> </td>
											    <td> <a href="../elements/id-d150167d756b4f86bf8ff2c7060f1139.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6586276c02a540a1abb03ccf31449417.html" target="element"> Otras empresas </a> </td>
											    <td> <a href="../elements/id-6586276c02a540a1abb03ccf31449417.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4a2a4f76c72e442bb6cb58a1e99e14f2.html" target="element"> Otras </a> </td>
											    <td> <a href="../elements/id-4a2a4f76c72e442bb6cb58a1e99e14f2.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-163bf49bbeb84c3a970a63a45b8ea4bd.html" target="element"> DevOps </a> </td>
											    <td> <a href="../elements/id-163bf49bbeb84c3a970a63a45b8ea4bd.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c107de66ff3845d9a591e21014d7f787.html" target="element"> Scrum </a> </td>
											    <td> <a href="../elements/id-c107de66ff3845d9a591e21014d7f787.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-459d1530cba84fb198e1121e8ac7997c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-459d1530cba84fb198e1121e8ac7997c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3a92723b343e4b779dd4d687ce484d3a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3a92723b343e4b779dd4d687ce484d3a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-aec86005e8174fb99a03e8a03e5b9160.html" target="element"> Agilismo (lean x) </a> </td>
											    <td> <a href="../elements/id-aec86005e8174fb99a03e8a03e5b9160.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-7d9380af23e74683a675db12278ce337.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7d9380af23e74683a675db12278ce337.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-8aee25f178de4373bfdf7271e60a5fee.html" target="element"> Arquitectura Empresarial (disciplina) </a> </td>
																		<td> <a href="../elements/id-3c7f1828e4e8422882d9e4baae162fa5.html" target="element"> Operaci&#243;n de la empresa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a02683c0576d43869a3e7a18e667a90f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a02683c0576d43869a3e7a18e667a90f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-8aee25f178de4373bfdf7271e60a5fee.html" target="element"> Arquitectura Empresarial (disciplina) </a> </td>
																		<td> <a href="../elements/id-2ab339ea152f4d2aa969e22d2b6d58cc.html" target="element"> Finanzas empresa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d9741bb5185f4c9a9a04761aa65aaf94.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d9741bb5185f4c9a9a04761aa65aaf94.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-8aee25f178de4373bfdf7271e60a5fee.html" target="element"> Arquitectura Empresarial (disciplina) </a> </td>
																		<td> <a href="../elements/id-5666c1528f0641e28e0e084248e0d756.html" target="element"> Recursos (personas) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ed0a2f02e09f41f7b2050ea96716490e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed0a2f02e09f41f7b2050ea96716490e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-8aee25f178de4373bfdf7271e60a5fee.html" target="element"> Arquitectura Empresarial (disciplina) </a> </td>
																		<td> <a href="../elements/id-798d2b9345ea434d858584c787f7563e.html" target="element"> Tecnolog&#237;as producci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ceb6d5d0650b4023a3f402d9c2965604.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ceb6d5d0650b4023a3f402d9c2965604.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-8aee25f178de4373bfdf7271e60a5fee.html" target="element"> Arquitectura Empresarial (disciplina) </a> </td>
																		<td> <a href="../elements/id-ca47e2a129e34643a1bb92dce414c363.html" target="element"> Tecnolog&#237;as TIC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8bc936db25ae43acb5fd71aa75dc894c.html" target="element"> otras t&#233;cnicas </a> </td>
																		<td> <a href="../elements/id-8bc936db25ae43acb5fd71aa75dc894c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-8aee25f178de4373bfdf7271e60a5fee.html" target="element"> Arquitectura Empresarial (disciplina) </a> </td>
																		<td> <a href="../elements/id-163bf49bbeb84c3a970a63a45b8ea4bd.html" target="element"> DevOps </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4b9ad77e274248178d492ea271466ea2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b9ad77e274248178d492ea271466ea2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-8aee25f178de4373bfdf7271e60a5fee.html" target="element"> Arquitectura Empresarial (disciplina) </a> </td>
																		<td> <a href="../elements/id-c107de66ff3845d9a591e21014d7f787.html" target="element"> Scrum </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-43d7fd8150be4b73b0b33769129555ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43d7fd8150be4b73b0b33769129555ba.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-8aee25f178de4373bfdf7271e60a5fee.html" target="element"> Arquitectura Empresarial (disciplina) </a> </td>
																		<td> <a href="../elements/id-4a2a4f76c72e442bb6cb58a1e99e14f2.html" target="element"> Otras </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-8264c403ff0747f6846936c7616a1d17.html" target="element"> t&#233;cnica elegida </a> </td>
																				<td> <a href="../elements/id-8264c403ff0747f6846936c7616a1d17.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-ca47e2a129e34643a1bb92dce414c363.html" target="element"> Tecnolog&#237;as TIC </a> </td>
																				<td> <a href="../elements/id-d150167d756b4f86bf8ff2c7060f1139.html" target="element"> SOA </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-86fdf1b6cda54e5eae6b03c88420cd98.html" target="element"> alinear </a> </td>
																		<td> <a href="../elements/id-86fdf1b6cda54e5eae6b03c88420cd98.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2aa5b2d948214ba493d74b288d35ce75.html" target="element"> Gesti&#243;n TI </a> </td>
																		<td> <a href="../elements/id-d150167d756b4f86bf8ff2c7060f1139.html" target="element"> SOA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f8bf630fa8b7482c9ad464c8df58b07b.html" target="element"> construir </a> </td>
																		<td> <a href="../elements/id-f8bf630fa8b7482c9ad464c8df58b07b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-615ffd69cbce44d0bc6bdfdfd4a83f7c.html" target="element"> Soluciones y servicios  </a> </td>
																		<td> <a href="../elements/id-d150167d756b4f86bf8ff2c7060f1139.html" target="element"> SOA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-22668a17873f40bf9839dad4c0cae2c3.html" target="element"> extender </a> </td>
																		<td> <a href="../elements/id-22668a17873f40bf9839dad4c0cae2c3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6586276c02a540a1abb03ccf31449417.html" target="element"> Otras empresas </a> </td>
																		<td> <a href="../elements/id-d150167d756b4f86bf8ff2c7060f1139.html" target="element"> SOA </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-7cbb1444fbde4f0dbf318f537d28bd2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7cbb1444fbde4f0dbf318f537d28bd2f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-aec86005e8174fb99a03e8a03e5b9160.html" target="element"> Agilismo (lean x) </a> </td>
																		<td> <a href="../elements/id-4a2a4f76c72e442bb6cb58a1e99e14f2.html" target="element"> Otras </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>