<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Gobierno SOA. 6n. Comité</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Gobierno SOA. 6n. Comit&#233;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f537a399a9ff4186bc295e1096084d85.png" alt="Gobierno SOA. 6n. Comité" usemap="#id-f537a399a9ff4186bc295e1096084d85map"/>
			   <map name="id-f537a399a9ff4186bc295e1096084d85map">
				          <area shape="rect" coords="20,20,478,284" href="../objects/id-efd5307aeb4946a0bebd78007c1b2d95.html" target="element" >
				  		<area shape="rect" coords="832,1100,1072,1210" href="../elements/id-3cd8fc7b50cd4cfeb3ffe6fa68de325d.html"  target="element">
				  		<area shape="rect" coords="572,1100,812,1210" href="../elements/id-77b19f8073d64270903f5260e6132a13.html"  target="element">
				  		<area shape="rect" coords="304,1100,544,1210" href="../elements/id-ac1fada07c2045f09303174ee81e4827.html"  target="element">
				  		<area shape="rect" coords="44,1100,284,1210" href="../elements/id-311f01d041214dc38e5fb7ff8ce6085c.html"  target="element">
				  		<area shape="rect" coords="44,980,1072,1090" href="../elements/id-a5f45b0037b349a68b6147d7873a88dd.html"  target="element">
				  		<area shape="rect" coords="1124,356,1534,466" href="../elements/id-c24288c006ba4ea79b3325b2924d4040.html"  target="element">
				  		<area shape="rect" coords="832,716,1072,826" href="../elements/id-acf3ffe0645c49ab8eb451f86072ef33.html"  target="element">
				  		<area shape="rect" coords="572,716,812,826" href="../elements/id-33d24c5bb9f0497c9bb772c6e48a4bb1.html"  target="element">
				  		<area shape="rect" coords="304,716,526,826" href="../elements/id-a9c30a020c1242f89328166ddf7bed96.html"  target="element">
				  		<area shape="rect" coords="44,716,284,826" href="../elements/id-8d0860904bbe437b951d1238bf014fa0.html"  target="element">
				  		<area shape="rect" coords="188,356,858,466" href="../elements/id-d150a68322ce4642a10c950b4d30ceff.html"  target="element">
				  		<area shape="rect" coords="44,548,1072,658" href="../elements/id-4f624d70aff54dbb9330248c8fae566d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4f624d70aff54dbb9330248c8fae566d.html" target="element"> Equipo de Arquitectura FNA </a> </td>
											    <td> <a href="../elements/id-4f624d70aff54dbb9330248c8fae566d.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d150a68322ce4642a10c950b4d30ceff.html" target="element"> Comit&#233; de Arquitectura / Gobierno SOA del FNA </a> </td>
											    <td> <a href="../elements/id-d150a68322ce4642a10c950b4d30ceff.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8d0860904bbe437b951d1238bf014fa0.html" target="element"> Arquitecto SOA </a> </td>
											    <td> <a href="../elements/id-8d0860904bbe437b951d1238bf014fa0.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a9c30a020c1242f89328166ddf7bed96.html" target="element"> Arquitecto TI </a> </td>
											    <td> <a href="../elements/id-a9c30a020c1242f89328166ddf7bed96.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-33d24c5bb9f0497c9bb772c6e48a4bb1.html" target="element"> Arquitecto Aplicaciones </a> </td>
											    <td> <a href="../elements/id-33d24c5bb9f0497c9bb772c6e48a4bb1.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-acf3ffe0645c49ab8eb451f86072ef33.html" target="element"> Arquitecto Informaci&#243;n (datos) </a> </td>
											    <td> <a href="../elements/id-acf3ffe0645c49ab8eb451f86072ef33.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c24288c006ba4ea79b3325b2924d4040.html" target="element"> Comit&#233; de Control de Cambios FNA (Res. 076, 2022) </a> </td>
											    <td> <a href="../elements/id-c24288c006ba4ea79b3325b2924d4040.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a5f45b0037b349a68b6147d7873a88dd.html" target="element"> Equipo / Roles Tecnolog&#237;a FNA </a> </td>
											    <td> <a href="../elements/id-a5f45b0037b349a68b6147d7873a88dd.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-311f01d041214dc38e5fb7ff8ce6085c.html" target="element"> Ger. Digital </a> </td>
											    <td> <a href="../elements/id-311f01d041214dc38e5fb7ff8ce6085c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac1fada07c2045f09303174ee81e4827.html" target="element"> Ger. Sistemas de Informaci&#243;n </a> </td>
											    <td> <a href="../elements/id-ac1fada07c2045f09303174ee81e4827.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-77b19f8073d64270903f5260e6132a13.html" target="element"> Ger. Servicios de Infraestructura </a> </td>
											    <td> <a href="../elements/id-77b19f8073d64270903f5260e6132a13.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3cd8fc7b50cd4cfeb3ffe6fa68de325d.html" target="element"> Ger. Anal&#237;tica de datos </a> </td>
											    <td> <a href="../elements/id-3cd8fc7b50cd4cfeb3ffe6fa68de325d.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-efd5307aeb4946a0bebd78007c1b2d95.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-efd5307aeb4946a0bebd78007c1b2d95.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0c6b8298e4b041ceb045d506d3c145d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0c6b8298e4b041ceb045d506d3c145d4.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-4f624d70aff54dbb9330248c8fae566d.html" target="element"> Equipo de Arquitectura FNA </a> </td>
																		<td> <a href="../elements/id-d150a68322ce4642a10c950b4d30ceff.html" target="element"> Comit&#233; de Arquitectura / Gobierno SOA del FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-000c9260522446b6b2b918dc65cd8b65.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-000c9260522446b6b2b918dc65cd8b65.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-4f624d70aff54dbb9330248c8fae566d.html" target="element"> Equipo de Arquitectura FNA </a> </td>
																		<td> <a href="../elements/id-8d0860904bbe437b951d1238bf014fa0.html" target="element"> Arquitecto SOA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-501cfde215d54711bbd6342e4d653890.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-501cfde215d54711bbd6342e4d653890.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-4f624d70aff54dbb9330248c8fae566d.html" target="element"> Equipo de Arquitectura FNA </a> </td>
																		<td> <a href="../elements/id-a9c30a020c1242f89328166ddf7bed96.html" target="element"> Arquitecto TI </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3a3a401ebb35453496bffb5144a20579.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a3a401ebb35453496bffb5144a20579.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-4f624d70aff54dbb9330248c8fae566d.html" target="element"> Equipo de Arquitectura FNA </a> </td>
																		<td> <a href="../elements/id-33d24c5bb9f0497c9bb772c6e48a4bb1.html" target="element"> Arquitecto Aplicaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c19bf596b1ac41e8b814d3827a58904c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c19bf596b1ac41e8b814d3827a58904c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-4f624d70aff54dbb9330248c8fae566d.html" target="element"> Equipo de Arquitectura FNA </a> </td>
																		<td> <a href="../elements/id-acf3ffe0645c49ab8eb451f86072ef33.html" target="element"> Arquitecto Informaci&#243;n (datos) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a6ae74a7b80447c7866c106607b96f86.html" target="element"> asiste </a> </td>
																		<td> <a href="../elements/id-a6ae74a7b80447c7866c106607b96f86.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-4f624d70aff54dbb9330248c8fae566d.html" target="element"> Equipo de Arquitectura FNA </a> </td>
																		<td> <a href="../elements/id-a5f45b0037b349a68b6147d7873a88dd.html" target="element"> Equipo / Roles Tecnolog&#237;a FNA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-284ece52ae7e43969f5747374824bce0.html" target="element"> asiste </a> </td>
																		<td> <a href="../elements/id-284ece52ae7e43969f5747374824bce0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-c24288c006ba4ea79b3325b2924d4040.html" target="element"> Comit&#233; de Control de Cambios FNA (Res. 076, 2022) </a> </td>
																		<td> <a href="../elements/id-d150a68322ce4642a10c950b4d30ceff.html" target="element"> Comit&#233; de Arquitectura / Gobierno SOA del FNA </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>